2_4_6/examples/ccd-7af79fef-9a2b-4f5f-8a94-a3655b4f4e37.xsd

<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type='text/xsl' href='ccd-description.xsl'?>
<xs:schema  xmlns:xs='http://www.w3.org/2001/XMLSchema'
  xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#'
  xmlns:owl='http://www.w3.org/2002/07/owl#'
  xmlns:dc='http://purl.org/dc/elements/1.1/'
  xmlns:sawsdl='http://www.w3.org/ns/sawsdl'
  xmlns:sawsdlrdf='http://www.w3.org/ns/sawsdl#'
  xmlns:rdfs='http://www.w3.org/2000/01/rdf-schema#'
  xmlns:vc='http://www.w3.org/2007/XMLSchema-versioning'
  xmlns:mlhim2='http://www.mlhim.org/xmlns/mlhim2'
  targetNamespace='http://www.mlhim.org/xmlns/mlhim2'
  vc:minVersion='1.1'
xml:lang='en-US'>

  <!-- Include the Reference Model -->
  <xs:include schemaLocation='http://www.mlhim.org/xmlns/mlhim2/2_4_6/mlhim246.xsd'/>

  <!-- METADATA Section -->
  <xs:annotation>
    <xs:appinfo>
    <rdf:RDF>
    <rdf:Description rdf:about='http://www.ccdgen.com/ccdlib/ccd-7af79fef-9a2b-4f5f-8a94-a3655b4f4e37.xsd'>
      <dc:title>Testing 2.4.6 Implementation (Demographic)</dc:title>
      <dc:creator>Tim Cook tim@mlhim.org</dc:creator>
      <dc:contributor>None</dc:contributor>
      <dc:subject>Test 2.4.6 AdminEntry;Test 2.4.6</dc:subject>
      <dc:source>http://www.mlhim.org</dc:source>
      <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
      <dc:relation>None</dc:relation>
      <dc:coverage>Universal</dc:coverage>
      <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
      <dc:identifier>ccd-7af79fef-9a2b-4f5f-8a94-a3655b4f4e37</dc:identifier>
      <dc:description>
        Testing CCD-Gen Implementation of the MLHIM 2.4.6 RM functionality.
        This CCD was created by the CCD-Gen application.
      </dc:description>
      <dc:publisher>MLHIM LAB, UERJ</dc:publisher>
      <dc:date>2014-12-16 09:27:05.985787+00:00</dc:date>
      <dc:format>text/xml</dc:format>
      <dc:language>en-US</dc:language>
    </rdf:Description>
  <rdf:Description rdf:about='mlhim2:ct-7af79fef-9a2b-4f5f-8a94-a3655b4f4e37'>
  <rdfs:subClassOf rdf:resource='mlhim2:CCDType'/>
  <rdfs:label>Testing 2.4.6 Implementation (Demographic)</rdfs:label>
  </rdf:Description>
    </rdf:RDF>
    </xs:appinfo>
  </xs:annotation>

  <!-- CCD Root Element -->
  <xs:element name='ccd-7af79fef-9a2b-4f5f-8a94-a3655b4f4e37' type='mlhim2:ct-7af79fef-9a2b-4f5f-8a94-a3655b4f4e37'/>
  <xs:complexType name='ct-7af79fef-9a2b-4f5f-8a94-a3655b4f4e37'> <!-- Testing 2.4.6 Implementation (Demographic) -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:CCDType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-9ff6b8e1-1d33-4940-af9d-6d61e927f425'/> <!-- definition -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

    <!-- CCD Components Begin Below -->

  <xs:complexType name='ct-9ff6b8e1-1d33-4940-af9d-6d61e927f425'> <!-- Test 2.4.6 DemographicEntry -->
    <xs:annotation>
    <xs:documentation>
      DemographicEntry for testing 2.4.6
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-9ff6b8e1-1d33-4940-af9d-6d61e927f425'>
    <rdfs:subClassOf rdf:resource='mlhim2:DemographicEntryType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DemographicEntryType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-159554b0-483d-4fb6-be5f-a97282374190'/> <!-- entry-links -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-623ea6b7-0be7-4628-9680-97d7dd883a4c'/> <!-- entry-links -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-dd7462f6-44af-485d-b2ba-7233173b7d67'/> <!-- entry-audit -->
          <xs:element maxOccurs='1' minOccurs='1' name='language' type='xs:language' fixed='en-US'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' fixed='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-f65a6791-677e-43dd-91d9-242fc3b95676'/> <!-- entry-subject -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-324f2395-9742-4433-9c87-bac5f039ab42'/> <!-- entry-provider -->
        <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-62171273-a62b-41dd-8917-552f16e10bf7'/> <!-- other-participations -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-45ff9487-53a8-4c57-b53d-07b971ea90e2'/> <!--  -->
          <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string' default='testing me'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-720cd9bd-ad0d-41cd-8556-d4cafd7e2580'/> <!-- workflow-id -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-0454a6a1-9bb6-4b82-b4e2-170c4d6f8866'/> <!-- attestation -->
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-1baed200-a277-4cec-8ebb-a52ed84dd962'/> <!-- entry-data -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-159554b0-483d-4fb6-be5f-a97282374190' xml:lang='en-US'> <!-- attached to - Test 2.4.6 -->
    <xs:annotation>
    <xs:documentation>
      attached to
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-159554b0-483d-4fb6-be5f-a97282374190'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvURIType'/>
    <rdfs:label>attached to - Test 2.4.6</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002371'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvURIType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="attached to - Test 2.4.6"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvURI-dv' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='http://purl.obolibrary.org/obo/RO_0002371'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-623ea6b7-0be7-4628-9680-97d7dd883a4c' xml:lang='en-US'> <!-- Connected To - Test 2.4.6 -->
    <xs:annotation>
    <xs:documentation>
       X connected_to Y if and only if X and Y share a fiat boundary.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-623ea6b7-0be7-4628-9680-97d7dd883a4c'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvURIType'/>
    <rdfs:label>Connected To - Test 2.4.6</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002150'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvURIType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Connected To - Test 2.4.6"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvURI-dv' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='connected to'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-dd7462f6-44af-485d-b2ba-7233173b7d67' xml:lang='en-US'> <!-- Audit Test 2.4.6 -->
    <xs:annotation>
    <xs:documentation>
      Test audit for 2.4.6 CCDs
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-dd7462f6-44af-485d-b2ba-7233173b7d67'>
    <rdfs:subClassOf rdf:resource='mlhim2:AuditType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AuditType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-10195ffb-2f2b-4238-9bf4-ab801bf105e2'/> <!-- system-id -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-85a52d4b-a8fb-4d0f-a71e-1a7755d597a2'/> <!-- system-user -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-69820e0d-2bb6-479f-842e-8710e80d6123'/> <!-- location -->
          <xs:element maxOccurs='1' minOccurs='1' name='timestamp' type='xs:dateTime'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-10195ffb-2f2b-4238-9bf4-ab801bf105e2' xml:lang='en-US'> <!-- Originating System ID - Test 2.4.6 -->
    <xs:annotation>
    <xs:documentation>
      A reusable system ID for FeederAuditDetails.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-10195ffb-2f2b-4238-9bf4-ab801bf105e2'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvIdentifierType'/>
    <rdfs:label>Originating System ID - Test 2.4.6</rdfs:label>
      <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvIdentifierType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Originating System ID - Test 2.4.6"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
            <xs:element maxOccurs='1' minOccurs='1' name='id-name'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='URI'>
                  <xs:annotation>
                    <xs:appinfo>
                      URI
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ID Number'>
                  <xs:annotation>
                    <xs:appinfo>
                      ID Number
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='issuer'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Owner'/>
                  <xs:enumeration value='Owner'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='assignor'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Owner'/>
                  <xs:enumeration value='Owner'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-85a52d4b-a8fb-4d0f-a71e-1a7755d597a2' xml:lang='en-US'> <!-- Audit Details Provider (US) -->
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-85a52d4b-a8fb-4d0f-a71e-1a7755d597a2'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-0fd62504-570e-462f-866f-4a61f2de2007'/> <!-- external-ref -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-282bab25-1725-4f9a-ae05-ca9fca7ea0f6'/> <!-- details -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-0fd62504-570e-462f-866f-4a61f2de2007' xml:lang='en-US'> <!-- External Reference for Party -->
    <xs:annotation>
    <xs:documentation>
      A generic URI for use with Party to be used as a pointer to a demographic service record.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-0fd62504-570e-462f-866f-4a61f2de2007'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvURIType'/>
    <rdfs:label>External Reference for Party</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvURIType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="External Reference for Party"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvURI-dv' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='Party Associated with the record'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-282bab25-1725-4f9a-ae05-ca9fca7ea0f6'> <!-- Address Details (US) -->
    <xs:annotation>
    <xs:documentation>
      Generic Details cluster with address elements.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-282bab25-1725-4f9a-ae05-ca9fca7ea0f6'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Address Details (US)</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed="Address Details (US)"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-d24affc1-a9ff-487a-9029-204f3b4d8e7e'/><!-- DvString Additional Address Line(s) (US)  -->
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-b65ea20c-3768-45cd-a059-004ece61bc89'/><!-- DvString City Name (US) -->
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-77848a52-5adb-41b2-89d6-f8fec018c05a'/><!-- DvString Common Name / Nickname -->
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-2bb59f5a-223e-4b8e-b63f-ed8beb62849e'/><!-- DvString State Abbreviation (USPS) -->
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f'/><!-- DvString Street Number and Name (US) -->
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-13354334-0250-4041-8b6c-ac7eefa93c88'/><!-- DvString Telephone Number (US) -->
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-c64b7604-6189-412d-bb70-48baba85f366'/><!-- DvString Zip Code (US) -->
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='ct-75012737-abe7-4d4d-b745-30117d7a9678' xml:lang='en-US'> <!-- Additional Address Line(s) (US)  -->
    <xs:annotation>
    <xs:documentation>
      Used for additional address lines in the US such as building name or apartment number.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-75012737-abe7-4d4d-b745-30117d7a9678'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Additional Address Line(s) (US)</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Additional Address Line(s) (US)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-d24affc1-a9ff-487a-9029-204f3b4d8e7e' substitutionGroup='mlhim2:items' type='mlhim2:ct-d24affc1-a9ff-487a-9029-204f3b4d8e7e'/>
  <xs:complexType name='ct-d24affc1-a9ff-487a-9029-204f3b4d8e7e'> <!-- Adapter for: Additional Address Line(s) (US)  -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-75012737-abe7-4d4d-b745-30117d7a9678'/> <!-- Reference to: Additional Address Line(s) (US)  -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-d1576f04-2ef8-4095-a03c-2d2a1aa04659' xml:lang='en-US'> <!-- City Name (US) -->
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for the City name.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-d1576f04-2ef8-4095-a03c-2d2a1aa04659'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>City Name (US)</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="City Name (US)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-b65ea20c-3768-45cd-a059-004ece61bc89' substitutionGroup='mlhim2:items' type='mlhim2:ct-b65ea20c-3768-45cd-a059-004ece61bc89'/>
  <xs:complexType name='ct-b65ea20c-3768-45cd-a059-004ece61bc89'> <!-- Adapter for: City Name (US) -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-d1576f04-2ef8-4095-a03c-2d2a1aa04659'/> <!-- Reference to: City Name (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-9de2da4e-bdd1-4738-bcb9-1f9f02258de6' xml:lang='en-US'> <!-- Common Name / Nickname -->
    <xs:annotation>
    <xs:documentation>
      A name that is commonly used for a person.  Such as Jim for James or Peggy for Margaret. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-9de2da4e-bdd1-4738-bcb9-1f9f02258de6'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Common Name / Nickname</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Common Name / Nickname"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-77848a52-5adb-41b2-89d6-f8fec018c05a' substitutionGroup='mlhim2:items' type='mlhim2:ct-77848a52-5adb-41b2-89d6-f8fec018c05a'/>
  <xs:complexType name='ct-77848a52-5adb-41b2-89d6-f8fec018c05a'> <!-- Adapter for: Common Name / Nickname -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-9de2da4e-bdd1-4738-bcb9-1f9f02258de6'/> <!-- Reference to: Common Name / Nickname -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-785262d0-dbd5-40e0-93b1-8bcb7209e9d3' xml:lang='en-US'> <!-- State Abbreviation (USPS) -->
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for two character US state abbreviation.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-785262d0-dbd5-40e0-93b1-8bcb7209e9d3'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>State Abbreviation (USPS)</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="State Abbreviation (USPS)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='AL'>
                  <xs:annotation>
                    <xs:appinfo>
                      Alabama
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AK'>
                  <xs:annotation>
                    <xs:appinfo>
                      Alaska
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AS'>
                  <xs:annotation>
                    <xs:appinfo>
                      American Samoa
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AZ'>
                  <xs:annotation>
                    <xs:appinfo>
                      Arizona
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AR'>
                  <xs:annotation>
                    <xs:appinfo>
                      Arkansas
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CA'>
                  <xs:annotation>
                    <xs:appinfo>
                      California
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CO'>
                  <xs:annotation>
                    <xs:appinfo>
                      Colorado
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Connecticut
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DE'>
                  <xs:annotation>
                    <xs:appinfo>
                      Delaware
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DC'>
                  <xs:annotation>
                    <xs:appinfo>
                      District of Columbia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FM'>
                  <xs:annotation>
                    <xs:appinfo>
                      Federated States of Micronesia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FL'>
                  <xs:annotation>
                    <xs:appinfo>
                      Florida
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Georgia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GU'>
                  <xs:annotation>
                    <xs:appinfo>
                      Guam
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='HI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Hawaii
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ID'>
                  <xs:annotation>
                    <xs:appinfo>
                      Idaho
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IL'>
                  <xs:annotation>
                    <xs:appinfo>
                      Illinois
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IN'>
                  <xs:annotation>
                    <xs:appinfo>
                      Indiana
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Iowa
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KS'>
                  <xs:annotation>
                    <xs:appinfo>
                      Kansas
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KY'>
                  <xs:annotation>
                    <xs:appinfo>
                      Kentucky
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='LA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Louisiana
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ME'>
                  <xs:annotation>
                    <xs:appinfo>
                      Maine
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MH'>
                  <xs:annotation>
                    <xs:appinfo>
                      Marshall Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MD'>
                  <xs:annotation>
                    <xs:appinfo>
                      Maryland
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Massachusetts
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Michigan
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MN'>
                  <xs:annotation>
                    <xs:appinfo>
                      Minnesota
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MS'>
                  <xs:annotation>
                    <xs:appinfo>
                      Mississippi
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MO'>
                  <xs:annotation>
                    <xs:appinfo>
                      Missouri
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Montana
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NE'>
                  <xs:annotation>
                    <xs:appinfo>
                      Nebraska
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NV'>
                  <xs:annotation>
                    <xs:appinfo>
                      Nevada
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NH'>
                  <xs:annotation>
                    <xs:appinfo>
                      New Hampshire
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NJ'>
                  <xs:annotation>
                    <xs:appinfo>
                      New Jersey
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NM'>
                  <xs:annotation>
                    <xs:appinfo>
                      New Mexico
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NY'>
                  <xs:annotation>
                    <xs:appinfo>
                      New York
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NC'>
                  <xs:annotation>
                    <xs:appinfo>
                      North Carolina
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ND'>
                  <xs:annotation>
                    <xs:appinfo>
                      North Dakota
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MP'>
                  <xs:annotation>
                    <xs:appinfo>
                      Northern Mariana Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CM'>
                  <xs:annotation>
                    <xs:appinfo>
                      Northern Mariana Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OH'>
                  <xs:annotation>
                    <xs:appinfo>
                      Ohio
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OK'>
                  <xs:annotation>
                    <xs:appinfo>
                      Oklahoma
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OR'>
                  <xs:annotation>
                    <xs:appinfo>
                      Oregon
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Pennsylvania
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PR'>
                  <xs:annotation>
                    <xs:appinfo>
                      Puerto Rico
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='RI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Rhode Island
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SC'>
                  <xs:annotation>
                    <xs:appinfo>
                      South Carolina
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SD'>
                  <xs:annotation>
                    <xs:appinfo>
                      South Dakota
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TN'>
                  <xs:annotation>
                    <xs:appinfo>
                      Tennessee
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TX'>
                  <xs:annotation>
                    <xs:appinfo>
                      Texas
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Trust Territory of the Pacific Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AA'>
                  <xs:annotation>
                    <xs:appinfo>
                      U.S. Armed Forces – Americas
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AE'>
                  <xs:annotation>
                    <xs:appinfo>
                      U.S. Armed Forces – Europe
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AP'>
                  <xs:annotation>
                    <xs:appinfo>
                      U.S. Armed Forces – Pacific
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='UT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Utah
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Vermont
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Virgin Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Virginia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Washington
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WV'>
                  <xs:annotation>
                    <xs:appinfo>
                      West Virginia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Wisconsin
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WY'>
                  <xs:annotation>
                    <xs:appinfo>
                      Wyoming
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-2bb59f5a-223e-4b8e-b63f-ed8beb62849e' substitutionGroup='mlhim2:items' type='mlhim2:ct-2bb59f5a-223e-4b8e-b63f-ed8beb62849e'/>
  <xs:complexType name='ct-2bb59f5a-223e-4b8e-b63f-ed8beb62849e'> <!-- Adapter for: State Abbreviation (USPS) -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-785262d0-dbd5-40e0-93b1-8bcb7209e9d3'/> <!-- Reference to: State Abbreviation (USPS) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-134d0fc5-f1cc-4368-9944-68aefe15db5e' xml:lang='en-US'> <!-- Street Number and Name (US) -->
    <xs:annotation>
    <xs:documentation>
      A single line US Street number and name. The typical format is:
123 Main St. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-134d0fc5-f1cc-4368-9944-68aefe15db5e'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Street Number and Name (US)</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Street Number and Name (US)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f' substitutionGroup='mlhim2:items' type='mlhim2:ct-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f'/>
  <xs:complexType name='ct-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f'> <!-- Adapter for: Street Number and Name (US) -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-134d0fc5-f1cc-4368-9944-68aefe15db5e'/> <!-- Reference to: Street Number and Name (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-1554c476-2527-4ff2-9e33-e88774397ed9' xml:lang='en-US'> <!-- Telephone Number (US) -->
    <xs:annotation>
    <xs:documentation>
      A US telephone number. Exactly 12 characters; 111-111-1111 with a pattern match of "[0-9]{3}-[0-9]{3}-[0-9]{4}" 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-1554c476-2527-4ff2-9e33-e88774397ed9'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Telephone Number (US)</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Telephone Number (US)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string' default='111-111-1111'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
          <xs:assert test="matches(DvString-dv, '[0-9]{3}-[0-9]{3}-[0-9]{4}')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-13354334-0250-4041-8b6c-ac7eefa93c88' substitutionGroup='mlhim2:items' type='mlhim2:ct-13354334-0250-4041-8b6c-ac7eefa93c88'/>
  <xs:complexType name='ct-13354334-0250-4041-8b6c-ac7eefa93c88'> <!-- Adapter for: Telephone Number (US) -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-1554c476-2527-4ff2-9e33-e88774397ed9'/> <!-- Reference to: Telephone Number (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-a0580a46-e800-4313-bdd6-a61416e874db' xml:lang='en-US'> <!-- Zip Code (US) -->
    <xs:annotation>
    <xs:documentation>
      Used in address cluster for US Zip (postal) Codes. Minimum of 5 characters with a maximum of 10 characters. Accommodates the older 5 character codes or the Zip+4 with the additional 4 characters following a dash. 

Examples:
12345
12345-0987 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-a0580a46-e800-4313-bdd6-a61416e874db'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Zip Code (US)</rdfs:label>
      <rdfs:isDefinedBy rdf:resource='https%3A//www.usps.com/'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Zip Code (US)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
          <xs:assert test="matches(DvString-dv, '^\d{5}([\-]?\d{4})?$')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-c64b7604-6189-412d-bb70-48baba85f366' substitutionGroup='mlhim2:items' type='mlhim2:ct-c64b7604-6189-412d-bb70-48baba85f366'/>
  <xs:complexType name='ct-c64b7604-6189-412d-bb70-48baba85f366'> <!-- Adapter for: Zip Code (US) -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-a0580a46-e800-4313-bdd6-a61416e874db'/> <!-- Reference to: Zip Code (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-69820e0d-2bb6-479f-842e-8710e80d6123'> <!-- FAD System Location (WGS84) -->
    <xs:annotation>
    <xs:documentation>
      System Location for feeder audit details. Uses decimal format WGS84 lat/lon coordinates.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-69820e0d-2bb6-479f-842e-8710e80d6123'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>FAD System Location (WGS84)</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed="FAD System Location (WGS84)"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-84a78cf3-028b-4aff-a17c-fb485a582fbd'/><!-- DvString FAD Latitude (Decimal Format) -->
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-5e002578-74dd-4112-be3e-5754454cbf9a'/><!-- DvString FAD Longitude (Decimal Format) -->
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='ct-dcd79d5e-c634-43d0-b17b-a7b340ca182d' xml:lang='en-US'> <!-- FAD Latitude (Decimal Format) -->
    <xs:annotation>
    <xs:documentation>
      Matches a latitude in the range of -90 to 90 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-dcd79d5e-c634-43d0-b17b-a7b340ca182d'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>FAD Latitude (Decimal Format)</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="FAD Latitude (Decimal Format)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
          <xs:assert test="matches(DvString-dv, '^-?([1-8]?[0-9]\.{1}\d{1,6}$|90\.{1}0{1,6}$)')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-84a78cf3-028b-4aff-a17c-fb485a582fbd' substitutionGroup='mlhim2:items' type='mlhim2:ct-84a78cf3-028b-4aff-a17c-fb485a582fbd'/>
  <xs:complexType name='ct-84a78cf3-028b-4aff-a17c-fb485a582fbd'> <!-- Adapter for: FAD Latitude (Decimal Format) -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-dcd79d5e-c634-43d0-b17b-a7b340ca182d'/> <!-- Reference to: FAD Latitude (Decimal Format) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-5a29657a-477f-407b-82a8-3dd8c04f1e55' xml:lang='en-US'> <!-- FAD Longitude (Decimal Format) -->
    <xs:annotation>
    <xs:documentation>
      Matches a longitude in the range of -180 to 180 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-5a29657a-477f-407b-82a8-3dd8c04f1e55'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>FAD Longitude (Decimal Format)</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="FAD Longitude (Decimal Format)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
          <xs:assert test="matches(DvString-dv, '^-?((([1]?[0-7][0-9]|[1-9]?[0-9])\.{1}\d{1,6}$)|[1]?[1-8][0]\.{1}0{1,6}$)')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-5e002578-74dd-4112-be3e-5754454cbf9a' substitutionGroup='mlhim2:items' type='mlhim2:ct-5e002578-74dd-4112-be3e-5754454cbf9a'/>
  <xs:complexType name='ct-5e002578-74dd-4112-be3e-5754454cbf9a'> <!-- Adapter for: FAD Longitude (Decimal Format) -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-5a29657a-477f-407b-82a8-3dd8c04f1e55'/> <!-- Reference to: FAD Longitude (Decimal Format) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-f65a6791-677e-43dd-91d9-242fc3b95676' xml:lang='en-US'> <!-- Subject of the Entry (US) -->
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-f65a6791-677e-43dd-91d9-242fc3b95676'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-0fd62504-570e-462f-866f-4a61f2de2007'/> <!-- external-ref -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-282bab25-1725-4f9a-ae05-ca9fca7ea0f6'/> <!-- details -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-324f2395-9742-4433-9c87-bac5f039ab42' xml:lang='en-US'> <!-- Entry Provider (US) -->
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-324f2395-9742-4433-9c87-bac5f039ab42'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-0fd62504-570e-462f-866f-4a61f2de2007'/> <!-- external-ref -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-282bab25-1725-4f9a-ae05-ca9fca7ea0f6'/> <!-- details -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-62171273-a62b-41dd-8917-552f16e10bf7' xml:lang='en-US'> <!-- Entry Participation -->
    <xs:annotation>
    <xs:documentation>
      Entry Participation
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-62171273-a62b-41dd-8917-552f16e10bf7'>
    <rdfs:subClassOf rdf:resource='mlhim2:ParticipationType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ParticipationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-ff2a2bc6-0dac-4c4c-b640-88d2b43da907'/> <!-- performer -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-9e2b50ec-6840-471f-ae26-7e86231b42af'/> <!-- function -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-a87513c2-c768-4cd8-bfae-8333c3690be6'/> <!-- mode -->
          <xs:element maxOccurs='1' minOccurs='0' name='start-time' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='end-time' type='xs:dateTime'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-ff2a2bc6-0dac-4c4c-b640-88d2b43da907' xml:lang='en-US'> <!-- Participation Performer -->
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-ff2a2bc6-0dac-4c4c-b640-88d2b43da907'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-0fd62504-570e-462f-866f-4a61f2de2007'/> <!-- external-ref -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-282bab25-1725-4f9a-ae05-ca9fca7ea0f6'/> <!-- details -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-9e2b50ec-6840-471f-ae26-7e86231b42af' xml:lang='en-US'> <!-- Participation Function -->
    <xs:annotation>
    <xs:documentation>
      Participation Function
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-9e2b50ec-6840-471f-ae26-7e86231b42af'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvCodedStringType'/>
    <rdfs:label>Participation Function</rdfs:label>
      <rdfs:isDefinedBy rdf:resource='http%3A//xmlns.com/foaf/spec/%23glance'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Participation Function"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Agent'/>
                <xs:enumeration value='Group'/>
                <xs:enumeration value='Organization'/>
                <xs:enumeration value='Person'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='FOAF'/>
                <xs:enumeration value='FOAF'/>
                <xs:enumeration value='FOAF'/>
                <xs:enumeration value='FOAF'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Friend Of A Friend'/>
                <xs:enumeration value='Friend Of A Friend'/>
                <xs:enumeration value='Friend Of A Friend'/>
                <xs:enumeration value='Friend Of A Friend'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='0.98'/>
                <xs:enumeration value='0.98'/>
                <xs:enumeration value='0.98'/>
                <xs:enumeration value='0.98'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Agent'>
                  <xs:annotation>
                    <xs:appinfo>
                      Agent
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Group'>
                  <xs:annotation>
                    <xs:appinfo>
                      Group
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Organization'>
                  <xs:annotation>
                    <xs:appinfo>
                      Organization
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Person'>
                  <xs:annotation>
                    <xs:appinfo>
                      Person
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-a87513c2-c768-4cd8-bfae-8333c3690be6' xml:lang='en-US'> <!-- Participation Mode -->
    <xs:annotation>
    <xs:documentation>
      A generic definition that the participation mode is some type of agent. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-a87513c2-c768-4cd8-bfae-8333c3690be6'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvCodedStringType'/>
    <rdfs:label>Participation Mode</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Participation Mode"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Agent'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='FOAF'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Friend Of A Friend'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='0.98'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Agent'>
                  <xs:annotation>
                    <xs:appinfo>
                      Agent
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-45ff9487-53a8-4c57-b53d-07b971ea90e2' xml:lang='en-US'> <!-- Generic Protocol ID - Test 2.4.6 -->
    <xs:annotation>
    <xs:documentation>
      A reusable system ID for Entry Protocol ID.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-45ff9487-53a8-4c57-b53d-07b971ea90e2'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvIdentifierType'/>
    <rdfs:label>Generic Protocol ID - Test 2.4.6</rdfs:label>
      <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvIdentifierType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Generic Protocol ID - Test 2.4.6"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
            <xs:element maxOccurs='1' minOccurs='1' name='id-name'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Protocal ID'>
                  <xs:annotation>
                    <xs:appinfo>
                      Protocal ID
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='issuer'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Owner'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='assignor'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Owner'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-720cd9bd-ad0d-41cd-8556-d4cafd7e2580' xml:lang='en-US'> <!-- Workflow ID - Test 2.4.6 -->
    <xs:annotation>
    <xs:documentation>
      The link points to the workflow definition
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-720cd9bd-ad0d-41cd-8556-d4cafd7e2580'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvURIType'/>
    <rdfs:label>Workflow ID - Test 2.4.6</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/IAO_0000178'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvURIType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Workflow ID - Test 2.4.6"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvURI-dv' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='material information bearer'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-0454a6a1-9bb6-4b82-b4e2-170c4d6f8866' xml:lang='en-US'> <!-- Attestation -->
    <xs:annotation>
    <xs:documentation>
      A generic attestation. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-0454a6a1-9bb6-4b82-b4e2-170c4d6f8866'>
    <rdfs:subClassOf rdf:resource='mlhim2:AttestationType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AttestationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-3cc25084-c524-4fcc-91ee-43af6ffc7f4b'/> <!-- attested-view -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-8b34a627-8165-4088-a30a-cb8fa67fcc81'/> <!-- proof -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-1e290419-e6dc-4d16-8e5e-90313e9e1a92'/> <!-- reason -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-18e26df4-e216-4caa-aab5-6437a5186abf'/> <!-- committer -->
          <xs:element maxOccurs='1' minOccurs='0' name='time-committed' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' default='true' name='is-pending' type='xs:boolean'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-3cc25084-c524-4fcc-91ee-43af6ffc7f4b' xml:lang='en-US'> <!-- Attestation View -->
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation view.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-3cc25084-c524-4fcc-91ee-43af6ffc7f4b'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvMediaType'/>
    <rdfs:label>Attestation View</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvMediaType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Attestation View"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='mime-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='compression-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-result' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-function' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' name='alt-txt' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' name='uri' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='0' name='media-content' type='xs:base64Binary'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-8b34a627-8165-4088-a30a-cb8fa67fcc81' xml:lang='en-US'> <!-- Proof -->
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation proof document.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-8b34a627-8165-4088-a30a-cb8fa67fcc81'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvParsableType'/>
    <rdfs:label>Proof</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvParsableType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Proof"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='DvParsable-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1' name='formalism' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-1e290419-e6dc-4d16-8e5e-90313e9e1a92' xml:lang='en-US'> <!-- Attestation Reason -->
    <xs:annotation>
    <xs:documentation>
      A finalized release of some information entity.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-1e290419-e6dc-4d16-8e5e-90313e9e1a92'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvCodedStringType'/>
    <rdfs:label>Attestation Reason</rdfs:label>
      <rdfs:isDefinedBy rdf:resource='http%3A//usefulinc.com/ns/doap%2523release'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Attestation Reason"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='release'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='DOAP'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Description of a Project'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='0.1'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='release'>
                  <xs:annotation>
                    <xs:appinfo>
                      release
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-18e26df4-e216-4caa-aab5-6437a5186abf' xml:lang='en-US'> <!-- Attestation Committer -->
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-18e26df4-e216-4caa-aab5-6437a5186abf'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-0fd62504-570e-462f-866f-4a61f2de2007'/> <!-- external-ref -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-282bab25-1725-4f9a-ae05-ca9fca7ea0f6'/> <!-- details -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-1baed200-a277-4cec-8ebb-a52ed84dd962'> <!-- Test 2.4.6 : DemographicEntry entry-data -->
    <xs:annotation>
    <xs:documentation>
      Test 2.4.6 : DemographicEntry entry-data
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-1baed200-a277-4cec-8ebb-a52ed84dd962'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Test 2.4.6 : DemographicEntry entry-data</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed="Test 2.4.6 : DemographicEntry entry-data"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-697e8df2-7890-4f44-8442-e7f2beab4425'/><!-- DvBoolean Fever duration: 3 weeks or less - Test 2.4.6 -->
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-d05d35e1-4452-47a4-a7c5-58d1aac8bf64'/><!-- DvBoolean Test DvBoolean for 2.4.6 -->
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-e9cbb207-9e89-416c-8b71-7cdb859b3097'/><!-- DvString Blood Pressure Device (Test 2.4.6) -->
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-bf1ef816-124a-497b-940d-5093df04d8fe' xml:lang='en-US'> <!-- Fever duration: 3 weeks or less - Test 2.4.6 -->
    <xs:annotation>
    <xs:documentation>
      Yes/No field for the duration of the fever. It should be filled when the date of onset of the fever is not known.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-bf1ef816-124a-497b-940d-5093df04d8fe'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvBooleanType'/>
    <rdfs:label>Fever duration: 3 weeks or less - Test 2.4.6</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//bvsms.saude.gov.br/bvs/periodicos/boletim_eletronico_epi_ano04_n04.pdf'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Fever duration: 3 weeks or less - Test 2.4.6"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:choice>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-true'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='YES'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-false'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='NO'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:choice>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-697e8df2-7890-4f44-8442-e7f2beab4425' substitutionGroup='mlhim2:items' type='mlhim2:ct-697e8df2-7890-4f44-8442-e7f2beab4425'/>
  <xs:complexType name='ct-697e8df2-7890-4f44-8442-e7f2beab4425'> <!-- Adapter for: Fever duration: 3 weeks or less - Test 2.4.6 -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-bf1ef816-124a-497b-940d-5093df04d8fe'/> <!-- Reference to: Fever duration: 3 weeks or less - Test 2.4.6 -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-5ce12b3c-4bd0-4fc2-928f-e27f30c4abe4' xml:lang='en-US'> <!-- Test DvBoolean for 2.4.6 -->
    <xs:annotation>
    <xs:documentation>
      A test DvBoolean
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-5ce12b3c-4bd0-4fc2-928f-e27f30c4abe4'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvBooleanType'/>
    <rdfs:label>Test DvBoolean for 2.4.6</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Test DvBoolean for 2.4.6"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:choice>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-true'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='Yes'/>
                  <xs:enumeration value='Sim'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-false'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='No'/>
                  <xs:enumeration value='Não'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:choice>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-d05d35e1-4452-47a4-a7c5-58d1aac8bf64' substitutionGroup='mlhim2:items' type='mlhim2:ct-d05d35e1-4452-47a4-a7c5-58d1aac8bf64'/>
  <xs:complexType name='ct-d05d35e1-4452-47a4-a7c5-58d1aac8bf64'> <!-- Adapter for: Test DvBoolean for 2.4.6 -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-5ce12b3c-4bd0-4fc2-928f-e27f30c4abe4'/> <!-- Reference to: Test DvBoolean for 2.4.6 -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-8746e849-eb18-4cce-8069-bf5617f47c14' xml:lang='en-US'> <!-- Blood Pressure Device (Test 2.4.6) -->
    <xs:annotation>
    <xs:documentation>
      The device use in taking a blood pressure measurement.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-8746e849-eb18-4cce-8069-bf5617f47c14'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Blood Pressure Device (Test 2.4.6)</rdfs:label>
      <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Blood Pressure Device (Test 2.4.6)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Mercury sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
                      Mercury sphygmomanometer
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Aneroid sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
                      Aneroid sphygmomanometer
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Digital'>
                  <xs:annotation>
                    <xs:appinfo>
                      Digital
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-e9cbb207-9e89-416c-8b71-7cdb859b3097' substitutionGroup='mlhim2:items' type='mlhim2:ct-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
  <xs:complexType name='ct-e9cbb207-9e89-416c-8b71-7cdb859b3097'> <!-- Adapter for: Blood Pressure Device (Test 2.4.6) -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-8746e849-eb18-4cce-8069-bf5617f47c14'/> <!-- Reference to: Blood Pressure Device (Test 2.4.6) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name='el-9ff6b8e1-1d33-4940-af9d-6d61e927f425' substitutionGroup='mlhim2:definition' type='mlhim2:ct-9ff6b8e1-1d33-4940-af9d-6d61e927f425'/>
  <xs:element name='el-159554b0-483d-4fb6-be5f-a97282374190' substitutionGroup='mlhim2:entry-links' type='mlhim2:ct-159554b0-483d-4fb6-be5f-a97282374190'/>
  <xs:element name='el-623ea6b7-0be7-4628-9680-97d7dd883a4c' substitutionGroup='mlhim2:entry-links' type='mlhim2:ct-623ea6b7-0be7-4628-9680-97d7dd883a4c'/>
  <xs:element name='el-dd7462f6-44af-485d-b2ba-7233173b7d67' substitutionGroup='mlhim2:entry-audit' type='mlhim2:ct-dd7462f6-44af-485d-b2ba-7233173b7d67'/>
  <xs:element name='el-10195ffb-2f2b-4238-9bf4-ab801bf105e2' substitutionGroup='mlhim2:system-id' type='mlhim2:ct-10195ffb-2f2b-4238-9bf4-ab801bf105e2'/>
  <xs:element name='el-85a52d4b-a8fb-4d0f-a71e-1a7755d597a2' substitutionGroup='mlhim2:system-user' type='mlhim2:ct-85a52d4b-a8fb-4d0f-a71e-1a7755d597a2'/>
  <xs:element name='el-0fd62504-570e-462f-866f-4a61f2de2007' substitutionGroup='mlhim2:external-ref' type='mlhim2:ct-0fd62504-570e-462f-866f-4a61f2de2007'/>
  <xs:element name='el-282bab25-1725-4f9a-ae05-ca9fca7ea0f6' substitutionGroup='mlhim2:details' type='mlhim2:ct-282bab25-1725-4f9a-ae05-ca9fca7ea0f6'/>
  <xs:element name='el-75012737-abe7-4d4d-b745-30117d7a9678' substitutionGroup='mlhim2:DvAdapter-dv' type='mlhim2:ct-75012737-abe7-4d4d-b745-30117d7a9678'/>
  <xs:element name='el-d1576f04-2ef8-4095-a03c-2d2a1aa04659' substitutionGroup='mlhim2:DvAdapter-dv' type='mlhim2:ct-d1576f04-2ef8-4095-a03c-2d2a1aa04659'/>
  <xs:element name='el-9de2da4e-bdd1-4738-bcb9-1f9f02258de6' substitutionGroup='mlhim2:DvAdapter-dv' type='mlhim2:ct-9de2da4e-bdd1-4738-bcb9-1f9f02258de6'/>
  <xs:element name='el-785262d0-dbd5-40e0-93b1-8bcb7209e9d3' substitutionGroup='mlhim2:DvAdapter-dv' type='mlhim2:ct-785262d0-dbd5-40e0-93b1-8bcb7209e9d3'/>
  <xs:element name='el-134d0fc5-f1cc-4368-9944-68aefe15db5e' substitutionGroup='mlhim2:DvAdapter-dv' type='mlhim2:ct-134d0fc5-f1cc-4368-9944-68aefe15db5e'/>
  <xs:element name='el-1554c476-2527-4ff2-9e33-e88774397ed9' substitutionGroup='mlhim2:DvAdapter-dv' type='mlhim2:ct-1554c476-2527-4ff2-9e33-e88774397ed9'/>
  <xs:element name='el-a0580a46-e800-4313-bdd6-a61416e874db' substitutionGroup='mlhim2:DvAdapter-dv' type='mlhim2:ct-a0580a46-e800-4313-bdd6-a61416e874db'/>
  <xs:element name='el-69820e0d-2bb6-479f-842e-8710e80d6123' substitutionGroup='mlhim2:location' type='mlhim2:ct-69820e0d-2bb6-479f-842e-8710e80d6123'/>
  <xs:element name='el-dcd79d5e-c634-43d0-b17b-a7b340ca182d' substitutionGroup='mlhim2:DvAdapter-dv' type='mlhim2:ct-dcd79d5e-c634-43d0-b17b-a7b340ca182d'/>
  <xs:element name='el-5a29657a-477f-407b-82a8-3dd8c04f1e55' substitutionGroup='mlhim2:DvAdapter-dv' type='mlhim2:ct-5a29657a-477f-407b-82a8-3dd8c04f1e55'/>
  <xs:element name='el-f65a6791-677e-43dd-91d9-242fc3b95676' substitutionGroup='mlhim2:entry-subject' type='mlhim2:ct-f65a6791-677e-43dd-91d9-242fc3b95676'/>
  <xs:element name='el-324f2395-9742-4433-9c87-bac5f039ab42' substitutionGroup='mlhim2:entry-provider' type='mlhim2:ct-324f2395-9742-4433-9c87-bac5f039ab42'/>
  <xs:element name='el-62171273-a62b-41dd-8917-552f16e10bf7' substitutionGroup='mlhim2:other-participations' type='mlhim2:ct-62171273-a62b-41dd-8917-552f16e10bf7'/>
  <xs:element name='el-ff2a2bc6-0dac-4c4c-b640-88d2b43da907' substitutionGroup='mlhim2:performer' type='mlhim2:ct-ff2a2bc6-0dac-4c4c-b640-88d2b43da907'/>
  <xs:element name='el-9e2b50ec-6840-471f-ae26-7e86231b42af' substitutionGroup='mlhim2:function' type='mlhim2:ct-9e2b50ec-6840-471f-ae26-7e86231b42af'/>
  <xs:element name='el-a87513c2-c768-4cd8-bfae-8333c3690be6' substitutionGroup='mlhim2:mode' type='mlhim2:ct-a87513c2-c768-4cd8-bfae-8333c3690be6'/>
  <xs:element name='el-45ff9487-53a8-4c57-b53d-07b971ea90e2' substitutionGroup='mlhim2:protocol-id' type='mlhim2:ct-45ff9487-53a8-4c57-b53d-07b971ea90e2'/>
  <xs:element name='el-720cd9bd-ad0d-41cd-8556-d4cafd7e2580' substitutionGroup='mlhim2:workflow-id' type='mlhim2:ct-720cd9bd-ad0d-41cd-8556-d4cafd7e2580'/>
  <xs:element name='el-0454a6a1-9bb6-4b82-b4e2-170c4d6f8866' substitutionGroup='mlhim2:attestation' type='mlhim2:ct-0454a6a1-9bb6-4b82-b4e2-170c4d6f8866'/>
  <xs:element name='el-3cc25084-c524-4fcc-91ee-43af6ffc7f4b' substitutionGroup='mlhim2:attested-view' type='mlhim2:ct-3cc25084-c524-4fcc-91ee-43af6ffc7f4b'/>
  <xs:element name='el-8b34a627-8165-4088-a30a-cb8fa67fcc81' substitutionGroup='mlhim2:proof' type='mlhim2:ct-8b34a627-8165-4088-a30a-cb8fa67fcc81'/>
  <xs:element name='el-1e290419-e6dc-4d16-8e5e-90313e9e1a92' substitutionGroup='mlhim2:reason' type='mlhim2:ct-1e290419-e6dc-4d16-8e5e-90313e9e1a92'/>
  <xs:element name='el-18e26df4-e216-4caa-aab5-6437a5186abf' substitutionGroup='mlhim2:committer' type='mlhim2:ct-18e26df4-e216-4caa-aab5-6437a5186abf'/>
  <xs:element name='el-1baed200-a277-4cec-8ebb-a52ed84dd962' substitutionGroup='mlhim2:entry-data' type='mlhim2:ct-1baed200-a277-4cec-8ebb-a52ed84dd962'/>
  <xs:element name='el-bf1ef816-124a-497b-940d-5093df04d8fe' substitutionGroup='mlhim2:DvAdapter-dv' type='mlhim2:ct-bf1ef816-124a-497b-940d-5093df04d8fe'/>
  <xs:element name='el-5ce12b3c-4bd0-4fc2-928f-e27f30c4abe4' substitutionGroup='mlhim2:DvAdapter-dv' type='mlhim2:ct-5ce12b3c-4bd0-4fc2-928f-e27f30c4abe4'/>
  <xs:element name='el-8746e849-eb18-4cce-8069-bf5617f47c14' substitutionGroup='mlhim2:DvAdapter-dv' type='mlhim2:ct-8746e849-eb18-4cce-8069-bf5617f47c14'/>

</xs:schema>
