2_5_0/examples/ccd-a0cbb71d-aabe-47d8-9fda-622a63b66fb7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="ccd-description.xsl"?>
<xs:schema
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:mlhim2="http://www.mlhim.org/ns/mlhim2/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sawsdlrdf="http://www.w3.org/ns/sawsdl#"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  targetNamespace="http://www.mlhim.org/ns/mlhim2/"
  vc:minVersion="1.1" xml:lang="en-US">
<!-- Include the RM Schema -->
  <xs:include schemaLocation="http://www.mlhim.org/ns/mlhim2/mlhim250.xsd"/>
<!-- Metadata -->
  <xs:annotation><xs:appinfo><rdf:RDF><rdf:Description
    rdf:about="http://www.ccdgen.com/ccdlib/ccd-a0cbb71d-aabe-47d8-9fda-622a63b66fb7.xsd">
    <dc:title>AdminEntry CCD</dc:title>
    <dc:creator>Tim Cook &lt;tim@mlhim.org&gt;</dc:creator>
    <dc:subject>Test AdminEntry</dc:subject>
    <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
    <dc:relation>None</dc:relation>
    <dc:coverage>Universal</dc:coverage>
    <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
    <dc:identifier>ccd-a0cbb71d-aabe-47d8-9fda-622a63b66fb7</dc:identifier>
    <dc:description>Testing CCD-Gen Implementation of the MLHIM RM functionality.</dc:description>
    <dc:publisher>MLHIM LAB, UERJ</dc:publisher>
    <dc:date>2015-07-27 14:46:06.477676+00:00</dc:date>
    <dc:format>text/xml</dc:format>
    <dc:language>en-US</dc:language>
  </rdf:Description></rdf:RDF></xs:appinfo></xs:annotation>
<!-- Complex Type Definitions -->
<xs:element name="ccd-a0cbb71d-aabe-47d8-9fda-622a63b66fb7" type="mlhim2:pcm-a0cbb71d-aabe-47d8-9fda-622a63b66fb7"/>
<xs:complexType name="pcm-a0cbb71d-aabe-47d8-9fda-622a63b66fb7"> 
  <xs:annotation>
    <xs:appinfo>
      <rdf:Description rdf:about="http://www.mlhim.org/ns/mlhim2:pcm-a0cbb71d-aabe-47d8-9fda-622a63b66fb7">
        <rdfs:subClassOf rdf:resource="mlhim2:CCDType"/>
        <rdfs:label>AdminEntry CCD</rdfs:label>
        <rdfs:isDefinedBy rdf:resource="http%3A//www.mlhim.org/test_pcts"/>
      </rdf:Description>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexContent>
    <xs:restriction base="mlhim2:CCDType">
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:pcs-194082c6-aa79-4b94-ba11-0d413c62926f"/> 
      </xs:sequence>
    </xs:restriction>
  </xs:complexContent>
</xs:complexType>


<!-- Entry -->
  <xs:complexType name='pcm-194082c6-aa79-4b94-ba11-0d413c62926f'> 
    <xs:annotation>
    <xs:documentation>
      Admin Entry. This is a minimal Entry and CCD.  - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-194082c6-aa79-4b94-ba11-0d413c62926f'>
    <rdfs:subClassOf rdf:resource='mlhim2:AdminEntryType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AdminEntryType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="AdminEntry  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='1' name='entry-language' type='xs:language' fixed='en-US'/>
          <xs:element maxOccurs='1' minOccurs='1' name='entry-encoding' type='xs:string' fixed='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:pcs-a620aa80-b195-405c-8244-67bf6ec7eb5e'/>
          <xs:element maxOccurs='1' minOccurs='0' name='subject' type='mlhim2:pcm-273e0466-dd2c-4edf-838e-3512e12bc78e'/>
          <xs:element maxOccurs='1' minOccurs='0' name='provider' type='mlhim2:pcm-0b269b36-f04e-41db-8f38-858d95fe980c'/> 
          <!-- No Participations -->
          <!-- No protocol model -->
          <!-- No  workflow model -->
          <!-- No  audit model -->
          <!-- No attestation model -->
          <!-- No entry links -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-a620aa80-b195-405c-8244-67bf6ec7eb5e'> 
    <xs:annotation>
    <xs:documentation>
      AdminEntry entry-data - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-a620aa80-b195-405c-8244-67bf6ec7eb5e'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>AdminEntry entry-data - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="AdminEntry entry-data - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-ac0588d4-de6a-4772-8e8e-9a737af6f260'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-a3052842-92af-4cff-a21f-afb44cce2cda'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-ac0588d4-de6a-4772-8e8e-9a737af6f260'> 
    <xs:annotation>
    <xs:documentation>
      Test Sub-Cluster  - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-ac0588d4-de6a-4772-8e8e-9a737af6f260'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Test Sub-Cluster  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Test Sub-Cluster  - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-8aff6c15-f828-4948-9222-195c1b2f0954'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-697e8df2-7890-4f44-8442-e7f2beab4425'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-d4fd6e5a-875e-4512-8bdd-492498237341'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-426da684-48d4-4f23-adf4-e796e7a08ed6' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      The distensible sac-like organ that functions as a reservoir of urine, collecting from the kidneys and eliminating via the urethra.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-426da684-48d4-4f23-adf4-e796e7a08ed6'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvBooleanType'/>
    <rdfs:label>Bladder  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//cdebrowser.nci.nih.gov/CDEBrowser/search%3FelementDetails%3D9%26FirstTimer%3D0%26PageId%3DElementDetailsGroup%26publicId%3D2182237%26version%3D1.0'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Bladder  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:choice maxOccurs='1' minOccurs='1'>
          <xs:element name='true-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='Yes'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name='false-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='No'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:choice>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-8aff6c15-f828-4948-9222-195c1b2f0954' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-8aff6c15-f828-4948-9222-195c1b2f0954'/>
  <xs:complexType name='pcm-8aff6c15-f828-4948-9222-195c1b2f0954'> <!-- Adapter for: Bladder  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-426da684-48d4-4f23-adf4-e796e7a08ed6'/> <!-- Reference to: Bladder  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-de4f8cae-5ef2-4e92-b76e-22f06501a942' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Yes/No field for the duration of the fever. It should be filled when the date of onset of the fever is not known.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-de4f8cae-5ef2-4e92-b76e-22f06501a942'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvBooleanType'/>
    <rdfs:label>Fever duration: 3 weeks or less  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//bvsms.saude.gov.br/bvs/periodicos/boletim_eletronico_epi_ano04_n04.pdf'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Fever duration: 3 weeks or less  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:choice maxOccurs='1' minOccurs='1'>
          <xs:element name='true-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='YES'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name='false-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='NO'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:choice>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-697e8df2-7890-4f44-8442-e7f2beab4425' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-697e8df2-7890-4f44-8442-e7f2beab4425'/>
  <xs:complexType name='pcm-697e8df2-7890-4f44-8442-e7f2beab4425'> <!-- Adapter for: Fever duration: 3 weeks or less  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-de4f8cae-5ef2-4e92-b76e-22f06501a942'/> <!-- Reference to: Fever duration: 3 weeks or less  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-a6198d5d-9314-4f83-9151-4f6b05609c04' xml:lang='en-US'> 
    <xs:annotation>
      <xs:documentation>
      Test PcT of Heart Rate.
      </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-a6198d5d-9314-4f83-9151-4f6b05609c04'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvCountType'/>
    <rdfs:label>Heart Rate  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCountType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Heart Rate  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='normal-status' type='xs:string' fixed='Normal heart rate'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='magnitude-status' type='mlhim2:MagnitudeStatus'/>
          <xs:element maxOccurs='1' minOccurs='1' name='error'  type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='accuracy' type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1'  name='dvcount-value' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvcount-units' type='mlhim2:pcm-6980fc0c-553b-451e-9cb8-5795b96bae22'/> 
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-6980fc0c-553b-451e-9cb8-5795b96bae22' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      "beats per minute" (bpm).
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-6980fc0c-553b-451e-9cb8-5795b96bae22'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>beats per minute  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//cdebrowser.nci.nih.gov/CDEBrowser/search%3FelementDetails%3D9%26FirstTimer%3D0%26PageId%3DElementDetailsGroup%26publicId%3D2767073%26version%3D1.0'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="beats per minute  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='bpm'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6980fc0c-553b-451e-9cb8-5795b96bae22#bpm'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-6980fc0c-553b-451e-9cb8-5795b96bae22'/>
      <rdfs:label>bpm</rdfs:label>
      <rdfs:comment>https://cdebrowser.nci.nih.gov/CDEBrowser/search?elementDetails=9&amp;FirstTimer=0&amp;PageId=ElementDetailsGroup&amp;publicId=2767073&amp;version=1.0</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-d4fd6e5a-875e-4512-8bdd-492498237341' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-d4fd6e5a-875e-4512-8bdd-492498237341'/>
  <xs:complexType name='pcm-d4fd6e5a-875e-4512-8bdd-492498237341'> <!-- Adapter for: Heart Rate  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-a6198d5d-9314-4f83-9151-4f6b05609c04'/> <!-- Reference to: Heart Rate  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-473e1662-801b-41c3-ad01-9046d963f00d' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
       X connected_to Y if and only if X and Y share a fiat boundary.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-473e1662-801b-41c3-ad01-9046d963f00d'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>Connected To  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002150'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Connected To  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='connected to'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-a3052842-92af-4cff-a21f-afb44cce2cda' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-a3052842-92af-4cff-a21f-afb44cce2cda'/>
  <xs:complexType name='pcm-a3052842-92af-4cff-a21f-afb44cce2cda'> <!-- Adapter for: Connected To  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-473e1662-801b-41c3-ad01-9046d963f00d'/> <!-- Reference to: Connected To  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      The device use in taking a blood pressure measurement.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Blood Pressure Device - Testing Use Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Blood Pressure Device - Testing Use Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Mercury sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d#Mercury sphygmomanometer'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d'/>
      <rdfs:label>Mercury sphygmomanometer</rdfs:label>
      <rdfs:comment>http://noharm.org/lib/downloads/mercury/Accuracy_Alts_Mercury_Sphyg_rev10-09.pdf</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Aneroid sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d#Aneroid sphygmomanometer'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d'/>
      <rdfs:label>Aneroid sphygmomanometer</rdfs:label>
      <rdfs:comment>http://en.wikipedia.org/wiki/Sphygmomanometer</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Digital'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d#Digital'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d'/>
      <rdfs:label>Digital</rdfs:label>
      <rdfs:comment>http://www.ncbi.nlm.nih.gov/pubmed/7934182</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-e9cbb207-9e89-416c-8b71-7cdb859b3097' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
  <xs:complexType name='pcm-e9cbb207-9e89-416c-8b71-7cdb859b3097'> <!-- Adapter for: Blood Pressure Device - Testing Use Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d'/> <!-- Reference to: Blood Pressure Device - Testing Use Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-273e0466-dd2c-4edf-838e-3512e12bc78e' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-273e0466-dd2c-4edf-838e-3512e12bc78e'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Subject of the Entry (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-b9fbc5e0-b9d5-4673-aaa9-6a561e64b7ce'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-b9fbc5e0-b9d5-4673-aaa9-6a561e64b7ce'> 
    <xs:annotation>
    <xs:documentation>
      Generic Details cluster with address elements.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-b9fbc5e0-b9d5-4673-aaa9-6a561e64b7ce'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Address Details (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Address Details (US)  - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-ba9f0692-280f-4ea4-996d-0e5767238191'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-292d5a72-d065-45af-903e-a7afe798ece8'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-b6c0cbb4-6fed-4172-a470-53dca59eba58'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-7065c308-842d-4cd6-a041-374367dc1246'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-64508ffb-066f-406f-9d8e-093417103eb4'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-1fb5aee4-dcb6-460c-888c-251573b557b5'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-3cc2f238-7c90-4d36-bc9a-bea26b737ff6' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used for additional address lines in the US such as building name or apartment number.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-3cc2f238-7c90-4d36-bc9a-bea26b737ff6'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Additional Address Line(s) (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Additional Address Line(s) (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-ba9f0692-280f-4ea4-996d-0e5767238191' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-ba9f0692-280f-4ea4-996d-0e5767238191'/>
  <xs:complexType name='pcm-ba9f0692-280f-4ea4-996d-0e5767238191'> <!-- Adapter for: Additional Address Line(s) (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-3cc2f238-7c90-4d36-bc9a-bea26b737ff6'/> <!-- Reference to: Additional Address Line(s) (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-ee244f65-2052-4708-8d2e-7721d864c46b' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for the City name.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-ee244f65-2052-4708-8d2e-7721d864c46b'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>City Name (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="City Name (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-292d5a72-d065-45af-903e-a7afe798ece8' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-292d5a72-d065-45af-903e-a7afe798ece8'/>
  <xs:complexType name='pcm-292d5a72-d065-45af-903e-a7afe798ece8'> <!-- Adapter for: City Name (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-ee244f65-2052-4708-8d2e-7721d864c46b'/> <!-- Reference to: City Name (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for two character US state abbreviation.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>State Abbreviation (USPS)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="State Abbreviation (USPS)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='AL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AL'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AL</rdfs:label>
      <rdfs:comment>Alabama</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AK'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AK'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AK</rdfs:label>
      <rdfs:comment>Alaska</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AS'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AS</rdfs:label>
      <rdfs:comment>American Samoa</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AZ'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AZ'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AZ</rdfs:label>
      <rdfs:comment>Arizona</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AR'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AR</rdfs:label>
      <rdfs:comment>Arkansas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#CA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>CA</rdfs:label>
      <rdfs:comment>California</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CO'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#CO'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>CO</rdfs:label>
      <rdfs:comment>Colorado</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#CT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>CT</rdfs:label>
      <rdfs:comment>Connecticut</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#DE'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>DE</rdfs:label>
      <rdfs:comment>Delaware</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#DC'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>DC</rdfs:label>
      <rdfs:comment>District of Columbia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#FM'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>FM</rdfs:label>
      <rdfs:comment>Federated States of Micronesia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#FL'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>FL</rdfs:label>
      <rdfs:comment>Florida</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#GA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>GA</rdfs:label>
      <rdfs:comment>Georgia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GU'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#GU'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>GU</rdfs:label>
      <rdfs:comment>Guam</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='HI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#HI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>HI</rdfs:label>
      <rdfs:comment>Hawaii</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ID'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#ID'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>ID</rdfs:label>
      <rdfs:comment>Idaho</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#IL'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>IL</rdfs:label>
      <rdfs:comment>Illinois</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#IN'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>IN</rdfs:label>
      <rdfs:comment>Indiana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#IA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>IA</rdfs:label>
      <rdfs:comment>Iowa</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#KS'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>KS</rdfs:label>
      <rdfs:comment>Kansas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#KY'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>KY</rdfs:label>
      <rdfs:comment>Kentucky</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='LA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#LA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>LA</rdfs:label>
      <rdfs:comment>Louisiana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ME'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#ME'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>ME</rdfs:label>
      <rdfs:comment>Maine</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MH'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MH</rdfs:label>
      <rdfs:comment>Marshall Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MD'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MD'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MD</rdfs:label>
      <rdfs:comment>Maryland</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MA</rdfs:label>
      <rdfs:comment>Massachusetts</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MI</rdfs:label>
      <rdfs:comment>Michigan</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MN'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MN</rdfs:label>
      <rdfs:comment>Minnesota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MS'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MS</rdfs:label>
      <rdfs:comment>Mississippi</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MO'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MO'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MO</rdfs:label>
      <rdfs:comment>Missouri</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MT</rdfs:label>
      <rdfs:comment>Montana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NE'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NE</rdfs:label>
      <rdfs:comment>Nebraska</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NV'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NV'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NV</rdfs:label>
      <rdfs:comment>Nevada</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NH'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NH</rdfs:label>
      <rdfs:comment>New Hampshire</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NJ'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NJ'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NJ</rdfs:label>
      <rdfs:comment>New Jersey</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NM'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NM</rdfs:label>
      <rdfs:comment>New Mexico</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NY'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NY</rdfs:label>
      <rdfs:comment>New York</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NC'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NC</rdfs:label>
      <rdfs:comment>North Carolina</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ND'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#ND'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>ND</rdfs:label>
      <rdfs:comment>North Dakota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MP'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MP'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MP</rdfs:label>
      <rdfs:comment>Northern Mariana Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#CM'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>CM</rdfs:label>
      <rdfs:comment>Northern Mariana Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#OH'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>OH</rdfs:label>
      <rdfs:comment>Ohio</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OK'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#OK'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>OK</rdfs:label>
      <rdfs:comment>Oklahoma</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#OR'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>OR</rdfs:label>
      <rdfs:comment>Oregon</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#PA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>PA</rdfs:label>
      <rdfs:comment>Pennsylvania</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#PR'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>PR</rdfs:label>
      <rdfs:comment>Puerto Rico</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='RI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#RI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>RI</rdfs:label>
      <rdfs:comment>Rhode Island</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#SC'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>SC</rdfs:label>
      <rdfs:comment>South Carolina</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SD'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#SD'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>SD</rdfs:label>
      <rdfs:comment>South Dakota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#TN'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>TN</rdfs:label>
      <rdfs:comment>Tennessee</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TX'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#TX'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>TX</rdfs:label>
      <rdfs:comment>Texas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#TT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>TT</rdfs:label>
      <rdfs:comment>Trust Territory of the Pacific Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AA</rdfs:label>
      <rdfs:comment>U.S. Armed ForcesAmericas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AE'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AE</rdfs:label>
      <rdfs:comment>U.S. Armed Forces Europe</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AP'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AP'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AP</rdfs:label>
      <rdfs:comment>U.S. Armed Forces Pacific</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='UT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#UT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>UT</rdfs:label>
      <rdfs:comment>Utah</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#VT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>VT</rdfs:label>
      <rdfs:comment>Vermont</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#VI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>VI</rdfs:label>
      <rdfs:comment>Virgin Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#VA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>VA</rdfs:label>
      <rdfs:comment>Virginia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#WA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>WA</rdfs:label>
      <rdfs:comment>Washington</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WV'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#WV'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>WV</rdfs:label>
      <rdfs:comment>West Virginia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#WI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>WI</rdfs:label>
      <rdfs:comment>Wisconsin</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#WY'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>WY</rdfs:label>
      <rdfs:comment>Wyoming</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-b6c0cbb4-6fed-4172-a470-53dca59eba58' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-b6c0cbb4-6fed-4172-a470-53dca59eba58'/>
  <xs:complexType name='pcm-b6c0cbb4-6fed-4172-a470-53dca59eba58'> <!-- Adapter for: State Abbreviation (USPS)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-2fff9fb6-d022-418a-869d-60bd4551fb4c'/> <!-- Reference to: State Abbreviation (USPS)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-c73db9db-94fd-4641-84df-bf4c8e2c4632' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A single line US Street number and name. The typical format is:
123 Main St. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-c73db9db-94fd-4641-84df-bf4c8e2c4632'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Street Number and Name (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Street Number and Name (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-7065c308-842d-4cd6-a041-374367dc1246' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-7065c308-842d-4cd6-a041-374367dc1246'/>
  <xs:complexType name='pcm-7065c308-842d-4cd6-a041-374367dc1246'> <!-- Adapter for: Street Number and Name (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-c73db9db-94fd-4641-84df-bf4c8e2c4632'/> <!-- Reference to: Street Number and Name (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-42599aa0-2030-4f46-8bf4-053bbef2eb37' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A US telephone number. Exactly 12 characters; 111-111-1111 with a pattern match of "[0-9]{3}-[0-9]{3}-[0-9]{4}" 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-42599aa0-2030-4f46-8bf4-053bbef2eb37'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Telephone Number (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Telephone Number (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string' default='111-111-1111'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '[0-9]{3}-[0-9]{3}-[0-9]{4}')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-64508ffb-066f-406f-9d8e-093417103eb4' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-64508ffb-066f-406f-9d8e-093417103eb4'/>
  <xs:complexType name='pcm-64508ffb-066f-406f-9d8e-093417103eb4'> <!-- Adapter for: Telephone Number (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-42599aa0-2030-4f46-8bf4-053bbef2eb37'/> <!-- Reference to: Telephone Number (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-cab630ec-ec96-4247-951a-42eac6343ba5' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in address cluster for US Zip (postal) Codes. Minimum of 5 characters with a maximum of 10 characters. Accommodates the older 5 character codes or the Zip+4 with the additional 4 characters following a dash. 

Examples:
12345
12345-0987 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-cab630ec-ec96-4247-951a-42eac6343ba5'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Zip Code (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//www.usps.com/'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Zip Code (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^\d{5}([\-]?\d{4})?$')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-1fb5aee4-dcb6-460c-888c-251573b557b5' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-1fb5aee4-dcb6-460c-888c-251573b557b5'/>
  <xs:complexType name='pcm-1fb5aee4-dcb6-460c-888c-251573b557b5'> <!-- Adapter for: Zip Code (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-cab630ec-ec96-4247-951a-42eac6343ba5'/> <!-- Reference to: Zip Code (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-0b269b36-f04e-41db-8f38-858d95fe980c' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-0b269b36-f04e-41db-8f38-858d95fe980c'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Entry Provider (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-b9fbc5e0-b9d5-4673-aaa9-6a561e64b7ce'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>


<!-- Substitution Groups -->
  <xs:element name="pcs-2fff9fb6-d022-418a-869d-60bd4551fb4c" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c"/>
  <xs:element name="pcs-de4f8cae-5ef2-4e92-b76e-22f06501a942" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-de4f8cae-5ef2-4e92-b76e-22f06501a942"/>
  <xs:element name="pcs-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d"/>
  <xs:element name="pcs-cab630ec-ec96-4247-951a-42eac6343ba5" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-cab630ec-ec96-4247-951a-42eac6343ba5"/>
  <xs:element name="pcs-a620aa80-b195-405c-8244-67bf6ec7eb5e" substitutionGroup="mlhim2:Item" type="mlhim2:pcm-a620aa80-b195-405c-8244-67bf6ec7eb5e"/>
  <xs:element name="pcs-194082c6-aa79-4b94-ba11-0d413c62926f" substitutionGroup="mlhim2:Definition" type="mlhim2:pcm-194082c6-aa79-4b94-ba11-0d413c62926f"/>
  <xs:element name="pcs-473e1662-801b-41c3-ad01-9046d963f00d" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-473e1662-801b-41c3-ad01-9046d963f00d"/>
  <xs:element name="pcs-42599aa0-2030-4f46-8bf4-053bbef2eb37" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-42599aa0-2030-4f46-8bf4-053bbef2eb37"/>
  <xs:element name="pcs-a6198d5d-9314-4f83-9151-4f6b05609c04" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-a6198d5d-9314-4f83-9151-4f6b05609c04"/>
  <xs:element name="pcs-ac0588d4-de6a-4772-8e8e-9a737af6f260" substitutionGroup="mlhim2:Items" type="mlhim2:pcm-ac0588d4-de6a-4772-8e8e-9a737af6f260"/>
  <xs:element name="pcs-3cc2f238-7c90-4d36-bc9a-bea26b737ff6" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-3cc2f238-7c90-4d36-bc9a-bea26b737ff6"/>
  <xs:element name="pcs-426da684-48d4-4f23-adf4-e796e7a08ed6" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-426da684-48d4-4f23-adf4-e796e7a08ed6"/>
  <xs:element name="pcs-c73db9db-94fd-4641-84df-bf4c8e2c4632" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-c73db9db-94fd-4641-84df-bf4c8e2c4632"/>
  <xs:element name="pcs-ee244f65-2052-4708-8d2e-7721d864c46b" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-ee244f65-2052-4708-8d2e-7721d864c46b"/>

</xs:schema>
