2_5_0/examples/ccd-246bf9e8-fda3-4508-8423-4e5387a5e377.xsd

<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type='text/xsl' href='ccd-description.xsl'?>
<!DOCTYPE xs:schema [
    <!ENTITY owl "http://www.w3.org/2002/07/owl#" >
    <!ENTITY dc "http://purl.org/dc/elements/1.1/" >
    <!ENTITY xsd "http://www.w3.org/2001/XMLSchema#" >
    <!ENTITY skos "http://www.w3.org/2004/02/skos/core#" >
    <!ENTITY rdfs "http://www.w3.org/2000/01/rdf-schema#" >
    <!ENTITY rdf "http://www.w3.org/1999/02/22-rdf-syntax-ns#" >
    <!ENTITY mlhim2 "http://www.mlhim.org/xmlns/mlhim2/" >
]>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:owl="http://www.w3.org/2002/07/owl#" 
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sawsdl="http://www.w3.org/ns/sawsdl" 
  xmlns:sawsdlrdf="http://www.w3.org/ns/sawsdl#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" 
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  xmlns:mlhim2="http://www.mlhim.org/xmlns/mlhim2/" 
  targetNamespace="http://www.mlhim.org/xmlns/mlhim2/"
  vc:minVersion="1.1" xml:lang="en-US">

  <!-- Include the Reference Model -->
  <xs:include schemaLocation="http://www.mlhim.org/xmlns/mlhim2/mlhim250.xsd"/>

  <!-- METADATA Section -->
  <xs:annotation>
    <xs:appinfo>
      <rdf:RDF>
        <rdf:Description rdf:about="http://www.ccdgen.com/ccdlib/ccd-246bf9e8-fda3-4508-8423-4e5387a5e377.xsd">
          <dc:title>Testing Implementation (Admin)</dc:title>
          <dc:creator>Tim Cook tim@mlhim.org</dc:creator>
          <dc:contributor>None</dc:contributor>
          <dc:subject>Test AdminEntry CCD;Test 2.5.0</dc:subject>
          <dc:source>http://www.mlhim.org</dc:source>
          <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
          <dc:relation>None</dc:relation>
          <dc:coverage>Universal</dc:coverage>
          <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
          <dc:identifier>ccd-246bf9e8-fda3-4508-8423-4e5387a5e377</dc:identifier>
          <dc:description>
        Testing CCD-Gen Implementation of the MLHIM RM functionality.
        This CCD was created by the CCD-Gen application.
      </dc:description>
          <dc:publisher>MLHIM LAB, UERJ</dc:publisher>
          <dc:date>2015-05-12 12:58:22.455084+00:00</dc:date>
          <dc:format>text/xml</dc:format>
          <dc:language>en-US</dc:language>
        </rdf:Description>
      </rdf:RDF>
      
      <owl:Ontology rdf:about="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377">
        <owl:imports rdf:resource="&mlhim2;mlhim250.owl"/>
        <rdfs:subClassOf rdf:resource="&mlhim2;mlhim250"/>
        <rdfs:label>Testing Implementation (Admin)</rdfs:label>
      </owl:Ontology>
    </xs:appinfo>
  </xs:annotation>

  <!-- CCD Root Element -->
  <xs:element name="ccd-246bf9e8-fda3-4508-8423-4e5387a5e377" type="mlhim2:ct-246bf9e8-fda3-4508-8423-4e5387a5e377"/>
  <xs:complexType name="ct-246bf9e8-fda3-4508-8423-4e5387a5e377">
    <xs:annotation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-246bf9e8-fda3-4508-8423-4e5387a5e377">
          <rdfs:subClassOf rdf:resource="&mlhim2;CCDType"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>
          <rdfs:isDefinedBy rdf:resource="http://www.mlhim.org/generic_pcts"/>
          <rdfs:label>Testing Implementation (Admin)</rdfs:label>
        </owl:Class>        
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:CCDType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-56c1df15-a4cc-44a6-84ec-45c310a05071"/>
          <!-- definition -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- CCD Components Begin Below -->

  <xs:complexType name="ct-56c1df15-a4cc-44a6-84ec-45c310a05071">
    <!-- Test AdminEntry -->
    <xs:annotation>
      <xs:documentation>
      Testing Admin Entry. This is a minimal Entry and CCD.
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-56c1df15-a4cc-44a6-84ec-45c310a05071">
          <rdfs:subClassOf rdf:resource="&mlhim2;AdminEntryType"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:AdminEntryType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="language" type="xs:language" fixed="en-US">
            <xs:annotation>
              <xs:appinfo>
                <owl:DatatypeProperty rdf:resource="&mlhim2;ct-56c1df15-a4cc-44a6-84ec-45c310a05071/language">
                  <rdfs:domain rdf:resource="&xsd;language"/>
                  <rdfs:range rdf:resource="en-US"/>
                </owl:DatatypeProperty>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="encoding" type="xs:string" fixed="utf-8">
            <xs:annotation>
              <xs:appinfo>

              </xs:appinfo>
            </xs:annotation>            
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="current-state" type="xs:string" default=""/>
          <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-c3a88f56-3abc-416d-9d49-3e9f06bf74a5"/> <!-- data -->
          <xs:element maxOccurs="1" minOccurs="0" name="subject"
            type="mlhim2:ct-ef4abd55-562c-418f-89c3-f831bf42c33f"/>
          <xs:element maxOccurs="1" minOccurs="0" name="provider"
            type="mlhim2:ct-8501f206-dfd2-4080-be79-34539d0e076b"/>

          <!-- Demonstrates participation, protocol, workflow, audit and attestation are not required 
            and multiple links allowed -->
          <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-c05e8d88-a6dc-43d5-b1b8-723cdc9bf680"/>
          <!-- Link -->
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-a05e8d88-a6dc-43d5-b1b8-723cdc9bf680"/>
          <!-- Link -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-ef4abd55-562c-418f-89c3-f831bf42c33f" xml:lang="en-US">
    <!-- Subject of the Entry (US) -->
    <xs:annotation>
      <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-ef4abd55-562c-418f-89c3-f831bf42c33f">
          <rdfs:subClassOf rdf:resource="&mlhim2;PartyType"/>
          <rdfs:isDefinedBy rdf:resource="http://www.mlhim.org/generic_pcts"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:PartyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="party-name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="party-ref"
            type="mlhim2:ct-c05e8d88-a6dc-43d5-b1b8-723cdc9bf688"/>
          <!-- external-ref -->
          <xs:element maxOccurs="1" minOccurs="0" name="party-details"
            type="mlhim2:ct-be9013c4-2b6e-4b8f-96fd-16ab39d5c8a1"/>
          <!-- details -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="ct-c05e8d88-a6dc-43d5-b1b8-723cdc9bf680" xml:lang="en-US">
    <!-- Test DvLink -->
    <xs:annotation>
      <xs:documentation>
        Test DvLink
      </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-c05e8d88-a6dc-43d5-b1b8-723cdc9bf680">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvLinkType"/>
          <rdfs:label>Test DvLink</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http://www.mlhim.org/generic_pcts"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvLinkType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Test DvLink"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="link" type="xs:anyURI"/>
          <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string" fixed="Test DvLink"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-a05e8d88-a6dc-43d5-b1b8-723cdc9bf680" xml:lang="en-US">
    <!-- Test DvLink -->
    <xs:annotation>
      <xs:documentation>
        Test DvLink
      </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-a05e8d88-a6dc-43d5-b1b8-723cdc9bf680">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvLinkType"/>
          <rdfs:label>Test DvLink</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http://www.mlhim.org/generic_pcts"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvLinkType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Test DvLink"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="link" type="xs:anyURI"/>
          <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string" fixed="Test DvLink"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-c05e8d88-a6dc-43d5-b1b8-723cdc9bf688" xml:lang="en-US">
    <!-- External Reference for Party -->
    <xs:annotation>
      <xs:documentation>
      A generic URI for use with Party to be used as a pointer to a demographic service record.
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-c05e8d88-a6dc-43d5-b1b8-723cdc9bf688">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvLinkType"/>
          <rdfs:label>External Reference for Party</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http://www.mlhim.org/generic_pcts"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvLinkType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="External Reference for Party"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="link" type="xs:anyURI"/>
          <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string"
            fixed="Party Associated with the record"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-be9013c4-2b6e-4b8f-96fd-16ab39d5c8a1">
    <!-- Address Details (US) -->
    <xs:annotation>
      <xs:documentation>
      Generic Details cluster with address elements.
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-be9013c4-2b6e-4b8f-96fd-16ab39d5c8a1">
          <rdfs:subClassOf rdf:resource="&mlhim2;ClusterType"/>
          <rdfs:label>Address Details (US)</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http://www.mlhim.org/generic_pcts"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:ClusterType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="subject" type="xs:string" fixed="Address Details (US)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-d24affc1-a9ff-487a-9029-204f3b4d8e7e"/>
          <!-- DvString Additional Address Line(s) (US)  -->
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-b65ea20c-3768-45cd-a059-004ece61bc89"/>
          <!-- DvString City Name (US) -->
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-77848a52-5adb-41b2-89d6-f8fec018c05a"/>
          <!-- DvString Common Name / Nickname -->
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-2bb59f5a-223e-4b8e-b63f-ed8beb62849e"/>
          <!-- DvString State Abbreviation (USPS) -->
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f"/>
          <!-- DvString Street Number and Name (US) -->
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-13354334-0250-4041-8b6c-ac7eefa93c88"/>
          <!-- DvString Telephone Number (US) -->
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-c64b7604-6189-412d-bb70-48baba85f366"/>
          <!-- DvString Zip Code (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-5677e6da-33df-44d3-809b-853aba4373ea" xml:lang="en-US">
    <!-- Additional Address Line(s) (US)  -->
    <xs:annotation>
      <xs:documentation>
      Used for additional address lines in the US such as building name or apartment number.
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-5677e6da-33df-44d3-809b-853aba4373ea">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvStringType"/>
          <rdfs:label>Additional Address Line(s) (US)</rdfs:label>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Additional Address Line(s) (US)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-d24affc1-a9ff-487a-9029-204f3b4d8e7e" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-d24affc1-a9ff-487a-9029-204f3b4d8e7e"/>
  <xs:complexType name="ct-d24affc1-a9ff-487a-9029-204f3b4d8e7e">
    <!-- Adapter for: Additional Address Line(s) (US)  -->
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:el-5677e6da-33df-44d3-809b-853aba4373ea"/>
          <!-- Reference to: Additional Address Line(s) (US)  -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-73035503-2b72-4c80-9abc-bdc967198d63" xml:lang="en-US">
    <!-- City Name (US) -->
    <xs:annotation>
      <xs:documentation>
      Used in US address cluster for the City name.
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-73035503-2b72-4c80-9abc-bdc967198d63">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvStringType"/>
          <rdfs:label>City Name (US)</rdfs:label>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="City Name (US)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-b65ea20c-3768-45cd-a059-004ece61bc89" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-b65ea20c-3768-45cd-a059-004ece61bc89"/>
  <xs:complexType name="ct-b65ea20c-3768-45cd-a059-004ece61bc89">
    <!-- Adapter for: City Name (US) -->
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:el-73035503-2b72-4c80-9abc-bdc967198d63"/>
          <!-- Reference to: City Name (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-7f9b5fb6-8cd7-4d09-805d-13c645db49c2" xml:lang="en-US">
    <!-- Common Name / Nickname -->
    <xs:annotation>
      <xs:documentation>
      A name that is commonly used for a person.  Such as Jim for James or Peggy for Margaret. 
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-7f9b5fb6-8cd7-4d09-805d-13c645db49c2">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvStringType"/>
          <rdfs:label>Common Name / Nickname</rdfs:label>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Common Name / Nickname"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-77848a52-5adb-41b2-89d6-f8fec018c05a" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-77848a52-5adb-41b2-89d6-f8fec018c05a"/>
  <xs:complexType name="ct-77848a52-5adb-41b2-89d6-f8fec018c05a">
    <!-- Adapter for: Common Name / Nickname -->
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:el-7f9b5fb6-8cd7-4d09-805d-13c645db49c2"/>
          <!-- Reference to: Common Name / Nickname -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626" xml:lang="en-US">
    <!-- State Abbreviation (USPS) -->
    <xs:annotation>
      <xs:documentation>
      Used in US address cluster for two character US state abbreviation.
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvStringType"/>
          <rdfs:label>State Abbreviation (USPS)</rdfs:label>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="State Abbreviation (USPS)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="AL">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#AL">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>AL</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Alabama"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AK">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#AK">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>AK</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Alaska"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AS">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#AS">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>AS</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#American%20Samoa"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AZ">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#AZ">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>AZ</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Arizona"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AR">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#AR">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>AR</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Arkansas"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="CA">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#CA">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>CA</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#California"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="CO">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#CO">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>CO</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Colorado"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="CT">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#CT">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>CT</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Connecticut"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="DE">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#DE">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>DE</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Delaware"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="DC">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#DC">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>DC</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#District%20of%20Columbia"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FM">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#FM">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>FM</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Federated%20States%20of%20Micronesia"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FL">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#FL">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>FL</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Florida"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="GA">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#GA">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>GA</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Georgia"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="GU">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#GU">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>GU</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Guam"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="HI">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#HI">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>HI</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Hawaii"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ID">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#ID">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>ID</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Idaho"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="IL">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#IL">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>IL</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Illinois"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="IN">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#IN">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>IN</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Indiana"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="IA">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#IA">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>IA</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Iowa"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="KS">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#KS">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>KS</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Kansas"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="KY">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#KY">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>KY</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Kentucky"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="LA">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#LA">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>LA</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Louisiana"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ME">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#ME">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>ME</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Maine"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MH">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#MH">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>MH</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Marshall%20Islands"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MD">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#MD">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>MD</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Maryland"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MA">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#MA">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>MA</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Massachusetts"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MI">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#MI">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>MI</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Michigan"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MN">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#MN">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>MN</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Minnesota"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MS">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#MS">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>MS</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Mississippi"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MO">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#MO">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>MO</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Missouri"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MT">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#MT">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>MT</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Montana"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NE">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#NE">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>NE</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Nebraska"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NV">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#NV">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>NV</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Nevada"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NH">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#NH">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>NH</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#New%20Hampshire"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NJ">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#NJ">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>NJ</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#New%20Jersey"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NM">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#NM">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>NM</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#New%20Mexico"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NY">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#NY">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>NY</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#New%20York"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NC">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#NC">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>NC</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#North%20Carolina"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ND">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#ND">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>ND</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#North%20Dakota"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MP">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#MP">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>MP</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Northern%20Mariana%20Islands"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="CM">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#CM">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>CM</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Northern%20Mariana%20Islands"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="OH">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#OH">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>OH</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Ohio"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="OK">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#OK">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>OK</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Oklahoma"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="OR">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#OR">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>OR</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Oregon"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="PA">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#PA">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>PA</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Pennsylvania"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="PR">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#PR">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>PR</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Puerto%20Rico"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="RI">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#RI">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>RI</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Rhode%20Island"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="SC">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#SC">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>SC</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#South%20Carolina"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="SD">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#SD">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>SD</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#South%20Dakota"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="TN">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#TN">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>TN</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Tennessee"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="TX">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#TX">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>TX</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Texas"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="TT">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#TT">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>TT</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Trust%20Territory%20of%20the%20Pacific%20Islands"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AA">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#AA">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>AA</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#U.S.%20Armed%20Forces%20%20Americas"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AE">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#AE">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>AE</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#U.S.%20Armed%20Forces%20%20Europe"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AP">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#AP">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>AP</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#U.S.%20Armed%20Forces%20%20Pacific"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="UT">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#UT">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>UT</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Utah"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="VT">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#VT">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>VT</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Vermont"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="VI">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#VI">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>VI</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Virgin%20Islands"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="VA">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#VA">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>VA</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Virginia"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="WA">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#WA">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>WA</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Washington"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="WV">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#WV">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>WV</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#West%20Virginia"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="WI">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#WI">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>WI</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Wisconsin"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="WY">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626/dvstring-value#WY">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
                        <rdfs:label>WY</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Wyoming"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-2bb59f5a-223e-4b8e-b63f-ed8beb62849e" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-2bb59f5a-223e-4b8e-b63f-ed8beb62849e"/>
  <xs:complexType name="ct-2bb59f5a-223e-4b8e-b63f-ed8beb62849e">
    <!-- Adapter for: State Abbreviation (USPS) -->
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:el-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
          <!-- Reference to: State Abbreviation (USPS) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-cfaa55cd-2290-4ec2-8c7a-ff9e6cf68dd5" xml:lang="en-US">
    <!-- Street Number and Name (US) -->
    <xs:annotation>
      <xs:documentation>
      A single line US Street number and name. The typical format is:
123 Main St. 
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-cfaa55cd-2290-4ec2-8c7a-ff9e6cf68dd5">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvStringType"/>
          <rdfs:label>Street Number and Name (US)</rdfs:label>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Street Number and Name (US)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f"/>
  <xs:complexType name="ct-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f">
    <!-- Adapter for: Street Number and Name (US) -->
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:el-cfaa55cd-2290-4ec2-8c7a-ff9e6cf68dd5"/>
          <!-- Reference to: Street Number and Name (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-f51bbd8d-672e-4b8d-871c-2d84ac1c5d4a" xml:lang="en-US">
    <!-- Telephone Number (US) -->
    <xs:annotation>
      <xs:documentation>
      A US telephone number. Exactly 12 characters; 111-111-1111 with a pattern match of "[0-9]{3}-[0-9]{3}-[0-9]{4}" 
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-f51bbd8d-672e-4b8d-871c-2d84ac1c5d4a">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvStringType"/>
          <rdfs:label>Telephone Number (US)</rdfs:label>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Telephone Number (US)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value" type="xs:string"
            default="111-111-1111"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
        <xs:assert test="matches(dvstring-value, '[0-9]{3}-[0-9]{3}-[0-9]{4}')"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-13354334-0250-4041-8b6c-ac7eefa93c88" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-13354334-0250-4041-8b6c-ac7eefa93c88"/>
  <xs:complexType name="ct-13354334-0250-4041-8b6c-ac7eefa93c88">
    <!-- Adapter for: Telephone Number (US) -->
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:el-f51bbd8d-672e-4b8d-871c-2d84ac1c5d4a"/>
          <!-- Reference to: Telephone Number (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-74fd469d-e9e9-48e9-8a1a-9e2ccf3fbde4" xml:lang="en-US">
    <!-- Zip Code (US) -->
    <xs:annotation>
      <xs:documentation>
      Used in address cluster for US Zip (postal) Codes. Minimum of 5 characters with a maximum of 10 characters. Accommodates the older 5 character codes or the Zip+4 with the additional 4 characters following a dash. 

Examples:
12345
12345-0987 
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-74fd469d-e9e9-48e9-8a1a-9e2ccf3fbde4">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvStringType"/>
          <rdfs:label>Zip Code (US)</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="https%3A//www.usps.com/"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Zip Code (US)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
        <xs:assert test="matches(dvstring-value, '^\d{5}([\-]?\d{4})?$')"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-c64b7604-6189-412d-bb70-48baba85f366" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-c64b7604-6189-412d-bb70-48baba85f366"/>
  <xs:complexType name="ct-c64b7604-6189-412d-bb70-48baba85f366">
    <!-- Adapter for: Zip Code (US) -->
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:el-74fd469d-e9e9-48e9-8a1a-9e2ccf3fbde4"/>
          <!-- Reference to: Zip Code (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-8501f206-dfd2-4080-be79-34539d0e076b" xml:lang="en-US">
    <!-- Entry Provider (US) -->
    <xs:annotation>
      <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-8501f206-dfd2-4080-be79-34539d0e076b">
          <rdfs:subClassOf rdf:resource="&mlhim2;PartyType"/>
          <rdfs:isDefinedBy rdf:resource="http://www.mlhim.org/generic_pcts"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:PartyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="party-name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="party-ref"
            type="mlhim2:ct-c05e8d88-a6dc-43d5-b1b8-723cdc9bf688"/>
          <!-- external-ref -->
          <xs:element maxOccurs="1" minOccurs="0" name="party-details"
            type="mlhim2:ct-be9013c4-2b6e-4b8f-96fd-16ab39d5c8a1"/>
          <!-- details -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-c3a88f56-3abc-416d-9d49-3e9f06bf74a5">
    <!-- Test AdminEntry entry-data -->
    <xs:annotation>
      <xs:documentation>
      Test AdminEntry entry-data
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-c3a88f56-3abc-416d-9d49-3e9f06bf74a5">
          <rdfs:subClassOf rdf:resource="&mlhim2;ClusterType"/>
          <rdfs:label>Test AdminEntry entry-data</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http://www.mlhim.org/test_pcts"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:ClusterType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="subject" type="xs:string"
            fixed="Test AdminEntry entry-data"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-62e20405-7908-4116-8662-2dd3bb0e6ea4"/>
          <!-- Cluster Test Sub-Cluster -->
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-3a3396c5-a27f-4440-89f3-5ffd326dde57"/>
          <!-- DvURI Connected To -->
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-e9cbb207-9e89-416c-8b71-7cdb859b3097"/>
          <!-- DvString Blood Pressure Device (Testing) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-62e20405-7908-4116-8662-2dd3bb0e6ea4">
    <!-- Test Sub-Cluster -->
    <xs:annotation>
      <xs:documentation>
      Test Sub-Cluster
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-62e20405-7908-4116-8662-2dd3bb0e6ea4">
          <rdfs:subClassOf rdf:resource="&mlhim2;ClusterType"/>
          <rdfs:label>Test Sub-Cluster</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http://www.mlhim.org/test_pcts"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:ClusterType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="subject" type="xs:string" fixed="Test Sub-Cluster"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-8aff6c15-f828-4948-9222-195c1b2f0954"/>
          <!-- DvBoolean Bladder - Testing -->
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-697e8df2-7890-4f44-8442-e7f2beab4425"/>
          <!-- DvBoolean Fever duration: 3 weeks or less - Testing -->
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-d4fd6e5a-875e-4512-8bdd-492498237341"/>
          <!-- DvCount Heart Rate for Testing -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-c8b3b872-dcb4-4a44-a386-5c626e116549" xml:lang="en-US">
    <!-- Bladder - Testing -->
    <xs:annotation>
      <xs:documentation>
      The distensible sac-like organ that functions as a reservoir of urine, collecting from the kidneys and eliminating via the urethra.
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-c8b3b872-dcb4-4a44-a386-5c626e116549">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvBooleanType"/>
          <rdfs:label>Bladder - Testing</rdfs:label>
          <rdfs:isDefinedBy
            rdf:resource="https%3A//cdebrowser.nci.nih.gov/CDEBrowser/search%3FelementDetails%3D9%26FirstTimer%3D0%26PageId%3DElementDetailsGroup%26publicId%3D2182237%26version%3D1.0"
          />
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvBooleanType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Bladder - Testing"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="true">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Yes"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="false">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="No"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-8aff6c15-f828-4948-9222-195c1b2f0954" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-8aff6c15-f828-4948-9222-195c1b2f0954"/>
  <xs:complexType name="ct-8aff6c15-f828-4948-9222-195c1b2f0954">
    <!-- Adapter for: Bladder - Testing -->
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:el-c8b3b872-dcb4-4a44-a386-5c626e116549"/>
          <!-- Reference to: Bladder - Testing -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-831a09c9-ceaf-46e0-a4e1-afcd064880bd" xml:lang="en-US">
    <!-- Fever duration: 3 weeks or less - Testing -->
    <xs:annotation>
      <xs:documentation>
      Yes/No field for the duration of the fever. It should be filled when the date of onset of the fever is not known.
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-831a09c9-ceaf-46e0-a4e1-afcd064880bd">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvBooleanType"/>
          <rdfs:label>Fever duration: 3 weeks or less - Testing</rdfs:label>
          <rdfs:isDefinedBy
            rdf:resource="http://bvsms.saude.gov.br/bvs/periodicos/boletim_eletronico_epi_ano04_n04.pdf"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvBooleanType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Fever duration: 3 weeks or less - Testing"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="true">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="YES"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="false">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="NO"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-697e8df2-7890-4f44-8442-e7f2beab4425" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-697e8df2-7890-4f44-8442-e7f2beab4425"/>
  <xs:complexType name="ct-697e8df2-7890-4f44-8442-e7f2beab4425">
    <!-- Adapter for: Fever duration: 3 weeks or less - Testing -->
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:el-831a09c9-ceaf-46e0-a4e1-afcd064880bd"/>
          <!-- Reference to: Fever duration: 3 weeks or less - Testing -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-a926d847-3a3e-45c5-af3f-3c55a35aca34" xml:lang="en-US">
    <!-- Heart Rate for Testing -->
    <xs:annotation>
      <xs:documentation>
      Test PcT of Heart Rate.
      </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-a926d847-3a3e-45c5-af3f-3c55a35aca34">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvCountType"/>
          <rdfs:label>Heart Rate for Testing</rdfs:label>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvCountType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Heart Rate for Testing"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="normal-status" type="xs:string"
            default="Normal heart rate"/>
          <xs:element maxOccurs="1" minOccurs="1" name="error" type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1" name="accuracy" type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvcount-value" type="xs:int"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvcount-units"
            type="mlhim2:ct-3fa04c94-ea73-4c2e-8081-f706958277cb"/>
          <!-- DvCount-units -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-3fa04c94-ea73-4c2e-8081-f706958277cb" xml:lang="en-US">
    <!-- beats per minute -->
    <xs:annotation>
      <xs:documentation>
      The number of contractions (heart beats) expressed in "beats per minute" (bpm).
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-3fa04c94-ea73-4c2e-8081-f706958277cb">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvStringType"/>
          <rdfs:label>beats per minute</rdfs:label>
          <rdfs:isDefinedBy
            rdf:resource="https%3A//cdebrowser.nci.nih.gov/CDEBrowser/search%3FelementDetails%3D9%26FirstTimer%3D0%26PageId%3DElementDetailsGroup%26publicId%3D2767073%26version%3D1.0"
          />
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="beats per minute"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="bpm">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-3fa04c94-ea73-4c2e-8081-f706958277cb/dvstring-value#bpm">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-3fa04c94-ea73-4c2e-8081-f706958277cb"/>
                        <rdfs:label>bpm</rdfs:label>
                        <rdfs:isDefinedBy
                          rdf:resource="https://cdebrowser.nci.nih.gov/CDEBrowser/search?elementDetails=9&amp;FirstTimer=0&amp;PageId=ElementDetailsGroup&amp;publicId=2767073&amp;version=1.0"
                        />
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-d4fd6e5a-875e-4512-8bdd-492498237341" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-d4fd6e5a-875e-4512-8bdd-492498237341"/>
  <xs:complexType name="ct-d4fd6e5a-875e-4512-8bdd-492498237341">
    <!-- Adapter for: Heart Rate for Testing -->
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:el-a926d847-3a3e-45c5-af3f-3c55a35aca34"/>
          <!-- Reference to: Heart Rate for Testing -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-7441c558-0087-4f77-bc5f-af4c82e26167" xml:lang="en-US">
    <!-- Connected To -->
    <xs:annotation>
      <xs:documentation>
       X connected_to Y if and only if X and Y share a fiat boundary.
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-7441c558-0087-4f77-bc5f-af4c82e26167">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvLinkType"/>
          <rdfs:label>Connected To</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http://purl.obolibrary.org/obo/RO_0002150"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvLinkType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Connected To"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="link" type="xs:anyURI"/>
          <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string" fixed="connected to"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-3a3396c5-a27f-4440-89f3-5ffd326dde57" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-3a3396c5-a27f-4440-89f3-5ffd326dde57"/>
  <xs:complexType name="ct-3a3396c5-a27f-4440-89f3-5ffd326dde57">
    <!-- Adapter for: Connected To -->
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:el-7441c558-0087-4f77-bc5f-af4c82e26167"/>
          <!-- Reference to: Connected To -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-90d6bc7b-1fb9-4c18-858f-4283ef6ce2da" xml:lang="en-US">
    <!-- Blood Pressure Device (Testing) -->
    <xs:annotation>
      <xs:documentation>
      The device use in taking a blood pressure measurement.
    </xs:documentation>
      <xs:appinfo>
        <owl:Class rdf:about="&mlhim2;ct-90d6bc7b-1fb9-4c18-858f-4283ef6ce2da">
          <rdfs:subClassOf rdf:resource="&mlhim2;DvStringType"/>
          <rdfs:label>Blood Pressure Device (Testing)</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http://www.mlhim.org/test_pcts"/>
          <mlhim2:ctOf rdf:resource="&mlhim2;ccd-246bf9e8-fda3-4508-8423-4e5387a5e377"/>        
        </owl:Class>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Blood Pressure Device (Testing)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Mercury sphygmomanometer">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty
                        rdf:about="&mlhim2;ct-90d6bc7b-1fb9-4c18-858f-4283ef6ce2da/dvstring-value#Mercury%20sphygmomanometer">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-90d6bc7b-1fb9-4c18-858f-4283ef6ce2da"/>
                        <rdfs:label>Mercury sphygmomanometer</rdfs:label>
                        <rdfs:isDefinedBy
                          rdf:resource="http://noharm.org/lib/downloads/mercury/Accuracy_Alts_Mercury_Sphyg_rev10-09.pdf"
                        />
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Aneroid sphygmomanometer">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty
                        rdf:about="&mlhim2;ct-90d6bc7b-1fb9-4c18-858f-4283ef6ce2da/dvstring-value#Aneroid%20sphygmomanometer">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-90d6bc7b-1fb9-4c18-858f-4283ef6ce2da"/>
                        <rdfs:label>Aneroid sphygmomanometer</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://en.wikipedia.org/wiki/Sphygmomanometer"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Digital">
                  <xs:annotation>
                    <xs:appinfo>
                      <owl:DatatypeProperty rdf:about="&mlhim2;ct-90d6bc7b-1fb9-4c18-858f-4283ef6ce2da/dvstring-value#Digital">
                        <rdfs:subPropertyOf rdf:resource="&mlhim2;ct-90d6bc7b-1fb9-4c18-858f-4283ef6ce2da"/>
                        <rdfs:label>Digital</rdfs:label>
                        <rdfs:isDefinedBy rdf:resource="http://www.ncbi.nlm.nih.gov/pubmed/7934182"/>
                      </owl:DatatypeProperty>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language" default="en-US"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-e9cbb207-9e89-416c-8b71-7cdb859b3097" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-e9cbb207-9e89-416c-8b71-7cdb859b3097"/>
  <xs:complexType name="ct-e9cbb207-9e89-416c-8b71-7cdb859b3097">
    <!-- Adapter for: Blood Pressure Device (Testing) -->
    <xs:complexContent>
      <xs:restriction base="mlhim2:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:el-90d6bc7b-1fb9-4c18-858f-4283ef6ce2da"/>
          <!-- Reference to: Blood Pressure Device (Testing) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-56c1df15-a4cc-44a6-84ec-45c310a05071" substitutionGroup="mlhim2:Definition"
    type="mlhim2:ct-56c1df15-a4cc-44a6-84ec-45c310a05071"/>
  <xs:element name="el-ef4abd55-562c-418f-89c3-f831bf42c33f"
    type="mlhim2:ct-ef4abd55-562c-418f-89c3-f831bf42c33f"/>
  <xs:element name="el-c05e8d88-a6dc-43d5-b1b8-723cdc9bf680" substitutionGroup="mlhim2:DvLink"
    type="mlhim2:ct-c05e8d88-a6dc-43d5-b1b8-723cdc9bf680"/>
  <xs:element name="el-a05e8d88-a6dc-43d5-b1b8-723cdc9bf680" substitutionGroup="mlhim2:DvLink"
    type="mlhim2:ct-a05e8d88-a6dc-43d5-b1b8-723cdc9bf680"/>
  <xs:element name="el-be9013c4-2b6e-4b8f-96fd-16ab39d5c8a1"
    type="mlhim2:ct-be9013c4-2b6e-4b8f-96fd-16ab39d5c8a1"/>
  <xs:element name="el-5677e6da-33df-44d3-809b-853aba4373ea" substitutionGroup="mlhim2:DvAdapter-value"
    type="mlhim2:ct-5677e6da-33df-44d3-809b-853aba4373ea"/>
  <xs:element name="el-73035503-2b72-4c80-9abc-bdc967198d63" substitutionGroup="mlhim2:DvAdapter-value"
    type="mlhim2:ct-73035503-2b72-4c80-9abc-bdc967198d63"/>
  <xs:element name="el-7f9b5fb6-8cd7-4d09-805d-13c645db49c2" substitutionGroup="mlhim2:DvAdapter-value"
    type="mlhim2:ct-7f9b5fb6-8cd7-4d09-805d-13c645db49c2"/>
  <xs:element name="el-f80bf2ce-f3c2-4bb9-a539-1971474f7626" substitutionGroup="mlhim2:DvAdapter-value"
    type="mlhim2:ct-f80bf2ce-f3c2-4bb9-a539-1971474f7626"/>
  <xs:element name="el-cfaa55cd-2290-4ec2-8c7a-ff9e6cf68dd5" substitutionGroup="mlhim2:DvAdapter-value"
    type="mlhim2:ct-cfaa55cd-2290-4ec2-8c7a-ff9e6cf68dd5"/>
  <xs:element name="el-f51bbd8d-672e-4b8d-871c-2d84ac1c5d4a" substitutionGroup="mlhim2:DvAdapter-value"
    type="mlhim2:ct-f51bbd8d-672e-4b8d-871c-2d84ac1c5d4a"/>
  <xs:element name="el-74fd469d-e9e9-48e9-8a1a-9e2ccf3fbde4" substitutionGroup="mlhim2:DvAdapter-value"
    type="mlhim2:ct-74fd469d-e9e9-48e9-8a1a-9e2ccf3fbde4"/>
  <xs:element name="el-c3a88f56-3abc-416d-9d49-3e9f06bf74a5" substitutionGroup="mlhim2:Item"
    type="mlhim2:ct-c3a88f56-3abc-416d-9d49-3e9f06bf74a5"/>
  <xs:element name="el-62e20405-7908-4116-8662-2dd3bb0e6ea4" substitutionGroup="mlhim2:Items"
    type="mlhim2:ct-62e20405-7908-4116-8662-2dd3bb0e6ea4"/>
  <xs:element name="el-c8b3b872-dcb4-4a44-a386-5c626e116549" substitutionGroup="mlhim2:DvAdapter-value"
    type="mlhim2:ct-c8b3b872-dcb4-4a44-a386-5c626e116549"/>
  <xs:element name="el-831a09c9-ceaf-46e0-a4e1-afcd064880bd" substitutionGroup="mlhim2:DvAdapter-value"
    type="mlhim2:ct-831a09c9-ceaf-46e0-a4e1-afcd064880bd"/>
  <xs:element name="el-a926d847-3a3e-45c5-af3f-3c55a35aca34" substitutionGroup="mlhim2:DvAdapter-value"
    type="mlhim2:ct-a926d847-3a3e-45c5-af3f-3c55a35aca34"/>
  <xs:element name="el-7441c558-0087-4f77-bc5f-af4c82e26167" substitutionGroup="mlhim2:DvAdapter-value"
    type="mlhim2:ct-7441c558-0087-4f77-bc5f-af4c82e26167"/>
  <xs:element name="el-90d6bc7b-1fb9-4c18-858f-4283ef6ce2da" substitutionGroup="mlhim2:DvAdapter-value"
    type="mlhim2:ct-90d6bc7b-1fb9-4c18-858f-4283ef6ce2da"/>
</xs:schema>
