2_5_0/examples/ccd-6fb4a948-29da-4e87-ae66-8528da6da234.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="ccd-description.xsl"?>
<xs:schema
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:mlhim2="http://www.mlhim.org/ns/mlhim2/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sawsdlrdf="http://www.w3.org/ns/sawsdl#"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  targetNamespace="http://www.mlhim.org/ns/mlhim2/"
  vc:minVersion="1.1" xml:lang="en-US">
<!-- Include the RM Schema -->
  <xs:include schemaLocation="http://www.mlhim.org/ns/mlhim2/mlhim250.xsd"/>
<!-- Metadata -->
  <xs:annotation><xs:appinfo><rdf:RDF><rdf:Description
    rdf:about="http://www.ccdgen.com/ccdlib/ccd-6fb4a948-29da-4e87-ae66-8528da6da234.xsd">
    <dc:title>DemographicEntry CCD</dc:title>
    <dc:creator>Tim Cook &lt;tim@mlhim.org&gt;</dc:creator>
    <dc:subject>DemographicEntry CCD  - Testing Only</dc:subject>
    <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
    <dc:relation>None</dc:relation>
    <dc:coverage>Universal</dc:coverage>
    <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
    <dc:identifier>ccd-6fb4a948-29da-4e87-ae66-8528da6da234</dc:identifier>
    <dc:description>Testing CCD-Gen Implementation of the MLHIM RM functionality.</dc:description>
    <dc:publisher>MLHIM LAB, UERJ</dc:publisher>
    <dc:date>2015-07-27 14:46:18.269494+00:00</dc:date>
    <dc:format>text/xml</dc:format>
    <dc:language>en-US</dc:language>
  </rdf:Description></rdf:RDF></xs:appinfo></xs:annotation>
<!-- Complex Type Definitions -->
<xs:element name="ccd-6fb4a948-29da-4e87-ae66-8528da6da234" type="mlhim2:pcm-6fb4a948-29da-4e87-ae66-8528da6da234"/>
<xs:complexType name="pcm-6fb4a948-29da-4e87-ae66-8528da6da234"> 
  <xs:annotation>
    <xs:appinfo>
      <rdf:Description rdf:about="http://www.mlhim.org/ns/mlhim2:pcm-6fb4a948-29da-4e87-ae66-8528da6da234">
        <rdfs:subClassOf rdf:resource="mlhim2:CCDType"/>
        <rdfs:label>DemographicEntry CCD</rdfs:label>
        <rdfs:isDefinedBy rdf:resource="http%3A//www.mlhim.org/test_pcts"/>
      </rdf:Description>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexContent>
    <xs:restriction base="mlhim2:CCDType">
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:pcs-08ba1201-e281-441c-ab3c-69fe5643f4c2"/> 
      </xs:sequence>
    </xs:restriction>
  </xs:complexContent>
</xs:complexType>


<!-- Entry -->
  <xs:complexType name='pcm-08ba1201-e281-441c-ab3c-69fe5643f4c2'> 
    <xs:annotation>
    <xs:documentation>
      DemographicEntry  - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-08ba1201-e281-441c-ab3c-69fe5643f4c2'>
    <rdfs:subClassOf rdf:resource='mlhim2:DemographicEntryType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DemographicEntryType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="DemographicEntry  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='1' name='entry-language' type='xs:language' fixed='en-US'/>
          <xs:element maxOccurs='1' minOccurs='1' name='entry-encoding' type='xs:string' fixed='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string' default='testing me'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:pcs-6516582d-4e1c-429e-b206-a7e617809ef1'/>
          <xs:element maxOccurs='1' minOccurs='0' name='subject' type='mlhim2:pcm-273e0466-dd2c-4edf-838e-3512e12bc78e'/>
          <xs:element maxOccurs='1' minOccurs='0' name='provider' type='mlhim2:pcm-0b269b36-f04e-41db-8f38-858d95fe980c'/> 
          <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-1e58a938-4ae6-43d2-a0a8-68fd4b5c9db7'/>
          <xs:element maxOccurs='1' minOccurs='0' name='protocol' type='mlhim2:pcm-2014177e-478f-44f8-84c9-f4f0319b2426'/>
          <xs:element maxOccurs='1' minOccurs='0' name='workflow' type='mlhim2:pcm-10603744-6531-4e54-ba0e-3a059f31e4bb'/>
          <xs:element maxOccurs='1' minOccurs='0' name='audit' type='mlhim2:pcm-06cb8421-99fe-42cc-bc83-cbd550ef9b8c'/>
          <xs:element maxOccurs='1' minOccurs='0' name='attestation' type='mlhim2:pcm-9a0d6510-bdd5-4d3d-9c37-7f63df7b8d29'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-4bf68cf1-73b0-4f66-ba60-1e0be6e98873'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-473e1662-801b-41c3-ad01-9046d963f00d'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-4bf68cf1-73b0-4f66-ba60-1e0be6e98873' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      attached to
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-4bf68cf1-73b0-4f66-ba60-1e0be6e98873'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>attached to - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002371'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="attached to - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='http://purl.obolibrary.org/obo/RO_0002371'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-473e1662-801b-41c3-ad01-9046d963f00d' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
       X connected_to Y if and only if X and Y share a fiat boundary.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-473e1662-801b-41c3-ad01-9046d963f00d'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>Connected To  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002150'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Connected To  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='connected to'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-6516582d-4e1c-429e-b206-a7e617809ef1'> 
    <xs:annotation>
    <xs:documentation>
      DemographicEntry entry-data - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-6516582d-4e1c-429e-b206-a7e617809ef1'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>DemographicEntry entry-data - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="DemographicEntry entry-data - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-697e8df2-7890-4f44-8442-e7f2beab4425'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-d05d35e1-4452-47a4-a7c5-58d1aac8bf64'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-de4f8cae-5ef2-4e92-b76e-22f06501a942' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Yes/No field for the duration of the fever. It should be filled when the date of onset of the fever is not known.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-de4f8cae-5ef2-4e92-b76e-22f06501a942'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvBooleanType'/>
    <rdfs:label>Fever duration: 3 weeks or less  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//bvsms.saude.gov.br/bvs/periodicos/boletim_eletronico_epi_ano04_n04.pdf'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Fever duration: 3 weeks or less  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:choice maxOccurs='1' minOccurs='1'>
          <xs:element name='true-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='YES'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name='false-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='NO'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:choice>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-697e8df2-7890-4f44-8442-e7f2beab4425' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-697e8df2-7890-4f44-8442-e7f2beab4425'/>
  <xs:complexType name='pcm-697e8df2-7890-4f44-8442-e7f2beab4425'> <!-- Adapter for: Fever duration: 3 weeks or less  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-de4f8cae-5ef2-4e92-b76e-22f06501a942'/> <!-- Reference to: Fever duration: 3 weeks or less  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-52e32da3-fcab-4ecd-91ef-0f6d0ae0b7f9' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A test DvBoolean
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-52e32da3-fcab-4ecd-91ef-0f6d0ae0b7f9'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvBooleanType'/>
    <rdfs:label>Test DvBoolean  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Test DvBoolean  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:choice maxOccurs='1' minOccurs='1'>
          <xs:element name='true-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='Yes'/>
                  <xs:enumeration value='Sim'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name='false-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='No'/>
                  <xs:enumeration value='Não'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:choice>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-d05d35e1-4452-47a4-a7c5-58d1aac8bf64' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-d05d35e1-4452-47a4-a7c5-58d1aac8bf64'/>
  <xs:complexType name='pcm-d05d35e1-4452-47a4-a7c5-58d1aac8bf64'> <!-- Adapter for: Test DvBoolean  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-52e32da3-fcab-4ecd-91ef-0f6d0ae0b7f9'/> <!-- Reference to: Test DvBoolean  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      The device use in taking a blood pressure measurement.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Blood Pressure Device - Testing Use Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Blood Pressure Device - Testing Use Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Mercury sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d#Mercury sphygmomanometer'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d'/>
      <rdfs:label>Mercury sphygmomanometer</rdfs:label>
      <rdfs:comment>http://noharm.org/lib/downloads/mercury/Accuracy_Alts_Mercury_Sphyg_rev10-09.pdf</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Aneroid sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d#Aneroid sphygmomanometer'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d'/>
      <rdfs:label>Aneroid sphygmomanometer</rdfs:label>
      <rdfs:comment>http://en.wikipedia.org/wiki/Sphygmomanometer</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Digital'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d#Digital'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d'/>
      <rdfs:label>Digital</rdfs:label>
      <rdfs:comment>http://www.ncbi.nlm.nih.gov/pubmed/7934182</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-e9cbb207-9e89-416c-8b71-7cdb859b3097' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
  <xs:complexType name='pcm-e9cbb207-9e89-416c-8b71-7cdb859b3097'> <!-- Adapter for: Blood Pressure Device - Testing Use Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d'/> <!-- Reference to: Blood Pressure Device - Testing Use Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-273e0466-dd2c-4edf-838e-3512e12bc78e' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-273e0466-dd2c-4edf-838e-3512e12bc78e'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Subject of the Entry (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-b9fbc5e0-b9d5-4673-aaa9-6a561e64b7ce'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-b9fbc5e0-b9d5-4673-aaa9-6a561e64b7ce'> 
    <xs:annotation>
    <xs:documentation>
      Generic Details cluster with address elements.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-b9fbc5e0-b9d5-4673-aaa9-6a561e64b7ce'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Address Details (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Address Details (US)  - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-ba9f0692-280f-4ea4-996d-0e5767238191'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-292d5a72-d065-45af-903e-a7afe798ece8'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-b6c0cbb4-6fed-4172-a470-53dca59eba58'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-7065c308-842d-4cd6-a041-374367dc1246'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-64508ffb-066f-406f-9d8e-093417103eb4'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-1fb5aee4-dcb6-460c-888c-251573b557b5'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-3cc2f238-7c90-4d36-bc9a-bea26b737ff6' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used for additional address lines in the US such as building name or apartment number.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-3cc2f238-7c90-4d36-bc9a-bea26b737ff6'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Additional Address Line(s) (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Additional Address Line(s) (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-ba9f0692-280f-4ea4-996d-0e5767238191' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-ba9f0692-280f-4ea4-996d-0e5767238191'/>
  <xs:complexType name='pcm-ba9f0692-280f-4ea4-996d-0e5767238191'> <!-- Adapter for: Additional Address Line(s) (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-3cc2f238-7c90-4d36-bc9a-bea26b737ff6'/> <!-- Reference to: Additional Address Line(s) (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-ee244f65-2052-4708-8d2e-7721d864c46b' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for the City name.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-ee244f65-2052-4708-8d2e-7721d864c46b'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>City Name (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="City Name (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-292d5a72-d065-45af-903e-a7afe798ece8' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-292d5a72-d065-45af-903e-a7afe798ece8'/>
  <xs:complexType name='pcm-292d5a72-d065-45af-903e-a7afe798ece8'> <!-- Adapter for: City Name (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-ee244f65-2052-4708-8d2e-7721d864c46b'/> <!-- Reference to: City Name (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for two character US state abbreviation.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>State Abbreviation (USPS)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="State Abbreviation (USPS)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='AL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AL'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AL</rdfs:label>
      <rdfs:comment>Alabama</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AK'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AK'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AK</rdfs:label>
      <rdfs:comment>Alaska</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AS'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AS</rdfs:label>
      <rdfs:comment>American Samoa</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AZ'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AZ'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AZ</rdfs:label>
      <rdfs:comment>Arizona</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AR'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AR</rdfs:label>
      <rdfs:comment>Arkansas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#CA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>CA</rdfs:label>
      <rdfs:comment>California</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CO'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#CO'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>CO</rdfs:label>
      <rdfs:comment>Colorado</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#CT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>CT</rdfs:label>
      <rdfs:comment>Connecticut</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#DE'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>DE</rdfs:label>
      <rdfs:comment>Delaware</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#DC'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>DC</rdfs:label>
      <rdfs:comment>District of Columbia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#FM'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>FM</rdfs:label>
      <rdfs:comment>Federated States of Micronesia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#FL'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>FL</rdfs:label>
      <rdfs:comment>Florida</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#GA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>GA</rdfs:label>
      <rdfs:comment>Georgia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GU'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#GU'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>GU</rdfs:label>
      <rdfs:comment>Guam</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='HI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#HI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>HI</rdfs:label>
      <rdfs:comment>Hawaii</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ID'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#ID'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>ID</rdfs:label>
      <rdfs:comment>Idaho</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#IL'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>IL</rdfs:label>
      <rdfs:comment>Illinois</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#IN'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>IN</rdfs:label>
      <rdfs:comment>Indiana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#IA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>IA</rdfs:label>
      <rdfs:comment>Iowa</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#KS'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>KS</rdfs:label>
      <rdfs:comment>Kansas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#KY'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>KY</rdfs:label>
      <rdfs:comment>Kentucky</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='LA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#LA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>LA</rdfs:label>
      <rdfs:comment>Louisiana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ME'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#ME'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>ME</rdfs:label>
      <rdfs:comment>Maine</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MH'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MH</rdfs:label>
      <rdfs:comment>Marshall Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MD'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MD'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MD</rdfs:label>
      <rdfs:comment>Maryland</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MA</rdfs:label>
      <rdfs:comment>Massachusetts</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MI</rdfs:label>
      <rdfs:comment>Michigan</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MN'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MN</rdfs:label>
      <rdfs:comment>Minnesota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MS'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MS</rdfs:label>
      <rdfs:comment>Mississippi</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MO'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MO'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MO</rdfs:label>
      <rdfs:comment>Missouri</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MT</rdfs:label>
      <rdfs:comment>Montana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NE'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NE</rdfs:label>
      <rdfs:comment>Nebraska</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NV'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NV'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NV</rdfs:label>
      <rdfs:comment>Nevada</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NH'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NH</rdfs:label>
      <rdfs:comment>New Hampshire</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NJ'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NJ'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NJ</rdfs:label>
      <rdfs:comment>New Jersey</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NM'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NM</rdfs:label>
      <rdfs:comment>New Mexico</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NY'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NY</rdfs:label>
      <rdfs:comment>New York</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#NC'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>NC</rdfs:label>
      <rdfs:comment>North Carolina</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ND'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#ND'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>ND</rdfs:label>
      <rdfs:comment>North Dakota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MP'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#MP'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>MP</rdfs:label>
      <rdfs:comment>Northern Mariana Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#CM'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>CM</rdfs:label>
      <rdfs:comment>Northern Mariana Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#OH'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>OH</rdfs:label>
      <rdfs:comment>Ohio</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OK'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#OK'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>OK</rdfs:label>
      <rdfs:comment>Oklahoma</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#OR'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>OR</rdfs:label>
      <rdfs:comment>Oregon</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#PA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>PA</rdfs:label>
      <rdfs:comment>Pennsylvania</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#PR'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>PR</rdfs:label>
      <rdfs:comment>Puerto Rico</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='RI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#RI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>RI</rdfs:label>
      <rdfs:comment>Rhode Island</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#SC'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>SC</rdfs:label>
      <rdfs:comment>South Carolina</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SD'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#SD'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>SD</rdfs:label>
      <rdfs:comment>South Dakota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#TN'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>TN</rdfs:label>
      <rdfs:comment>Tennessee</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TX'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#TX'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>TX</rdfs:label>
      <rdfs:comment>Texas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#TT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>TT</rdfs:label>
      <rdfs:comment>Trust Territory of the Pacific Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AA</rdfs:label>
      <rdfs:comment>U.S. Armed Forces – Americas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AE'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AE</rdfs:label>
      <rdfs:comment>U.S. Armed Forces – Europe</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AP'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#AP'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>AP</rdfs:label>
      <rdfs:comment>U.S. Armed Forces – Pacific</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='UT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#UT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>UT</rdfs:label>
      <rdfs:comment>Utah</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#VT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>VT</rdfs:label>
      <rdfs:comment>Vermont</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#VI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>VI</rdfs:label>
      <rdfs:comment>Virgin Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#VA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>VA</rdfs:label>
      <rdfs:comment>Virginia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#WA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>WA</rdfs:label>
      <rdfs:comment>Washington</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WV'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#WV'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>WV</rdfs:label>
      <rdfs:comment>West Virginia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#WI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>WI</rdfs:label>
      <rdfs:comment>Wisconsin</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c#WY'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c'/>
      <rdfs:label>WY</rdfs:label>
      <rdfs:comment>Wyoming</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-b6c0cbb4-6fed-4172-a470-53dca59eba58' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-b6c0cbb4-6fed-4172-a470-53dca59eba58'/>
  <xs:complexType name='pcm-b6c0cbb4-6fed-4172-a470-53dca59eba58'> <!-- Adapter for: State Abbreviation (USPS)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-2fff9fb6-d022-418a-869d-60bd4551fb4c'/> <!-- Reference to: State Abbreviation (USPS)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-c73db9db-94fd-4641-84df-bf4c8e2c4632' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A single line US Street number and name. The typical format is:
123 Main St. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-c73db9db-94fd-4641-84df-bf4c8e2c4632'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Street Number and Name (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Street Number and Name (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-7065c308-842d-4cd6-a041-374367dc1246' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-7065c308-842d-4cd6-a041-374367dc1246'/>
  <xs:complexType name='pcm-7065c308-842d-4cd6-a041-374367dc1246'> <!-- Adapter for: Street Number and Name (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-c73db9db-94fd-4641-84df-bf4c8e2c4632'/> <!-- Reference to: Street Number and Name (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-42599aa0-2030-4f46-8bf4-053bbef2eb37' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A US telephone number. Exactly 12 characters; 111-111-1111 with a pattern match of "[0-9]{3}-[0-9]{3}-[0-9]{4}" 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-42599aa0-2030-4f46-8bf4-053bbef2eb37'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Telephone Number (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Telephone Number (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string' default='111-111-1111'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '[0-9]{3}-[0-9]{3}-[0-9]{4}')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-64508ffb-066f-406f-9d8e-093417103eb4' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-64508ffb-066f-406f-9d8e-093417103eb4'/>
  <xs:complexType name='pcm-64508ffb-066f-406f-9d8e-093417103eb4'> <!-- Adapter for: Telephone Number (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-42599aa0-2030-4f46-8bf4-053bbef2eb37'/> <!-- Reference to: Telephone Number (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-cab630ec-ec96-4247-951a-42eac6343ba5' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in address cluster for US Zip (postal) Codes. Minimum of 5 characters with a maximum of 10 characters. Accommodates the older 5 character codes or the Zip+4 with the additional 4 characters following a dash. 

Examples:
12345
12345-0987 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-cab630ec-ec96-4247-951a-42eac6343ba5'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Zip Code (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//www.usps.com/'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Zip Code (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^\d{5}([\-]?\d{4})?$')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-1fb5aee4-dcb6-460c-888c-251573b557b5' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-1fb5aee4-dcb6-460c-888c-251573b557b5'/>
  <xs:complexType name='pcm-1fb5aee4-dcb6-460c-888c-251573b557b5'> <!-- Adapter for: Zip Code (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-cab630ec-ec96-4247-951a-42eac6343ba5'/> <!-- Reference to: Zip Code (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-0b269b36-f04e-41db-8f38-858d95fe980c' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-0b269b36-f04e-41db-8f38-858d95fe980c'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Entry Provider (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-b9fbc5e0-b9d5-4673-aaa9-6a561e64b7ce'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-1e58a938-4ae6-43d2-a0a8-68fd4b5c9db7' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Entry Participation
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-1e58a938-4ae6-43d2-a0a8-68fd4b5c9db7'>
    <rdfs:subClassOf rdf:resource='mlhim2:ParticipationType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ParticipationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Entry Participation  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='performer' type='mlhim2:pcm-bc650de9-b0a0-42be-9e97-e05aeecf1e85'/>
          <xs:element maxOccurs='1' minOccurs='0' name='function' type='mlhim2:pcm-6cd52fa5-5737-4a0d-bb2a-bb6dec35b9a8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='mode' type='mlhim2:pcm-71f86070-54f9-4c8c-b2a1-db298b0eddfb'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='start' type='xs:dateTimeStamp'/>
          <xs:element maxOccurs='1' minOccurs='0' name='end' type='xs:dateTimeStamp'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-bc650de9-b0a0-42be-9e97-e05aeecf1e85' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-bc650de9-b0a0-42be-9e97-e05aeecf1e85'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Participation Performer  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-b9fbc5e0-b9d5-4673-aaa9-6a561e64b7ce'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-6cd52fa5-5737-4a0d-bb2a-bb6dec35b9a8' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Participation Function
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-6cd52fa5-5737-4a0d-bb2a-bb6dec35b9a8'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Participation Function - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//xmlns.com/foaf/spec/%23glance'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Participation Function - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='This'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6cd52fa5-5737-4a0d-bb2a-bb6dec35b9a8#This'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-6cd52fa5-5737-4a0d-bb2a-bb6dec35b9a8'/>
      <rdfs:label>This</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/function#This</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='That'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6cd52fa5-5737-4a0d-bb2a-bb6dec35b9a8#That'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-6cd52fa5-5737-4a0d-bb2a-bb6dec35b9a8'/>
      <rdfs:label>That</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/function#That</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Other Thing'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6cd52fa5-5737-4a0d-bb2a-bb6dec35b9a8#Other Thing'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-6cd52fa5-5737-4a0d-bb2a-bb6dec35b9a8'/>
      <rdfs:label>Other Thing</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/function#OtherThing</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-71f86070-54f9-4c8c-b2a1-db298b0eddfb' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic definition that the participation mode is some type of agent. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-71f86070-54f9-4c8c-b2a1-db298b0eddfb'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Participation Mode - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Participation Mode - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Doctor'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-71f86070-54f9-4c8c-b2a1-db298b0eddfb#Doctor'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-71f86070-54f9-4c8c-b2a1-db298b0eddfb'/>
      <rdfs:label>Doctor</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/mode#Doctor</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Baker'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-71f86070-54f9-4c8c-b2a1-db298b0eddfb#Baker'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-71f86070-54f9-4c8c-b2a1-db298b0eddfb'/>
      <rdfs:label>Baker</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/mode#Baker</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CandlestickMaker'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-71f86070-54f9-4c8c-b2a1-db298b0eddfb#CandlestickMaker'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-71f86070-54f9-4c8c-b2a1-db298b0eddfb'/>
      <rdfs:label>CandlestickMaker</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/mode#CandlestickMaker</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-2014177e-478f-44f8-84c9-f4f0319b2426' xml:lang='pt-BR'> 
    <xs:annotation>
    <xs:documentation>
      Outros
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-2014177e-478f-44f8-84c9-f4f0319b2426'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Outros</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Outros"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='pt-BR'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-10603744-6531-4e54-ba0e-3a059f31e4bb' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      The link points to the workflow definition
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-10603744-6531-4e54-ba0e-3a059f31e4bb'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>Workflow ID  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/IAO_0000178'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Workflow ID  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='material information bearer'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-06cb8421-99fe-42cc-bc83-cbd550ef9b8c' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      Test audit for  - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-06cb8421-99fe-42cc-bc83-cbd550ef9b8c'>
    <rdfs:subClassOf rdf:resource='mlhim2:AuditType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AuditType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Audit Test  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='1' name='system-id' type='mlhim2:pcm-f75ce947-4c63-4fb3-a9d5-d63c47f42cab'/>
          <xs:element maxOccurs='1' minOccurs='0' name='system-user' type='mlhim2:pcm-8de1fbd9-6f91-46ee-850f-a242f245de2d'/>
          <xs:element maxOccurs='1' minOccurs='0' name='location' type='mlhim2:pcm-9d7c241e-60ac-448c-8b21-d6b25a6a71bc'/>
          <xs:element maxOccurs='1' minOccurs='1' name='timestamp' type='xs:dateTimeStamp'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-f75ce947-4c63-4fb3-a9d5-d63c47f42cab' xml:lang='pt-BR'> 
    <xs:annotation>
    <xs:documentation>
      Outras Neoplasias
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-f75ce947-4c63-4fb3-a9d5-d63c47f42cab'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Outras Neoplasias</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='ftp%3A//ftp.datasus.gov.br/siscam/siscolo/Manual_SisColo4_Coordenacao.zip'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Outras Neoplasias"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='pt-BR'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-8de1fbd9-6f91-46ee-850f-a242f245de2d' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-8de1fbd9-6f91-46ee-850f-a242f245de2d'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Audit Details Provider (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-b9fbc5e0-b9d5-4673-aaa9-6a561e64b7ce'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-9d7c241e-60ac-448c-8b21-d6b25a6a71bc'> 
    <xs:annotation>
    <xs:documentation>
      Generic location structure. Uses decimal format WGS84 lat/lon coordinates.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-9d7c241e-60ac-448c-8b21-d6b25a6a71bc'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Latitude/Longitude Location (WGS84)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Latitude/Longitude Location (WGS84)  - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-494fc0e0-0977-4523-9272-fec73912a4e7'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-680d23bb-eacd-4308-a272-315ccdd68b3f'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-6e8883aa-22e6-4d07-8e49-442eb09d6057' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Matches a latitude in the range of -90 to 90 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-6e8883aa-22e6-4d07-8e49-442eb09d6057'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>System Location Latitude  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="System Location Latitude  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^-?([1-8]?[0-9]\.{1}\d{1,6}$|90\.{1}0{1,6}$)')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-494fc0e0-0977-4523-9272-fec73912a4e7' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-494fc0e0-0977-4523-9272-fec73912a4e7'/>
  <xs:complexType name='pcm-494fc0e0-0977-4523-9272-fec73912a4e7'> <!-- Adapter for: System Location Latitude  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-6e8883aa-22e6-4d07-8e49-442eb09d6057'/> <!-- Reference to: System Location Latitude  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-d1f54276-65ef-4eab-8996-6ff7ffcacf47' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Matches a longitude in the range of -180 to 180 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-d1f54276-65ef-4eab-8996-6ff7ffcacf47'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>System Location Longitude  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="System Location Longitude  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^-?((([1]?[0-7][0-9]|[1-9]?[0-9])\.{1}\d{1,6}$)|[1]?[1-8][0]\.{1}0{1,6}$)')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-680d23bb-eacd-4308-a272-315ccdd68b3f' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-680d23bb-eacd-4308-a272-315ccdd68b3f'/>
  <xs:complexType name='pcm-680d23bb-eacd-4308-a272-315ccdd68b3f'> <!-- Adapter for: System Location Longitude  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-d1f54276-65ef-4eab-8996-6ff7ffcacf47'/> <!-- Reference to: System Location Longitude  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-9a0d6510-bdd5-4d3d-9c37-7f63df7b8d29' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic attestation. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-9a0d6510-bdd5-4d3d-9c37-7f63df7b8d29'>
    <rdfs:subClassOf rdf:resource='mlhim2:AttestationType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AttestationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='view' type='mlhim2:pcm-f2051f7a-8ca4-4366-b382-84333f4cc039'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='proof' type='mlhim2:pcm-a43dea59-62ec-4f80-8c07-e00249a4b90e'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='committer' type='mlhim2:pcm-86f6b935-2411-4b8e-813a-4c7a43e9f578'/>
          <xs:element maxOccurs='1' minOccurs='0' name='committed' type='xs:dateTimeStamp'/>
          <xs:element maxOccurs='1' minOccurs='1' default='true' name='pending' type='xs:boolean'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-f2051f7a-8ca4-4366-b382-84333f4cc039' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation view.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-f2051f7a-8ca4-4366-b382-84333f4cc039'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvFileType'/>
    <rdfs:label>Attestation View  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvFileType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation View  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvfile-language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='media-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='compression-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-result' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-function' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='alt-txt' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' name='media-content' type='xs:base64Binary'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-a43dea59-62ec-4f80-8c07-e00249a4b90e' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation proof document.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-a43dea59-62ec-4f80-8c07-e00249a4b90e'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvFileType'/>
    <rdfs:label>Proof  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvFileType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Proof  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvfile-language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='1' name='media-type'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='text/html'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='compression-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-result' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-function' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='alt-txt' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' name='text-content' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-86f6b935-2411-4b8e-813a-4c7a43e9f578' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-86f6b935-2411-4b8e-813a-4c7a43e9f578'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation Committer  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-b9fbc5e0-b9d5-4673-aaa9-6a561e64b7ce'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>


<!-- Substitution Groups -->
  <xs:element name="pcs-08ba1201-e281-441c-ab3c-69fe5643f4c2" substitutionGroup="mlhim2:Definition" type="mlhim2:pcm-08ba1201-e281-441c-ab3c-69fe5643f4c2"/>
  <xs:element name="pcs-de4f8cae-5ef2-4e92-b76e-22f06501a942" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-de4f8cae-5ef2-4e92-b76e-22f06501a942"/>
  <xs:element name="pcs-d1f54276-65ef-4eab-8996-6ff7ffcacf47" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-d1f54276-65ef-4eab-8996-6ff7ffcacf47"/>
  <xs:element name="pcs-1e58a938-4ae6-43d2-a0a8-68fd4b5c9db7" substitutionGroup="mlhim2:Participation" type="mlhim2:pcm-1e58a938-4ae6-43d2-a0a8-68fd4b5c9db7"/>
  <xs:element name="pcs-42599aa0-2030-4f46-8bf4-053bbef2eb37" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-42599aa0-2030-4f46-8bf4-053bbef2eb37"/>
  <xs:element name="pcs-52e32da3-fcab-4ecd-91ef-0f6d0ae0b7f9" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-52e32da3-fcab-4ecd-91ef-0f6d0ae0b7f9"/>
  <xs:element name="pcs-cab630ec-ec96-4247-951a-42eac6343ba5" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-cab630ec-ec96-4247-951a-42eac6343ba5"/>
  <xs:element name="pcs-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-b3dd6ce1-fc73-47c7-a5ec-e05f4f494e1d"/>
  <xs:element name="pcs-3cc2f238-7c90-4d36-bc9a-bea26b737ff6" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-3cc2f238-7c90-4d36-bc9a-bea26b737ff6"/>
  <xs:element name="pcs-6516582d-4e1c-429e-b206-a7e617809ef1" substitutionGroup="mlhim2:Item" type="mlhim2:pcm-6516582d-4e1c-429e-b206-a7e617809ef1"/>
  <xs:element name="pcs-6e8883aa-22e6-4d07-8e49-442eb09d6057" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-6e8883aa-22e6-4d07-8e49-442eb09d6057"/>
  <xs:element name="pcs-ee244f65-2052-4708-8d2e-7721d864c46b" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-ee244f65-2052-4708-8d2e-7721d864c46b"/>
  <xs:element name="pcs-2fff9fb6-d022-418a-869d-60bd4551fb4c" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-2fff9fb6-d022-418a-869d-60bd4551fb4c"/>
  <xs:element name="pcs-473e1662-801b-41c3-ad01-9046d963f00d" substitutionGroup="mlhim2:DvLink" type="mlhim2:pcm-473e1662-801b-41c3-ad01-9046d963f00d"/>
  <xs:element name="pcs-4bf68cf1-73b0-4f66-ba60-1e0be6e98873" substitutionGroup="mlhim2:DvLink" type="mlhim2:pcm-4bf68cf1-73b0-4f66-ba60-1e0be6e98873"/>
  <xs:element name="pcs-c73db9db-94fd-4641-84df-bf4c8e2c4632" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-c73db9db-94fd-4641-84df-bf4c8e2c4632"/>

</xs:schema>
