2_4_5/examples/Admin_CCD_245.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema  xmlns:xs='http://www.w3.org/2001/XMLSchema'
  xmlns:mlhim245='http://www.mlhim.org/xmlns/mlhim2/2_4_5'
  xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#'
  xmlns:owl='http://www.w3.org/2002/07/owl#'
  xmlns:dc='http://purl.org/dc/elements/1.1/'
  xmlns:sawsdl='http://www.w3.org/ns/sawsdl'
  xmlns:sawsdlrdf='http://www.w3.org/ns/sawsdl#'
  xmlns:rdfs='http://www.w3.org/2000/01/rdf-schema#'
  xmlns:ccd='http://www.mlhim.org/ccd'
  targetNamespace='http://www.mlhim.org/ccd'
  xmlns:vc='http://www.w3.org/2007/XMLSchema-versioning' vc:minVersion='1.1'
>

  <!-- Import the Reference Model -->
  <xs:import schemaLocation='http://www.mlhim.org/xmlns/mlhim2/2_4_5/mlhim245.xsd' namespace='http://www.mlhim.org/xmlns/mlhim2/2_4_5'/>

  <!-- METADATA Section -->
  <xs:annotation>
    <xs:appinfo>
    <rdf:RDF>
    <rdf:Description rdf:about='http://www.ccdgen.com/ccdlib/ccd-a351ee5c-c303-4fc2-b190-e22c7a26ddad.xsd'>
      <dc:title>Testing 2.4.5 Implementation (Admin)</dc:title>
      <dc:creator>Tim Cook tim@mlhim.org</dc:creator>
      <dc:contributor>None</dc:contributor>
      <dc:subject>Test 2.4.5 AdminEntry;Test 2.4.5</dc:subject>
      <dc:source>http://www.mlhim.org</dc:source>
      <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
      <dc:relation>None</dc:relation>
      <dc:coverage>Universal</dc:coverage>
      <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
      <dc:identifier>ccd-a351ee5c-c303-4fc2-b190-e22c7a26ddad</dc:identifier>
      <dc:description>
        Testing CCD-Gen Implementation of the MLHIM 2.4.5 RM functionality.
        This CCD was created by the CCD-Gen application.
      </dc:description>
      <dc:publisher>MLHIM LAB, UERJ</dc:publisher>
      <dc:date>2014-09-15 13:52:01.914367+00:00</dc:date>
      <dc:format>text/xml</dc:format>
      <dc:language>en-US</dc:language>
    </rdf:Description>
    </rdf:RDF>
    </xs:appinfo>
  </xs:annotation>

  <!-- CCD Root Element -->
  <xs:element name='ccd-a351ee5c-c303-4fc2-b190-e22c7a26ddad' type='ccd:ct-a351ee5c-c303-4fc2-b190-e22c7a26ddad'/>
  <xs:complexType name='ct-a351ee5c-c303-4fc2-b190-e22c7a26ddad'> <!-- Testing 2.4.5 Implementation (Admin) -->
    <xs:complexContent>
      <xs:restriction base='mlhim245:CCDType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' ref='ccd:el-1b19d08f-d11d-442e-89cb-68e4f290122a'/> <!-- definition -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

    <!-- CCD Components Begin Below -->

  <xs:complexType name='ct-1b19d08f-d11d-442e-89cb-68e4f290122a'> <!-- Test 2.4.5 AdminEntry -->
    <xs:annotation>
    <xs:documentation>
      Testing 2.4.5
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-1b19d08f-d11d-442e-89cb-68e4f290122a : Test 2.4.5 AdminEntry -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:AdminEntryType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-c0bfcffb-8891-4b60-a3a9-fafc716d4283'/> <!-- entry-links -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:entry-audit'/>
          <xs:element maxOccurs='1' minOccurs='1' name='language' type='xs:language' fixed='en-US'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' fixed='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-7d7d1225-dd95-457e-a838-0bdca7be448f'/> <!-- entry-subject -->
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-6556e8e9-1646-4b38-bab0-72353c13c035'/> <!-- entry-provider -->
          <xs:element maxOccurs='unbounded' minOccurs='0' ref='ccd:el-a66de5b3-7d00-4b0e-b6b0-b96b39b1b1ef'/> <!-- other-participations -->
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-90f19fde-c3b0-422a-85ad-30ed7139c57a'/> <!-- protocol-id -->
          <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-3b46a988-3845-4660-9f3c-bc09b23ca7b7'/> <!-- workflow-id -->
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-09195d20-7e9d-4c19-bfcb-acf47bafbf98'/> <!-- attestation -->
          <xs:element maxOccurs='1' minOccurs='1' ref='ccd:el-3c00a7ae-d144-47e5-95aa-431aba322002'/> <!-- entry-data -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-c0bfcffb-8891-4b60-a3a9-fafc716d4283' xml:lang='en-US'> <!-- Connected To - Test 2.4.5 -->
    <xs:annotation>
    <xs:documentation>
       X connected_to Y if and only if X and Y share a fiat boundary.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-c0bfcffb-8891-4b60-a3a9-fafc716d4283'>
    <rdf:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002150'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvURIType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Connected To - Test 2.4.5"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvURI-dv' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='connected to'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-7d7d1225-dd95-457e-a838-0bdca7be448f' xml:lang='en-US'> <!-- Subject of the Entry (US) -->
    <xs:annotation>
    <xs:documentation>
      A generic Entry Subject.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-7d7d1225-dd95-457e-a838-0bdca7be448f'>
    <rdf:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:external-ref'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-c3a94922-7fed-415e-8d8c-6b184b167cdb'/> <!-- details -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-c3a94922-7fed-415e-8d8c-6b184b167cdb'> <!-- Address Details (US) -->
    <xs:annotation>
    <xs:documentation>
      Details cluster with address elements.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-c3a94922-7fed-415e-8d8c-6b184b167cdb'>
    <rdf:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed="Address Details (US)"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-81450576-b284-4c9c-a48b-fce809dab869'/><!-- DvString Additional Address Line(s) (US) -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-3f8ea455-9e59-46ac-9889-15ef78040ebf'/><!-- DvString State Abbreviation (USPS) -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-d2bdf7e2-bb37-457f-8782-ee22fb8cee12'/><!-- DvString Street Number and Name (US) -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-ed052649-7ccc-49f7-8de4-54dd37227e3f'/><!-- DvString Telephone Number (US) -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-4ed453ea-0435-4366-83f4-bb444c2a4885'/><!-- DvString Zip Code (US) -->
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='ct-d102a7b2-675c-432c-b7a2-1df1620e1ccc' xml:lang='en-US'> <!-- Additional Address Line(s) (US) -->
    <xs:annotation>
    <xs:documentation>
      Used for additional address lines in the US such as building name or apartment number.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-d102a7b2-675c-432c-b7a2-1df1620e1ccc : Additional Address Line(s) (US) -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Additional Address Line(s) (US)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-81450576-b284-4c9c-a48b-fce809dab869' substitutionGroup='mlhim245:items' type='ccd:ct-81450576-b284-4c9c-a48b-fce809dab869'/>
  <xs:complexType name='ct-81450576-b284-4c9c-a48b-fce809dab869'> <!-- Adapter for: Additional Address Line(s) (US) -->
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-d102a7b2-675c-432c-b7a2-1df1620e1ccc'/> <!-- Reference to: Additional Address Line(s) (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-aea44d76-771e-4c34-ae69-6d37643e96b7' xml:lang='en-US'> <!-- State Abbreviation (USPS) -->
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for two character US state abbreviation.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-aea44d76-771e-4c34-ae69-6d37643e96b7 : State Abbreviation (USPS) -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="State Abbreviation (USPS)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='AL'>
                  <xs:annotation>
                    <xs:appinfo>
                      Alabama
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AK'>
                  <xs:annotation>
                    <xs:appinfo>
                      Alaska
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AS'>
                  <xs:annotation>
                    <xs:appinfo>
                      American Samoa
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AZ'>
                  <xs:annotation>
                    <xs:appinfo>
                      Arizona
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AR'>
                  <xs:annotation>
                    <xs:appinfo>
                      Arkansas
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CA'>
                  <xs:annotation>
                    <xs:appinfo>
                      California
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CO'>
                  <xs:annotation>
                    <xs:appinfo>
                      Colorado
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Connecticut
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DE'>
                  <xs:annotation>
                    <xs:appinfo>
                      Delaware
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DC'>
                  <xs:annotation>
                    <xs:appinfo>
                      District of Columbia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FM'>
                  <xs:annotation>
                    <xs:appinfo>
                      Federated States of Micronesia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FL'>
                  <xs:annotation>
                    <xs:appinfo>
                      Florida
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Georgia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GU'>
                  <xs:annotation>
                    <xs:appinfo>
                      Guam
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='HI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Hawaii
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ID'>
                  <xs:annotation>
                    <xs:appinfo>
                      Idaho
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IL'>
                  <xs:annotation>
                    <xs:appinfo>
                      Illinois
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IN'>
                  <xs:annotation>
                    <xs:appinfo>
                      Indiana
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Iowa
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KS'>
                  <xs:annotation>
                    <xs:appinfo>
                      Kansas
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KY'>
                  <xs:annotation>
                    <xs:appinfo>
                      Kentucky
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='LA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Louisiana
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ME'>
                  <xs:annotation>
                    <xs:appinfo>
                      Maine
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MH'>
                  <xs:annotation>
                    <xs:appinfo>
                      Marshall Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MD'>
                  <xs:annotation>
                    <xs:appinfo>
                      Maryland
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Massachusetts
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Michigan
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MN'>
                  <xs:annotation>
                    <xs:appinfo>
                      Minnesota
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MS'>
                  <xs:annotation>
                    <xs:appinfo>
                      Mississippi
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MO'>
                  <xs:annotation>
                    <xs:appinfo>
                      Missouri
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Montana
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NE'>
                  <xs:annotation>
                    <xs:appinfo>
                      Nebraska
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NV'>
                  <xs:annotation>
                    <xs:appinfo>
                      Nevada
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NH'>
                  <xs:annotation>
                    <xs:appinfo>
                      New Hampshire
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NJ'>
                  <xs:annotation>
                    <xs:appinfo>
                      New Jersey
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NM'>
                  <xs:annotation>
                    <xs:appinfo>
                      New Mexico
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NY'>
                  <xs:annotation>
                    <xs:appinfo>
                      New York
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NC'>
                  <xs:annotation>
                    <xs:appinfo>
                      North Carolina
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ND'>
                  <xs:annotation>
                    <xs:appinfo>
                      North Dakota
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MP'>
                  <xs:annotation>
                    <xs:appinfo>
                      Northern Mariana Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CM'>
                  <xs:annotation>
                    <xs:appinfo>
                      Northern Mariana Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OH'>
                  <xs:annotation>
                    <xs:appinfo>
                      Ohio
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OK'>
                  <xs:annotation>
                    <xs:appinfo>
                      Oklahoma
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OR'>
                  <xs:annotation>
                    <xs:appinfo>
                      Oregon
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Pennsylvania
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PR'>
                  <xs:annotation>
                    <xs:appinfo>
                      Puerto Rico
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='RI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Rhode Island
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SC'>
                  <xs:annotation>
                    <xs:appinfo>
                      South Carolina
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SD'>
                  <xs:annotation>
                    <xs:appinfo>
                      South Dakota
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TN'>
                  <xs:annotation>
                    <xs:appinfo>
                      Tennessee
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TX'>
                  <xs:annotation>
                    <xs:appinfo>
                      Texas
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Trust Territory of the Pacific Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AA'>
                  <xs:annotation>
                    <xs:appinfo>
                      U.S. Armed Forces – Americas
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AE'>
                  <xs:annotation>
                    <xs:appinfo>
                      U.S. Armed Forces – Europe
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AP'>
                  <xs:annotation>
                    <xs:appinfo>
                      U.S. Armed Forces – Pacific
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='UT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Utah
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Vermont
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Virgin Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Virginia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Washington
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WV'>
                  <xs:annotation>
                    <xs:appinfo>
                      West Virginia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Wisconsin
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WY'>
                  <xs:annotation>
                    <xs:appinfo>
                      Wyoming
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-3f8ea455-9e59-46ac-9889-15ef78040ebf' substitutionGroup='mlhim245:items' type='ccd:ct-3f8ea455-9e59-46ac-9889-15ef78040ebf'/>
  <xs:complexType name='ct-3f8ea455-9e59-46ac-9889-15ef78040ebf'> <!-- Adapter for: State Abbreviation (USPS) -->
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-aea44d76-771e-4c34-ae69-6d37643e96b7'/> <!-- Reference to: State Abbreviation (USPS) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-ffa9835f-7ff3-4be8-ad9f-0fa536f8b7b8' xml:lang='en-US'> <!-- Street Number and Name (US) -->
    <xs:annotation>
    <xs:documentation>
      A single line US Street number and name. The typical format is:
123 Main St. 
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-ffa9835f-7ff3-4be8-ad9f-0fa536f8b7b8 : Street Number and Name (US) -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Street Number and Name (US)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-d2bdf7e2-bb37-457f-8782-ee22fb8cee12' substitutionGroup='mlhim245:items' type='ccd:ct-d2bdf7e2-bb37-457f-8782-ee22fb8cee12'/>
  <xs:complexType name='ct-d2bdf7e2-bb37-457f-8782-ee22fb8cee12'> <!-- Adapter for: Street Number and Name (US) -->
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-ffa9835f-7ff3-4be8-ad9f-0fa536f8b7b8'/> <!-- Reference to: Street Number and Name (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-9c65478e-5cdf-413b-aa54-ce0574e48374' xml:lang='en-US'> <!-- Telephone Number (US) -->
    <xs:annotation>
    <xs:documentation>
      A US telephone number. Exactly 12 characters; 111-111-1111 with a pattern match of "[0-9]{3}-[0-9]{3}-[0-9]{4}" 
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-9c65478e-5cdf-413b-aa54-ce0574e48374 : Telephone Number (US) -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Telephone Number (US)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string' default='111-111-1111'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
          <xs:assert test="matches(DvString-dv, '[0-9]{3}-[0-9]{3}-[0-9]{4}')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-ed052649-7ccc-49f7-8de4-54dd37227e3f' substitutionGroup='mlhim245:items' type='ccd:ct-ed052649-7ccc-49f7-8de4-54dd37227e3f'/>
  <xs:complexType name='ct-ed052649-7ccc-49f7-8de4-54dd37227e3f'> <!-- Adapter for: Telephone Number (US) -->
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-9c65478e-5cdf-413b-aa54-ce0574e48374'/> <!-- Reference to: Telephone Number (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-3a45af86-b8fd-4161-b9e0-4ccf6322493a' xml:lang='en-US'> <!-- Zip Code (US) -->
    <xs:annotation>
    <xs:documentation>
      Used in address cluster for US Zip (postal) Codes. Minimum of 5 characters with a maximum of 10 characters. Accommodates the older 5 character codes or the Zip+4 with the additional 4 characters following a dash. 

Examples:
12345
12345-0987 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-3a45af86-b8fd-4161-b9e0-4ccf6322493a'>
      <rdf:isDefinedBy rdf:resource='https%3A//www.usps.com/'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Zip Code (US)"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
          <xs:assert test="matches(DvString-dv, '^\d{5}([\-]?\d{4})?$')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-4ed453ea-0435-4366-83f4-bb444c2a4885' substitutionGroup='mlhim245:items' type='ccd:ct-4ed453ea-0435-4366-83f4-bb444c2a4885'/>
  <xs:complexType name='ct-4ed453ea-0435-4366-83f4-bb444c2a4885'> <!-- Adapter for: Zip Code (US) -->
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-3a45af86-b8fd-4161-b9e0-4ccf6322493a'/> <!-- Reference to: Zip Code (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-6556e8e9-1646-4b38-bab0-72353c13c035' xml:lang='en-US'> <!-- Entry Provider (US) -->
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-6556e8e9-1646-4b38-bab0-72353c13c035'>
    <rdf:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-fadd4b97-559d-423d-a90f-49a712e6f1bf'/> <!-- external-ref -->
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-c3a94922-7fed-415e-8d8c-6b184b167cdb'/> <!-- details -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-fadd4b97-559d-423d-a90f-49a712e6f1bf' xml:lang='en-US'> <!-- External Reference for Party - Test 2.4.5 -->
    <xs:annotation>
    <xs:documentation>
      A generic URI for use with Party to be used as a pointer to a demographic service record.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-fadd4b97-559d-423d-a90f-49a712e6f1bf'>
    <rdf:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvURIType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="External Reference for Party - Test 2.4.5"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvURI-dv' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='Party Associated with the record'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-a66de5b3-7d00-4b0e-b6b0-b96b39b1b1ef' xml:lang='en-US'> <!-- Entry Participation -->
    <xs:annotation>
    <xs:documentation>
      Entry Participation
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-a66de5b3-7d00-4b0e-b6b0-b96b39b1b1ef : Entry Participation -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:ParticipationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-9c9b3fb7-bc53-4a6a-9434-392101ef9b08'/> <!-- performer -->
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-cf7bb5ef-b6f0-42df-b144-aa475de9f010'/> <!-- function -->
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-fa1a3488-43d7-4e2f-8807-a3f9ddeeccee'/> <!-- mode -->
          <xs:element maxOccurs='1' minOccurs='0' name='start-time' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='end-time' type='xs:dateTime'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-9c9b3fb7-bc53-4a6a-9434-392101ef9b08' xml:lang='en-US'> <!-- Participation Performer -->
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-9c9b3fb7-bc53-4a6a-9434-392101ef9b08'>
    <rdf:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-fadd4b97-559d-423d-a90f-49a712e6f1bf'/> <!-- external-ref -->
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-c3a94922-7fed-415e-8d8c-6b184b167cdb'/> <!-- details -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-cf7bb5ef-b6f0-42df-b144-aa475de9f010' xml:lang='en-US'> <!-- Participation Function - Test 2.4.5 -->
    <xs:annotation>
    <xs:documentation>
      Participation Function
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-cf7bb5ef-b6f0-42df-b144-aa475de9f010'>
      <rdf:isDefinedBy rdf:resource='http%3A//xmlns.com/foaf/spec/%23glance'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Participation Function - Test 2.4.5"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Agent'/>
                <xs:enumeration value='Group'/>
                <xs:enumeration value='Organization'/>
                <xs:enumeration value='Person'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='FOAF'/>
                <xs:enumeration value='FOAF'/>
                <xs:enumeration value='FOAF'/>
                <xs:enumeration value='FOAF'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Friend Of A Friend'/>
                <xs:enumeration value='Friend Of A Friend'/>
                <xs:enumeration value='Friend Of A Friend'/>
                <xs:enumeration value='Friend Of A Friend'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='0.98'/>
                <xs:enumeration value='0.98'/>
                <xs:enumeration value='0.98'/>
                <xs:enumeration value='0.98'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Agent'>
                  <xs:annotation>
                    <xs:appinfo>
                      Agent
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Group'>
                  <xs:annotation>
                    <xs:appinfo>
                      Group
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Organization'>
                  <xs:annotation>
                    <xs:appinfo>
                      Organization
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Person'>
                  <xs:annotation>
                    <xs:appinfo>
                      Person
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-fa1a3488-43d7-4e2f-8807-a3f9ddeeccee' xml:lang='en-US'> <!-- Participation Mode - Test 2.4.5 -->
    <xs:annotation>
    <xs:documentation>
      A generic definition that the participation mode is some type of agent. 
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-fa1a3488-43d7-4e2f-8807-a3f9ddeeccee : Participation Mode - Test 2.4.5 -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Participation Mode - Test 2.4.5"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Agent'/>
                <xs:enumeration value='Group'/>
                <xs:enumeration value='Organization'/>
                <xs:enumeration value='Person'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='FOAF'/>
                <xs:enumeration value='FOAF'/>
                <xs:enumeration value='FOAF'/>
                <xs:enumeration value='FOAF'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Friend Of A Friend'/>
                <xs:enumeration value='Friend Of A Friend'/>
                <xs:enumeration value='Friend Of A Friend'/>
                <xs:enumeration value='Friend Of A Friend'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='0.98'/>
                <xs:enumeration value='0.98'/>
                <xs:enumeration value='0.98'/>
                <xs:enumeration value='0.98'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Agent'>
                  <xs:annotation>
                    <xs:appinfo>
                      Agent
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Group'>
                  <xs:annotation>
                    <xs:appinfo>
                      Group
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Organization'>
                  <xs:annotation>
                    <xs:appinfo>
                      Organization
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Person'>
                  <xs:annotation>
                    <xs:appinfo>
                      Person
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-90f19fde-c3b0-422a-85ad-30ed7139c57a' xml:lang='en-US'> <!-- Generic Protocol ID - Test 2.4.5 -->
    <xs:annotation>
    <xs:documentation>
      A reusable system ID for Entry Protocol ID.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-90f19fde-c3b0-422a-85ad-30ed7139c57a'>
      <rdf:isDefinedBy rdf:resource='http%3A//www.mlhim.org'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvIdentifierType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Generic Protocol ID - Test 2.4.5"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
            <xs:element maxOccurs='1' minOccurs='1' name='id-name'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Protocal ID'>
                  <xs:annotation>
                    <xs:appinfo>
                      Protocal ID
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='issuer'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Owner'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='assignor'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Owner'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-3b46a988-3845-4660-9f3c-bc09b23ca7b7' xml:lang='en-US'> <!-- Workflow ID - Test 2.4.5 -->
    <xs:annotation>
    <xs:documentation>
      The link points to the workflow definition
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-3b46a988-3845-4660-9f3c-bc09b23ca7b7'>
    <rdf:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/IAO_0000178'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvURIType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Workflow ID - Test 2.4.5"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvURI-dv' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='material information bearer'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-09195d20-7e9d-4c19-bfcb-acf47bafbf98' xml:lang='en-US'> <!-- Attestation  -->
    <xs:annotation>
    <xs:documentation>
      A generic attestation. 
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-09195d20-7e9d-4c19-bfcb-acf47bafbf98 : Attestation  -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:AttestationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-769d1fbc-ef3e-484b-bcec-c292bdb0f16e'/> <!-- attested-view -->
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-dcc9f32f-0e24-4884-aabb-145d24e21aaf'/> <!-- proof -->
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-93d066ef-c6ed-4fec-b747-aa87c71bbbbc'/> <!-- reason -->
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-0d8535e0-6bc8-424a-941d-539fa9d75211'/> <!-- committer -->
          <xs:element maxOccurs='1' minOccurs='0' name='time-committed' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' default='true' name='is-pending' type='xs:boolean'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-769d1fbc-ef3e-484b-bcec-c292bdb0f16e' xml:lang='en-US'> <!-- Attestation View - Test 2.4.5 -->
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation view.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-769d1fbc-ef3e-484b-bcec-c292bdb0f16e : Attestation View - Test 2.4.5 -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvMediaType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Attestation View - Test 2.4.5"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='mime-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='compression-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-result' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-function' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' name='alt-txt' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' name='uri' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='0' name='media-content' type='xs:base64Binary'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-dcc9f32f-0e24-4884-aabb-145d24e21aaf' xml:lang='en-US'> <!-- Proof - Test 2.4.5 -->
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation proof document.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-dcc9f32f-0e24-4884-aabb-145d24e21aaf : Proof - Test 2.4.5 -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvParsableType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Proof - Test 2.4.5"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='DvParsable-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1' name='formalism' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-93d066ef-c6ed-4fec-b747-aa87c71bbbbc' xml:lang='en-US'> <!-- Attestation Reason - Test 2.4.5 -->
    <xs:annotation>
    <xs:documentation>
      A finalized release of some information entity.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-93d066ef-c6ed-4fec-b747-aa87c71bbbbc'>
      <rdf:isDefinedBy rdf:resource='http%3A//usefulinc.com/ns/doap%2523release'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Attestation Reason - Test 2.4.5"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='release'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='DOAP'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Description of a Project'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='0.1'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='release'>
                  <xs:annotation>
                    <xs:appinfo>
                      release
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-0d8535e0-6bc8-424a-941d-539fa9d75211' xml:lang='en-US'> <!-- Attestation Committer -->
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-0d8535e0-6bc8-424a-941d-539fa9d75211'>
    <rdf:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-fadd4b97-559d-423d-a90f-49a712e6f1bf'/> <!-- external-ref -->
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-c3a94922-7fed-415e-8d8c-6b184b167cdb'/> <!-- details -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-3c00a7ae-d144-47e5-95aa-431aba322002'> <!-- Test 2.4.5 : AdminEntry entry-data -->
    <xs:annotation>
    <xs:documentation>
      Test 2.4.5 : AdminEntry entry-data
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-3c00a7ae-d144-47e5-95aa-431aba322002'>
    <rdf:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed="Test 2.4.5 : AdminEntry entry-data"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-78593028-574a-4596-bf38-5b4d037cb74e'/><!-- DvString CDC Race Code - Test 2.4.5 -->
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='ct-70d4b917-9f7c-4ffb-bfcf-a603c4938c10' xml:lang='en-US'> <!-- CDC Race Code - Test 2.4.5 -->
    <xs:annotation>
    <xs:documentation>
      The unique identifer code for reporting information about race based on the Center for Disease Control and Prevention (CDC) categories.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-70d4b917-9f7c-4ffb-bfcf-a603c4938c10'>
      <rdf:isDefinedBy rdf:resource='https%3A//cdebrowser.nci.nih.gov/CDEBrowser/search%3FelementDetails%3D9%26FirstTimer%3D0%26PageId%3DElementDetailsGroup%26publicId%3D2200286%26version%3D1.0'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="CDC Race Code - Test 2.4.5"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim245:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-78593028-574a-4596-bf38-5b4d037cb74e' substitutionGroup='mlhim245:items' type='ccd:ct-78593028-574a-4596-bf38-5b4d037cb74e'/>
  <xs:complexType name='ct-78593028-574a-4596-bf38-5b4d037cb74e'> <!-- Adapter for: CDC Race Code - Test 2.4.5 -->
    <xs:complexContent>
      <xs:restriction base='mlhim245:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-70d4b917-9f7c-4ffb-bfcf-a603c4938c10'/> <!-- Reference to: CDC Race Code - Test 2.4.5 -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name='el-1b19d08f-d11d-442e-89cb-68e4f290122a' substitutionGroup='mlhim245:definition' type='ccd:ct-1b19d08f-d11d-442e-89cb-68e4f290122a'/>
  <xs:element name='el-c0bfcffb-8891-4b60-a3a9-fafc716d4283' substitutionGroup='mlhim245:entry-links' type='ccd:ct-c0bfcffb-8891-4b60-a3a9-fafc716d4283'/>
  <xs:element name='el-7d7d1225-dd95-457e-a838-0bdca7be448f' substitutionGroup='mlhim245:entry-subject' type='ccd:ct-7d7d1225-dd95-457e-a838-0bdca7be448f'/>
  <xs:element name='el-c3a94922-7fed-415e-8d8c-6b184b167cdb' substitutionGroup='mlhim245:details' type='ccd:ct-c3a94922-7fed-415e-8d8c-6b184b167cdb'/>
  <xs:element name='el-d102a7b2-675c-432c-b7a2-1df1620e1ccc' substitutionGroup='mlhim245:DvAdapter-dv' type='ccd:ct-d102a7b2-675c-432c-b7a2-1df1620e1ccc'/>
  <xs:element name='el-aea44d76-771e-4c34-ae69-6d37643e96b7' substitutionGroup='mlhim245:DvAdapter-dv' type='ccd:ct-aea44d76-771e-4c34-ae69-6d37643e96b7'/>
  <xs:element name='el-ffa9835f-7ff3-4be8-ad9f-0fa536f8b7b8' substitutionGroup='mlhim245:DvAdapter-dv' type='ccd:ct-ffa9835f-7ff3-4be8-ad9f-0fa536f8b7b8'/>
  <xs:element name='el-9c65478e-5cdf-413b-aa54-ce0574e48374' substitutionGroup='mlhim245:DvAdapter-dv' type='ccd:ct-9c65478e-5cdf-413b-aa54-ce0574e48374'/>
  <xs:element name='el-3a45af86-b8fd-4161-b9e0-4ccf6322493a' substitutionGroup='mlhim245:DvAdapter-dv' type='ccd:ct-3a45af86-b8fd-4161-b9e0-4ccf6322493a'/>
  <xs:element name='el-6556e8e9-1646-4b38-bab0-72353c13c035' substitutionGroup='mlhim245:entry-provider' type='ccd:ct-6556e8e9-1646-4b38-bab0-72353c13c035'/>
  <xs:element name='el-fadd4b97-559d-423d-a90f-49a712e6f1bf' substitutionGroup='mlhim245:external-ref' type='ccd:ct-fadd4b97-559d-423d-a90f-49a712e6f1bf'/>
  <xs:element name='el-a66de5b3-7d00-4b0e-b6b0-b96b39b1b1ef' substitutionGroup='mlhim245:other-participations' type='ccd:ct-a66de5b3-7d00-4b0e-b6b0-b96b39b1b1ef'/>
  <xs:element name='el-9c9b3fb7-bc53-4a6a-9434-392101ef9b08' substitutionGroup='mlhim245:performer' type='ccd:ct-9c9b3fb7-bc53-4a6a-9434-392101ef9b08'/>
  <xs:element name='el-cf7bb5ef-b6f0-42df-b144-aa475de9f010' substitutionGroup='mlhim245:function' type='ccd:ct-cf7bb5ef-b6f0-42df-b144-aa475de9f010'/>
  <xs:element name='el-fa1a3488-43d7-4e2f-8807-a3f9ddeeccee' substitutionGroup='mlhim245:mode' type='ccd:ct-fa1a3488-43d7-4e2f-8807-a3f9ddeeccee'/>
  <xs:element name='el-90f19fde-c3b0-422a-85ad-30ed7139c57a' substitutionGroup='mlhim245:protocol-id' type='ccd:ct-90f19fde-c3b0-422a-85ad-30ed7139c57a'/>
  <xs:element name='el-3b46a988-3845-4660-9f3c-bc09b23ca7b7' substitutionGroup='mlhim245:workflow-id' type='ccd:ct-3b46a988-3845-4660-9f3c-bc09b23ca7b7'/>
  <xs:element name='el-09195d20-7e9d-4c19-bfcb-acf47bafbf98' substitutionGroup='mlhim245:attestation' type='ccd:ct-09195d20-7e9d-4c19-bfcb-acf47bafbf98'/>
  <xs:element name='el-769d1fbc-ef3e-484b-bcec-c292bdb0f16e' substitutionGroup='mlhim245:attested-view' type='ccd:ct-769d1fbc-ef3e-484b-bcec-c292bdb0f16e'/>
  <xs:element name='el-dcc9f32f-0e24-4884-aabb-145d24e21aaf' substitutionGroup='mlhim245:proof' type='ccd:ct-dcc9f32f-0e24-4884-aabb-145d24e21aaf'/>
  <xs:element name='el-93d066ef-c6ed-4fec-b747-aa87c71bbbbc' substitutionGroup='mlhim245:reason' type='ccd:ct-93d066ef-c6ed-4fec-b747-aa87c71bbbbc'/>
  <xs:element name='el-0d8535e0-6bc8-424a-941d-539fa9d75211' substitutionGroup='mlhim245:committer' type='ccd:ct-0d8535e0-6bc8-424a-941d-539fa9d75211'/>
  <xs:element name='el-3c00a7ae-d144-47e5-95aa-431aba322002' substitutionGroup='mlhim245:entry-data' type='ccd:ct-3c00a7ae-d144-47e5-95aa-431aba322002'/>
  <xs:element name='el-70d4b917-9f7c-4ffb-bfcf-a603c4938c10' substitutionGroup='mlhim245:DvAdapter-dv' type='ccd:ct-70d4b917-9f7c-4ffb-bfcf-a603c4938c10'/>

</xs:schema>
