2_4_4/examples/CCD_20117151-e438-4d6e-849c-e23650393cac/ccd-20117151-e438-4d6e-849c-e23650393cac.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema  xmlns:xs='http://www.w3.org/2001/XMLSchema'
  xmlns:mlhim244='http://www.mlhim.org/xmlns/mlhim2/2_4_4'
  xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#'
  xmlns:owl='http://www.w3.org/2002/07/owl#'
  xmlns:dc='http://purl.org/dc/elements/1.1/'
  xmlns:sawsdl='http://www.w3.org/ns/sawsdl'
  xmlns:sawsdlrdf='http://www.w3.org/ns/sawsdl#'
  xmlns:rdfs='http://www.w3.org/2000/01/rdf-schema#'
  xmlns:ccd='http://www.mlhim.org/ccd'
  targetNamespace='http://www.mlhim.org/ccd'
  xmlns:vc='http://www.w3.org/2007/XMLSchema-versioning' vc:minVersion='1.1'
>

  <!-- Import the Reference Model -->
  <xs:import schemaLocation='http://www.mlhim.org/xmlns/mlhim2/2_4_4/mlhim244.xsd' namespace='http://www.mlhim.org/xmlns/mlhim2/2_4_4'/>

  <!-- METADATA Section -->
  <xs:annotation>
    <xs:appinfo>
    <rdf:RDF>
    <rdf:Description rdf:about='http://www.ccdgen.com/ccdlib/ccd-20117151-e438-4d6e-849c-e23650393cac.xsd'>
      <dc:title>Test 2.4.4 All Datatypes</dc:title>
      <dc:creator>Tim Cook tim@mlhim.org</dc:creator>
      <dc:contributor>None</dc:contributor>
      <dc:subject>Test 2.4.4 All Datatypes;Generic</dc:subject>
      <dc:source>http://www.mlhim.org</dc:source>
      <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
      <dc:relation>None</dc:relation>
      <dc:coverage>Universal</dc:coverage>
      <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
      <dc:identifier>ccd-20117151-e438-4d6e-849c-e23650393cac</dc:identifier>
      <dc:description>
        Test 2.4.4 All Datatypes
        This CCD was created by the CCD-Gen application.
      </dc:description>
      <dc:publisher>MLHIM LAB, UERJ</dc:publisher>
      <dc:date>2014-05-20 15:54:47.073287+00:00</dc:date>
      <dc:format>text/xml</dc:format>
      <dc:language>en-US</dc:language>
    </rdf:Description>
    </rdf:RDF>
    </xs:appinfo>
  </xs:annotation>

  <!-- CCD Root Element -->
  <xs:element name='ccd-20117151-e438-4d6e-849c-e23650393cac' type='ccd:ct-20117151-e438-4d6e-849c-e23650393cac'/>
  <xs:complexType name='ct-20117151-e438-4d6e-849c-e23650393cac'> <!-- Test 2.4.4 All Datatypes -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:CCDType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' ref='ccd:el-090c6a4b-271d-4452-8bcc-59823268dc16'/> <!-- definition -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

    <!-- CCD Components Begin Below -->

  <xs:complexType name='ct-090c6a4b-271d-4452-8bcc-59823268dc16'> <!-- Test 2.4.4 All Datatypes -->
    <xs:annotation>
    <xs:documentation>
      Test 2.4.4 All Datatypes
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-090c6a4b-271d-4452-8bcc-59823268dc16 : Test 2.4.4 All Datatypes -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:AdminEntryType'>
        <xs:sequence>
          <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim244:entry-links'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:entry-audit'/>
          <xs:element maxOccurs='1' minOccurs='1' name='language' type='xs:language' fixed='en-US'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' fixed='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-e5563d40-2372-4fbd-9a27-c8f493f22c53'/> <!-- entry-subject -->
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-19ac8105-fa08-47ba-8dd0-9c79ca490bda'/> <!-- entry-provider -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:other-participations'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:protocol-id'/>
          <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:workflow-id'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:attestation'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='ccd:el-24aa9046-676a-47df-9c87-f9f8e3228fe7'/> <!-- entry-data -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-e5563d40-2372-4fbd-9a27-c8f493f22c53' xml:lang='en-US'> <!-- Entry Subject -->
    <xs:annotation>
    <xs:documentation>
      A generic entry_subject.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-e5563d40-2372-4fbd-9a27-c8f493f22c53 : Entry Subject -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:external-ref'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:details'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-19ac8105-fa08-47ba-8dd0-9c79ca490bda' xml:lang='en-US'> <!-- Entry Provider -->
    <xs:annotation>
    <xs:documentation>
      A generic entry_provider.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-19ac8105-fa08-47ba-8dd0-9c79ca490bda : Entry Provider -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:external-ref'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:details'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-24aa9046-676a-47df-9c87-f9f8e3228fe7'> <!-- Test 2.4.4 : entry-data -->
    <xs:annotation>
    <xs:documentation>
      The AdminEntry, entry-data cluster to test all of the 2.4.4 Dvs.  
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-24aa9046-676a-47df-9c87-f9f8e3228fe7 : Test 2.4.4 : entry-data -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed="Test 2.4.4 : entry-data"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-540f481d-6de4-4f32-abf4-96d0e5e796c1'/><!-- Cluster Test 2.4.4 - sub-cluster -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-d4a08e19-9404-45ac-a195-09120964468f'/><!-- DvBoolean Fever -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-53220c76-50de-44fb-9068-25224b96114d'/><!-- DvURI Contains -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-56a285a6-b4ac-4323-83a3-f13cb51f1703'/><!-- DvString Malaria blood smear test -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-8e8a8405-2c8d-4923-b7c4-8e3980c24d27'/><!-- DvCodedString Test CodedString for 2.4.4 -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-340f8c4e-784d-400c-87ef-1027e9443c61'/><!-- DvIdentifier AdverseReaction.identifier -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-45e75fc9-9351-4191-ae5c-345bc672a769'/><!-- DvParsable Test DvParsable for 2.4.4 -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-579fab01-0516-4bcb-877b-3dbc9dc398f5'/><!-- DvMedia Test DvMedia for 2.4.4 -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-e231bd83-0e84-4bf7-967a-d2bbae77bb49'/><!-- DvOrdinal Karnofsky Performance Status Score -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-b0d3bbaf-b236-4542-a588-e833a969c973'/><!-- DvCount Test DvCount for 2.4.4        -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-2af1bed1-41aa-4613-ab52-64d5876e52ac'/><!-- DvQuantity Test DvQuantity for 2.4.4 -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-90d5df6f-b3ef-4d53-93d2-de4a5afdb18f'/><!-- DvRatio Test Ratio -->
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-3c601bd8-79d4-48c3-8860-404c4502a8d5'/><!-- DvTemporal Fever: date of onset -->
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-540f481d-6de4-4f32-abf4-96d0e5e796c1'> <!-- Test 2.4.4 - sub-cluster -->
    <xs:annotation>
    <xs:documentation>
      testing sub cluster for 2.4.4
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-540f481d-6de4-4f32-abf4-96d0e5e796c1 : Test 2.4.4 - sub-cluster -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed="Test 2.4.4 - sub-cluster"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-72a22a0f-c83a-4b30-82a1-526bd8917a5e'/><!-- DvString Blood glucose before injection of imaging agent -->
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='ct-8c177dbd-c25e-4908-bffa-cdcb5c0e38e6' xml:lang='en-US'> <!-- Blood glucose before injection of imaging agent -->
    <xs:annotation>
    <xs:documentation>
      Record blood glucose value measured before administration of imaging agent.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-8c177dbd-c25e-4908-bffa-cdcb5c0e38e6'>
      <rdf:isDefinedBy rdf:resource='https%3A//cdebrowser.nci.nih.gov/CDEBrowser/search%3FelementDetails%3D9%26FirstTimer%3D0%26PageId%3DElementDetailsGroup%26publicId%3D2714892%26version%3D1.0'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Blood glucose before injection of imaging agent"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-72a22a0f-c83a-4b30-82a1-526bd8917a5e' substitutionGroup='mlhim244:items' type='ccd:ct-72a22a0f-c83a-4b30-82a1-526bd8917a5e'/>
  <xs:complexType name='ct-72a22a0f-c83a-4b30-82a1-526bd8917a5e'> <!-- Adapter for: Blood glucose before injection of imaging agent -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-8c177dbd-c25e-4908-bffa-cdcb5c0e38e6'/> <!-- Reference to: Blood glucose before injection of imaging agent -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-86c56818-26f0-4238-9292-1f32976755e5' xml:lang='en-US'> <!-- Fever -->
    <xs:annotation>
    <xs:documentation>
      Yes/No field for recording the presence/absence of the symptom fever. Only subjects with fever are eligible for this protocol.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-86c56818-26f0-4238-9292-1f32976755e5'>
    <rdf:isDefinedBy rdf:resource='http%3A//bvsms.saude.gov.br/bvs/periodicos/boletim_eletronico_epi_ano04_n04.pdf'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Fever"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-trues'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='YES'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-falses'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='NO'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='DvBoolean-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='YES'/>
                  <xs:enumeration value='NO'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-d4a08e19-9404-45ac-a195-09120964468f' substitutionGroup='mlhim244:items' type='ccd:ct-d4a08e19-9404-45ac-a195-09120964468f'/>
  <xs:complexType name='ct-d4a08e19-9404-45ac-a195-09120964468f'> <!-- Adapter for: Fever -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-86c56818-26f0-4238-9292-1f32976755e5'/> <!-- Reference to: Fever -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-da990c3e-c752-4787-9b3a-d6f4f4051f95' xml:lang='en-US'> <!-- Contains -->
    <xs:annotation>
    <xs:documentation>
       Intended meaning: domain: spatial region or site (immaterial continuant) range: material entity
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-da990c3e-c752-4787-9b3a-d6f4f4051f95'>
    <rdf:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0001019'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvURIType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Contains"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvURI-dv' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='contains'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-53220c76-50de-44fb-9068-25224b96114d' substitutionGroup='mlhim244:items' type='ccd:ct-53220c76-50de-44fb-9068-25224b96114d'/>
  <xs:complexType name='ct-53220c76-50de-44fb-9068-25224b96114d'> <!-- Adapter for: Contains -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-da990c3e-c752-4787-9b3a-d6f4f4051f95'/> <!-- Reference to: Contains -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='ct-02479f10-f59e-41a9-ab24-62882b83f168' xml:lang='en-US'> <!-- Malaria blood smear test -->
    <xs:annotation>
    <xs:documentation>
      Malaria blood smear test results
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-02479f10-f59e-41a9-ab24-62882b83f168'>
      <rdf:isDefinedBy rdf:resource='http%3A//bvsms.saude.gov.br/bvs/periodicos/boletim_eletronico_epi_ano04_n04.pdf'/>
    </rdf:Description>
    <rdf:Description rdf:about='ccd:ct-02479f10-f59e-41a9-ab24-62882b83f168'>
      <rdf:isDefinedBy rdf:resource='http%3A//www.cdc.gov/malaria/diagnosis_treatment/diagnosis.html'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Malaria blood smear test"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Positive'>
                  <xs:annotation>
                    <xs:appinfo>
                      Visualization of the Plasmodium spp in the sample
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Negative'>
                  <xs:annotation>
                    <xs:appinfo>
                      No Visualization of the Plasmodium spp in the sample
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Inconclusive'>
                  <xs:annotation>
                    <xs:appinfo>
                      Malaria blood smear test with inconclusive results
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Not performed'>
                  <xs:annotation>
                    <xs:appinfo>
                      Malaria blood smear test not performed
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-56a285a6-b4ac-4323-83a3-f13cb51f1703' substitutionGroup='mlhim244:items' type='ccd:ct-56a285a6-b4ac-4323-83a3-f13cb51f1703'/>
  <xs:complexType name='ct-56a285a6-b4ac-4323-83a3-f13cb51f1703'> <!-- Adapter for: Malaria blood smear test -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-02479f10-f59e-41a9-ab24-62882b83f168'/> <!-- Reference to: Malaria blood smear test -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-de04cb2b-0908-4862-819b-cb1645bf47c3' xml:lang='en-US'> <!-- Test CodedString for 2.4.4 -->
    <xs:annotation>
    <xs:documentation>
      Test the DvCodedString Type for RM for 2.4.4
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-de04cb2b-0908-4862-819b-cb1645bf47c3'>
      <rdf:isDefinedBy rdf:resource='http%3A//www.mlhim.org'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Test CodedString for 2.4.4"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Ones'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='test'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Testing'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='0.000'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='1111'>
                  <xs:annotation>
                    <xs:appinfo>
                      Ones
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-8e8a8405-2c8d-4923-b7c4-8e3980c24d27' substitutionGroup='mlhim244:items' type='ccd:ct-8e8a8405-2c8d-4923-b7c4-8e3980c24d27'/>
  <xs:complexType name='ct-8e8a8405-2c8d-4923-b7c4-8e3980c24d27'> <!-- Adapter for: Test CodedString for 2.4.4 -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-de04cb2b-0908-4862-819b-cb1645bf47c3'/> <!-- Reference to: Test CodedString for 2.4.4 -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-329056e5-1c56-48a2-822f-577f25edf1b0' xml:lang='en-US'> <!-- AdverseReaction.identifier -->
    <xs:annotation>
    <xs:documentation>
      This records identifiers associated with this reaction that are defined by business processed and/ or used to refer to it when a direct URL refernce to the resource itself is not appropriate (e.g. in CDA documents, or in written / printed documentation).
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='ccd:ct-329056e5-1c56-48a2-822f-577f25edf1b0'>
      <rdf:isDefinedBy rdf:resource='http%3A//www.hl7.org/implement/standards/fhir/adversereaction-definitions.html%23AdverseReaction.identifier'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvIdentifierType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="AdverseReaction.identifier"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
            <xs:element maxOccurs='1' minOccurs='1' name='id-name'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Adverse Reaction Identifier'>
                  <xs:annotation>
                    <xs:appinfo>
                      Adverse Reaction Identifier
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='issuer'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='FHIR'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='assignor'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='FHIR'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-340f8c4e-784d-400c-87ef-1027e9443c61' substitutionGroup='mlhim244:items' type='ccd:ct-340f8c4e-784d-400c-87ef-1027e9443c61'/>
  <xs:complexType name='ct-340f8c4e-784d-400c-87ef-1027e9443c61'> <!-- Adapter for: AdverseReaction.identifier -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-329056e5-1c56-48a2-822f-577f25edf1b0'/> <!-- Reference to: AdverseReaction.identifier -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-1671670b-e1db-4d71-a7dd-6bb09c025902' xml:lang='en-US'> <!-- Test DvParsable for 2.4.4 -->
    <xs:annotation>
    <xs:documentation>
      Test DvParsable for 2.4.4 
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-1671670b-e1db-4d71-a7dd-6bb09c025902 : Test DvParsable for 2.4.4 -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvParsableType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Test DvParsable for 2.4.4"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='DvParsable-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1' name='formalism' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-45e75fc9-9351-4191-ae5c-345bc672a769' substitutionGroup='mlhim244:items' type='ccd:ct-45e75fc9-9351-4191-ae5c-345bc672a769'/>
  <xs:complexType name='ct-45e75fc9-9351-4191-ae5c-345bc672a769'> <!-- Adapter for: Test DvParsable for 2.4.4 -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-1671670b-e1db-4d71-a7dd-6bb09c025902'/> <!-- Reference to: Test DvParsable for 2.4.4 -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-67c9a5a1-a869-4b9d-a677-7a86b38788a1' xml:lang='en-US'> <!-- Test DvMedia for 2.4.4 -->
    <xs:annotation>
    <xs:documentation>
      Test DvMedia for 2.4.4
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-67c9a5a1-a869-4b9d-a677-7a86b38788a1 : Test DvMedia for 2.4.4 -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvMediaType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Test DvMedia for 2.4.4"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='mime-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='compression-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-result' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-function' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' name='alt-txt' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' name='uri' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='0' name='media-content' type='xs:base64Binary'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-579fab01-0516-4bcb-877b-3dbc9dc398f5' substitutionGroup='mlhim244:items' type='ccd:ct-579fab01-0516-4bcb-877b-3dbc9dc398f5'/>
  <xs:complexType name='ct-579fab01-0516-4bcb-877b-3dbc9dc398f5'> <!-- Adapter for: Test DvMedia for 2.4.4 -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-67c9a5a1-a869-4b9d-a677-7a86b38788a1'/> <!-- Reference to: Test DvMedia for 2.4.4 -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-fbee469e-174f-42a0-9e67-6d6db531352c' xml:lang='en-US'> <!-- Karnofsky Performance Status Score -->
    <xs:annotation>
      <xs:documentation>
      Score from the Karnofsky Performance status scale, representing the functional capabilities of a person. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvOrdinalType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Karnofsky Performance Status Score"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:reference-ranges'/>
          <xs:element maxOccurs='1' minOccurs='0' name='normal-status' type='xs:string' default='Normal, no complaints, no evidence of disease'/> 
            <xs:element maxOccurs='1' minOccurs='1' name='DvOrdinal-dv'>
              <xs:simpleType>
              <xs:restriction base='xs:decimal'>
                <xs:enumeration value='0'/>
                <xs:enumeration value='10'/>
                <xs:enumeration value='20'/>
                <xs:enumeration value='30'/>
                <xs:enumeration value='40'/>
                <xs:enumeration value='50'/>
                <xs:enumeration value='60'/>
                <xs:enumeration value='70'/>
                <xs:enumeration value='80'/>
                <xs:enumeration value='90'/>
                <xs:enumeration value='100'/>
              </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='symbol'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Dead'>
                  <xs:annotation>
                    <xs:documentation>
                      Dead
                    </xs:documentation>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Moribund, fatal processes progressing rapidly'>
                  <xs:annotation>
                    <xs:documentation>
                      Moribund, fatal processes progressing rapidly
                    </xs:documentation>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Very sick, hospitalization indicated. Death not imminent'>
                  <xs:annotation>
                    <xs:documentation>
                      Very sick, hospitalization indicated. Death not imminent
                    </xs:documentation>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Severely disabled, hospitalization indicated. Death not imminent'>
                  <xs:annotation>
                    <xs:documentation>
                      Severely disabled, hospitalization indicated. Death not imminent
                    </xs:documentation>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Disabled, requires special care and assistance'>
                  <xs:annotation>
                    <xs:documentation>
                      Disabled, requires special care and assistance
                    </xs:documentation>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Requires considerable assistance and frequent medical care'>
                  <xs:annotation>
                    <xs:documentation>
                      Requires considerable assistance and frequent medical care
                    </xs:documentation>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Requires occasional assistance, but is able to care for most of his/her needs'>
                  <xs:annotation>
                    <xs:documentation>
                      Requires occasional assistance, but is able to care for most of his/her needs
                    </xs:documentation>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Cares for self, unable to carry on normal activity or to do active work'>
                  <xs:annotation>
                    <xs:documentation>
                      Cares for self, unable to carry on normal activity or to do active work
                    </xs:documentation>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Normal activity with effort; some signs or symptoms of disease'>
                  <xs:annotation>
                    <xs:documentation>
                      Normal activity with effort; some signs or symptoms of disease
                    </xs:documentation>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Able to carry on normal activity; minor signs or symptoms of disease'>
                  <xs:annotation>
                    <xs:documentation>
                      Able to carry on normal activity; minor signs or symptoms of disease
                    </xs:documentation>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Normal, no complaints, no evidence of disease'>
                  <xs:annotation>
                    <xs:documentation>
                      Normal, no complaints, no evidence of disease
                    </xs:documentation>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-e231bd83-0e84-4bf7-967a-d2bbae77bb49' substitutionGroup='mlhim244:items' type='ccd:ct-e231bd83-0e84-4bf7-967a-d2bbae77bb49'/>
  <xs:complexType name='ct-e231bd83-0e84-4bf7-967a-d2bbae77bb49'> <!-- Adapter for: Karnofsky Performance Status Score -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-fbee469e-174f-42a0-9e67-6d6db531352c'/> <!-- Reference to: Karnofsky Performance Status Score -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-d4ff557f-4064-47c6-b4f0-de7e2cd5bfc7' xml:lang='en-US'> <!-- Test DvCount for 2.4.4        -->
    <xs:annotation>
      <xs:documentation>
      Test DvCount for 2.4.4       
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvCountType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Test DvCount for 2.4.4"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:reference-ranges'/>
          <xs:element maxOccurs='1' minOccurs='0' name='normal-status' type='xs:string' default='my normal'/> 
          <xs:element maxOccurs='1' minOccurs='1'  name='magnitude'>
            <xs:simpleType>
            <xs:restriction base='xs:decimal'>
              <xs:minInclusive value='0'/>
              <xs:maxInclusive value='10'/>
              <xs:totalDigits value='5'/>
            </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:magnitude-status'/>
          <xs:element maxOccurs='1' minOccurs='1' name='error'  type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='accuracy' type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='ccd:el-d6ce7add-82bb-4051-a503-ea61ed3589aa'/> <!-- DvCount-units -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='ct-d6ce7add-82bb-4051-a503-ea61ed3589aa' xml:lang='en-US'> <!-- Test Simple Units for 2.4.4 -->
    <xs:annotation>
    <xs:documentation>
      Test Simple Units for 2.4.4
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-d6ce7add-82bb-4051-a503-ea61ed3589aa : Test Simple Units for 2.4.4 -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Test Simple Units for 2.4.4"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-b0d3bbaf-b236-4542-a588-e833a969c973' substitutionGroup='mlhim244:items' type='ccd:ct-b0d3bbaf-b236-4542-a588-e833a969c973'/>
  <xs:complexType name='ct-b0d3bbaf-b236-4542-a588-e833a969c973'> <!-- Adapter for: Test DvCount for 2.4.4        -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-d4ff557f-4064-47c6-b4f0-de7e2cd5bfc7'/> <!-- Reference to: Test DvCount for 2.4.4        -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-0fd33260-ea64-4d18-9c92-f28f83474a98' xml:lang='en-US'> <!-- Test DvQuantity for 2.4.4 -->
    <xs:annotation>
      <xs:documentation>
      Test DvQuantity for 2.4.4
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvQuantityType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Test DvQuantity for 2.4.4"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='ccd:el-15cbc674-659a-4f6d-9362-fb3eebb8842c'/> <!-- reference-ranges -->
          <xs:element maxOccurs='1' minOccurs='0' name='normal-status' type='xs:string' default=''/> 
          <xs:element maxOccurs='1' minOccurs='1'  name='magnitude' type='xs:decimal'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:magnitude-status'/>
          <xs:element maxOccurs='1' minOccurs='1' name='error'  type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='accuracy' type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='ccd:el-d6ce7add-82bb-4051-a503-ea61ed3589aa'/> <!-- DvQuantity-units -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-15cbc674-659a-4f6d-9362-fb3eebb8842c' xml:lang='en-US'> <!-- Test ReferenceRange -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:ReferenceRangeType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Test ReferenceRange"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='referencerange-definition' type='xs:string' fixed='ReferenceRange for testing only.'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='ccd:el-8cd8265e-f6b0-4c7e-9cf7-3fcf84782160'/> <!-- data-range -->
          <xs:element maxOccurs='1' minOccurs='1' name='is-normal' type='xs:boolean' fixed='false'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-8cd8265e-f6b0-4c7e-9cf7-3fcf84782160' xml:lang='en-US'> <!-- Test Data Range 2.4.4 -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvIntervalType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Test Data Range 2.4.4"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim244:interval-type'/>
          <xs:element maxOccurs='1' minOccurs='0' name='lower' type='xs:string' fixed='0'/>
          <xs:element maxOccurs='1' minOccurs='0' name='upper' type='xs:string' fixed='10'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower-included' type='xs:boolean' fixed='true'/>
          <xs:element maxOccurs='1' minOccurs='1' name='upper-included' type='xs:boolean' fixed='true'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-2af1bed1-41aa-4613-ab52-64d5876e52ac' substitutionGroup='mlhim244:items' type='ccd:ct-2af1bed1-41aa-4613-ab52-64d5876e52ac'/>
  <xs:complexType name='ct-2af1bed1-41aa-4613-ab52-64d5876e52ac'> <!-- Adapter for: Test DvQuantity for 2.4.4 -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-0fd33260-ea64-4d18-9c92-f28f83474a98'/> <!-- Reference to: Test DvQuantity for 2.4.4 -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-230a82ea-ee77-4a96-b33e-103ca49e20f5' xml:lang='en-US'> <!-- Test Ratio -->
    <xs:annotation>
      <xs:documentation>
      A DvRatio for testing.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvRatioType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Test Ratio"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:reference-ranges'/>
          <xs:element maxOccurs='1' minOccurs='0' name='normal-status' type='xs:string' default=''/> 
          <xs:element maxOccurs='1' minOccurs='0' name='magnitude' type='xs:decimal'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:magnitude-status'/>
          <xs:element maxOccurs='1' minOccurs='1' name='error'  type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='accuracy' type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim244:ratio-type'/>
          <xs:element maxOccurs='1' minOccurs='1' name='numerator'>
            <xs:simpleType>
            <xs:restriction base='xs:decimal'>
            </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='denominator'>
            <xs:simpleType>
            <xs:restriction base='xs:decimal'>
            </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' ref='ccd:el-d6ce7add-82bb-4051-a503-ea61ed3589aa'/> <!-- numerator-units -->
          <xs:element maxOccurs='1' minOccurs='1' ref='ccd:el-d6ce7add-82bb-4051-a503-ea61ed3589aa'/> <!-- denominator-units -->
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ratio-units'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-90d5df6f-b3ef-4d53-93d2-de4a5afdb18f' substitutionGroup='mlhim244:items' type='ccd:ct-90d5df6f-b3ef-4d53-93d2-de4a5afdb18f'/>
  <xs:complexType name='ct-90d5df6f-b3ef-4d53-93d2-de4a5afdb18f'> <!-- Adapter for: Test Ratio -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-230a82ea-ee77-4a96-b33e-103ca49e20f5'/> <!-- Reference to: Test Ratio -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name='ct-29d84f3a-a351-4328-9252-5d451997cf80' xml:lang='en-US'> <!-- Fever: date of onset -->
    <xs:annotation>
      <xs:documentation>
      Date of onset of the symptom fever. It gives the precise lenght of the fever, which is important, since onlu subjects with 3 weeks of fever or less are eligible for this protocol.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvTemporalType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed="Fever: date of onset"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim244:reference-ranges'/>
          <xs:element maxOccurs='1' minOccurs='0' name='normal-status' type='xs:string' default=''/> 
          <xs:element maxOccurs='1' minOccurs='0' name='dvtemporal-date' type='xs:date'/>
          <xs:element maxOccurs='0' minOccurs='0' name='dvtemporal-time' type='xs:time'/>
          <xs:element maxOccurs='0' minOccurs='0' name='dvtemporal-datetime' type='xs:dateTime'/>
          <xs:element maxOccurs='0' minOccurs='0' name='dvtemporal-day' type='xs:gDay'/>
          <xs:element maxOccurs='0' minOccurs='0' name='dvtemporal-month' type='xs:gMonth'/>
          <xs:element maxOccurs='0' minOccurs='0' name='dvtemporal-year' type='xs:gYear'/>
          <xs:element maxOccurs='0' minOccurs='0' name='dvtemporal-year-month' type='xs:gYearMonth'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvtemporal-month-day' type='xs:gMonthDay'/>
          <xs:element maxOccurs='0' minOccurs='0' name='dvtemporal-duration' type='xs:duration'/>
          <xs:element maxOccurs='0' minOccurs='0' name='dvtemporal-ymduration' type='xs:yearMonthDuration'/>
          <xs:element maxOccurs='0' minOccurs='0' name='dvtemporal-dtduration' type='xs:dayTimeDuration'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-3c601bd8-79d4-48c3-8860-404c4502a8d5' substitutionGroup='mlhim244:items' type='ccd:ct-3c601bd8-79d4-48c3-8860-404c4502a8d5'/>
  <xs:complexType name='ct-3c601bd8-79d4-48c3-8860-404c4502a8d5'> <!-- Adapter for: Fever: date of onset -->
    <xs:complexContent>
      <xs:restriction base='mlhim244:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='ccd:el-29d84f3a-a351-4328-9252-5d451997cf80'/> <!-- Reference to: Fever: date of onset -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name='el-090c6a4b-271d-4452-8bcc-59823268dc16' substitutionGroup='mlhim244:definition' type='ccd:ct-090c6a4b-271d-4452-8bcc-59823268dc16'/>
  <xs:element name='el-e5563d40-2372-4fbd-9a27-c8f493f22c53' substitutionGroup='mlhim244:entry-subject' type='ccd:ct-e5563d40-2372-4fbd-9a27-c8f493f22c53'/>
  <xs:element name='el-19ac8105-fa08-47ba-8dd0-9c79ca490bda' substitutionGroup='mlhim244:entry-provider' type='ccd:ct-19ac8105-fa08-47ba-8dd0-9c79ca490bda'/>
  <xs:element name='el-24aa9046-676a-47df-9c87-f9f8e3228fe7' substitutionGroup='mlhim244:entry-data' type='ccd:ct-24aa9046-676a-47df-9c87-f9f8e3228fe7'/>
  <xs:element name='el-540f481d-6de4-4f32-abf4-96d0e5e796c1' substitutionGroup='mlhim244:items' type='ccd:ct-540f481d-6de4-4f32-abf4-96d0e5e796c1'/>
  <xs:element name='el-8c177dbd-c25e-4908-bffa-cdcb5c0e38e6' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-8c177dbd-c25e-4908-bffa-cdcb5c0e38e6'/>
  <xs:element name='el-86c56818-26f0-4238-9292-1f32976755e5' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-86c56818-26f0-4238-9292-1f32976755e5'/>
  <xs:element name='el-da990c3e-c752-4787-9b3a-d6f4f4051f95' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-da990c3e-c752-4787-9b3a-d6f4f4051f95'/>
  <xs:element name='el-02479f10-f59e-41a9-ab24-62882b83f168' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-02479f10-f59e-41a9-ab24-62882b83f168'/>
  <xs:element name='el-de04cb2b-0908-4862-819b-cb1645bf47c3' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-de04cb2b-0908-4862-819b-cb1645bf47c3'/>
  <xs:element name='el-329056e5-1c56-48a2-822f-577f25edf1b0' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-329056e5-1c56-48a2-822f-577f25edf1b0'/>
  <xs:element name='el-1671670b-e1db-4d71-a7dd-6bb09c025902' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-1671670b-e1db-4d71-a7dd-6bb09c025902'/>
  <xs:element name='el-67c9a5a1-a869-4b9d-a677-7a86b38788a1' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-67c9a5a1-a869-4b9d-a677-7a86b38788a1'/>
  <xs:element name='el-fbee469e-174f-42a0-9e67-6d6db531352c' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-fbee469e-174f-42a0-9e67-6d6db531352c'/>
  <xs:element name='el-d4ff557f-4064-47c6-b4f0-de7e2cd5bfc7' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-d4ff557f-4064-47c6-b4f0-de7e2cd5bfc7'/>
  <xs:element name='el-d6ce7add-82bb-4051-a503-ea61ed3589aa' substitutionGroup='mlhim244:DvCount-units mlhim244:DvQuantity-units mlhim244:numerator-units mlhim244:denominator-units' type='ccd:ct-d6ce7add-82bb-4051-a503-ea61ed3589aa'/>
  <xs:element name='el-0fd33260-ea64-4d18-9c92-f28f83474a98' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-0fd33260-ea64-4d18-9c92-f28f83474a98'/>
  <xs:element name='el-15cbc674-659a-4f6d-9362-fb3eebb8842c' substitutionGroup='mlhim244:reference-ranges' type='ccd:ct-15cbc674-659a-4f6d-9362-fb3eebb8842c'/>
  <xs:element name='el-8cd8265e-f6b0-4c7e-9cf7-3fcf84782160' substitutionGroup='mlhim244:data-range' type='ccd:ct-8cd8265e-f6b0-4c7e-9cf7-3fcf84782160'/>
  <xs:element name='el-230a82ea-ee77-4a96-b33e-103ca49e20f5' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-230a82ea-ee77-4a96-b33e-103ca49e20f5'/>
  <xs:element name='el-29d84f3a-a351-4328-9252-5d451997cf80' substitutionGroup='mlhim244:DvAdapter-dv' type='ccd:ct-29d84f3a-a351-4328-9252-5d451997cf80'/>

</xs:schema>
