2_5_0/utils/ccds/ccd-13e8b248-dacd-4122-bf11-19130db737a4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="ccd-description.xsl"?>
<xs:schema
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:mlhim2="http://www.mlhim.org/ns/mlhim2/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sawsdlrdf="http://www.w3.org/ns/sawsdl#"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  targetNamespace="http://www.mlhim.org/ns/mlhim2/"
  vc:minVersion="1.1" xml:lang="en-US">
<!-- Include the RM Schema -->
  <xs:include schemaLocation="http://www.mlhim.org/ns/mlhim2/mlhim250.xsd"/>
<!-- Metadata -->
  <xs:annotation><xs:appinfo><rdf:RDF><rdf:Description
    rdf:about="http://www.ccdgen.com/ccdlib/ccd-13e8b248-dacd-4122-bf11-19130db737a4.xsd">
    <dc:title>DemographicEntry CCD</dc:title>
    <dc:creator>Tim Cook</dc:creator>
    <dc:subject>DemographicEntry CCD  - Testing Only</dc:subject>
    <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
    <dc:relation>None</dc:relation>
    <dc:coverage>Universal</dc:coverage>
    <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
    <dc:identifier>ccd-13e8b248-dacd-4122-bf11-19130db737a4</dc:identifier>
    <dc:description>Testing CCD-Gen Implementation of the MLHIM RM functionality.</dc:description>
    <dc:publisher>MLHIM LAB, UERJ</dc:publisher>
    <dc:date>2015-08-20 14:16:54.679782+00:00</dc:date>
    <dc:format>text/xml</dc:format>
    <dc:language>en-US</dc:language>
  </rdf:Description></rdf:RDF></xs:appinfo></xs:annotation>
<!-- Complex Type Definitions -->
<xs:element name="ccd-13e8b248-dacd-4122-bf11-19130db737a4" type="mlhim2:pcm-13e8b248-dacd-4122-bf11-19130db737a4"/>
<xs:complexType name="pcm-13e8b248-dacd-4122-bf11-19130db737a4"> 
  <xs:annotation>
    <xs:appinfo>
      <rdf:Description rdf:about="http://www.mlhim.org/ns/mlhim2:pcm-13e8b248-dacd-4122-bf11-19130db737a4">
        <rdfs:subClassOf rdf:resource="mlhim2:CCDType"/>
        <rdfs:label>DemographicEntry CCD</rdfs:label>
        <rdfs:isDefinedBy rdf:resource="http%3A//www.mlhim.org/test_pcts"/>
      </rdf:Description>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexContent>
    <xs:restriction base="mlhim2:CCDType">
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:pcs-c2870f4e-6423-4a47-8a1a-5929f64c1e0d"/> 
      </xs:sequence>
    </xs:restriction>
  </xs:complexContent>
</xs:complexType>


<!-- Entry -->
  <xs:complexType name='pcm-c2870f4e-6423-4a47-8a1a-5929f64c1e0d'> 
    <xs:annotation>
    <xs:documentation>
      DemographicEntry  - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-c2870f4e-6423-4a47-8a1a-5929f64c1e0d'>
    <rdfs:subClassOf rdf:resource='mlhim2:DemographicEntryType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DemographicEntryType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="DemographicEntry  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='1' name='entry-language' type='xs:language' fixed='en-US'/>
          <xs:element maxOccurs='1' minOccurs='1' name='entry-encoding' type='xs:string' fixed='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string' default='testing me'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:pcs-48db2fee-b0ba-4efd-8d29-28a2732228ab'/>
          <xs:element maxOccurs='1' minOccurs='0' name='subject' type='mlhim2:pcm-bf3f4de6-e30f-416f-8efe-94b590e672c0'/>
          <xs:element maxOccurs='1' minOccurs='0' name='provider' type='mlhim2:pcm-65075c81-1c4f-4514-b4da-b03692754986'/> 
          <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-cb9e85cf-de20-4ecc-9669-600360d96a74'/>
          <xs:element maxOccurs='1' minOccurs='0' name='protocol' type='mlhim2:pcm-bbf29389-fd63-4f8e-9911-9dcaf014e1ee'/>
          <xs:element maxOccurs='1' minOccurs='0' name='workflow' type='mlhim2:pcm-9ba76680-a447-4f67-9aec-b181dc347592'/>
          <xs:element maxOccurs='1' minOccurs='0' name='audit' type='mlhim2:pcm-52192c33-fe90-42d9-bed9-e2a2224c28d1'/>
          <xs:element maxOccurs='1' minOccurs='0' name='attestation' type='mlhim2:pcm-3656d710-e1f3-42f0-9406-1e6d1da076cf'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-b86cf7b1-d07d-42c1-82b8-3766d56de91c'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-34d6a28b-7d4a-483b-a7d8-3416f57bf3ed'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-b86cf7b1-d07d-42c1-82b8-3766d56de91c' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      attached to
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-b86cf7b1-d07d-42c1-82b8-3766d56de91c'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>attached to - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002371'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="attached to - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='http://purl.obolibrary.org/obo/RO_0002371'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-34d6a28b-7d4a-483b-a7d8-3416f57bf3ed' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
       X connected_to Y if and only if X and Y share a fiat boundary.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-34d6a28b-7d4a-483b-a7d8-3416f57bf3ed'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>Connected To  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002150'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Connected To  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='connected to'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-48db2fee-b0ba-4efd-8d29-28a2732228ab'> 
    <xs:annotation>
    <xs:documentation>
      DemographicEntry entry-data - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-48db2fee-b0ba-4efd-8d29-28a2732228ab'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>DemographicEntry entry-data - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="DemographicEntry entry-data - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-697e8df2-7890-4f44-8442-e7f2beab4425'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-d05d35e1-4452-47a4-a7c5-58d1aac8bf64'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-a8ac5c48-5f7c-40aa-8580-a7a3f3f9eab4' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Yes/No field for the duration of the fever. It should be filled when the date of onset of the fever is not known.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-a8ac5c48-5f7c-40aa-8580-a7a3f3f9eab4'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvBooleanType'/>
    <rdfs:label>Fever duration: 3 weeks or less  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//bvsms.saude.gov.br/bvs/periodicos/boletim_eletronico_epi_ano04_n04.pdf'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Fever duration: 3 weeks or less  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:choice maxOccurs='1' minOccurs='1'>
          <xs:element name='true-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='YES'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name='false-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='NO'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:choice>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-697e8df2-7890-4f44-8442-e7f2beab4425' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-697e8df2-7890-4f44-8442-e7f2beab4425'/>
  <xs:complexType name='pcm-697e8df2-7890-4f44-8442-e7f2beab4425'> <!-- Adapter for: Fever duration: 3 weeks or less  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-a8ac5c48-5f7c-40aa-8580-a7a3f3f9eab4'/> <!-- Reference to: Fever duration: 3 weeks or less  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-fb6a59da-09ad-4fc3-8b75-d5de0f9f43c6' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A test DvBoolean
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-fb6a59da-09ad-4fc3-8b75-d5de0f9f43c6'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvBooleanType'/>
    <rdfs:label>Test DvBoolean  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Test DvBoolean  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:choice maxOccurs='1' minOccurs='1'>
          <xs:element name='true-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='Yes'/>
                  <xs:enumeration value='Sim'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name='false-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='No'/>
                  <xs:enumeration value='Não'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:choice>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-d05d35e1-4452-47a4-a7c5-58d1aac8bf64' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-d05d35e1-4452-47a4-a7c5-58d1aac8bf64'/>
  <xs:complexType name='pcm-d05d35e1-4452-47a4-a7c5-58d1aac8bf64'> <!-- Adapter for: Test DvBoolean  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-fb6a59da-09ad-4fc3-8b75-d5de0f9f43c6'/> <!-- Reference to: Test DvBoolean  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-56e122ad-0e9b-4cc6-ad2d-b52a3c4f606b' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      The device use in taking a blood pressure measurement.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-56e122ad-0e9b-4cc6-ad2d-b52a3c4f606b'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Blood Pressure Device - Testing Use Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Blood Pressure Device - Testing Use Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Mercury sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-56e122ad-0e9b-4cc6-ad2d-b52a3c4f606b/dvstring-value/Mercury%20sphygmomanometer'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-56e122ad-0e9b-4cc6-ad2d-b52a3c4f606b'/>
      <rdfs:label>Mercury sphygmomanometer</rdfs:label>
      <rdfs:comment>http://noharm.org/lib/downloads/mercury/Accuracy_Alts_Mercury_Sphyg_rev10-09.pdf</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Aneroid sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-56e122ad-0e9b-4cc6-ad2d-b52a3c4f606b/dvstring-value/Aneroid%20sphygmomanometer'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-56e122ad-0e9b-4cc6-ad2d-b52a3c4f606b'/>
      <rdfs:label>Aneroid sphygmomanometer</rdfs:label>
      <rdfs:comment>http://en.wikipedia.org/wiki/Sphygmomanometer</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Digital'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-56e122ad-0e9b-4cc6-ad2d-b52a3c4f606b/dvstring-value/Digital'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-56e122ad-0e9b-4cc6-ad2d-b52a3c4f606b'/>
      <rdfs:label>Digital</rdfs:label>
      <rdfs:comment>http://www.ncbi.nlm.nih.gov/pubmed/7934182</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-e9cbb207-9e89-416c-8b71-7cdb859b3097' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
  <xs:complexType name='pcm-e9cbb207-9e89-416c-8b71-7cdb859b3097'> <!-- Adapter for: Blood Pressure Device - Testing Use Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-56e122ad-0e9b-4cc6-ad2d-b52a3c4f606b'/> <!-- Reference to: Blood Pressure Device - Testing Use Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-bf3f4de6-e30f-416f-8efe-94b590e672c0' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-bf3f4de6-e30f-416f-8efe-94b590e672c0'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Subject of the Entry (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-f53bc899-592b-4f63-b61a-edce509d7216'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-f53bc899-592b-4f63-b61a-edce509d7216'> 
    <xs:annotation>
    <xs:documentation>
      Generic Details cluster with address elements.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-f53bc899-592b-4f63-b61a-edce509d7216'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Address Details (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Address Details (US)  - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-ba9f0692-280f-4ea4-996d-0e5767238191'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-292d5a72-d065-45af-903e-a7afe798ece8'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-b6c0cbb4-6fed-4172-a470-53dca59eba58'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-7065c308-842d-4cd6-a041-374367dc1246'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-64508ffb-066f-406f-9d8e-093417103eb4'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-1fb5aee4-dcb6-460c-888c-251573b557b5'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-8f10ab32-f046-47b4-affc-d1ce55210992' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used for additional address lines in the US such as building name or apartment number.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-8f10ab32-f046-47b4-affc-d1ce55210992'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Additional Address Line(s) (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Additional Address Line(s) (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-ba9f0692-280f-4ea4-996d-0e5767238191' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-ba9f0692-280f-4ea4-996d-0e5767238191'/>
  <xs:complexType name='pcm-ba9f0692-280f-4ea4-996d-0e5767238191'> <!-- Adapter for: Additional Address Line(s) (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-8f10ab32-f046-47b4-affc-d1ce55210992'/> <!-- Reference to: Additional Address Line(s) (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-c8578114-0c61-4262-861c-33c813fb0896' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for the City name.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-c8578114-0c61-4262-861c-33c813fb0896'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>City Name (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="City Name (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-292d5a72-d065-45af-903e-a7afe798ece8' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-292d5a72-d065-45af-903e-a7afe798ece8'/>
  <xs:complexType name='pcm-292d5a72-d065-45af-903e-a7afe798ece8'> <!-- Adapter for: City Name (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-c8578114-0c61-4262-861c-33c813fb0896'/> <!-- Reference to: City Name (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for two character US state abbreviation.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>State Abbreviation (USPS)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="State Abbreviation (USPS)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='AL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/AL'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>AL</rdfs:label>
      <rdfs:comment>Alabama</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AK'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/AK'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>AK</rdfs:label>
      <rdfs:comment>Alaska</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/AS'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>AS</rdfs:label>
      <rdfs:comment>American Samoa</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AZ'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/AZ'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>AZ</rdfs:label>
      <rdfs:comment>Arizona</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/AR'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>AR</rdfs:label>
      <rdfs:comment>Arkansas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/CA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>CA</rdfs:label>
      <rdfs:comment>California</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CO'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/CO'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>CO</rdfs:label>
      <rdfs:comment>Colorado</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/CT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>CT</rdfs:label>
      <rdfs:comment>Connecticut</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/DE'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>DE</rdfs:label>
      <rdfs:comment>Delaware</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/DC'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>DC</rdfs:label>
      <rdfs:comment>District of Columbia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/FM'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>FM</rdfs:label>
      <rdfs:comment>Federated States of Micronesia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/FL'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>FL</rdfs:label>
      <rdfs:comment>Florida</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/GA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>GA</rdfs:label>
      <rdfs:comment>Georgia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GU'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/GU'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>GU</rdfs:label>
      <rdfs:comment>Guam</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='HI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/HI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>HI</rdfs:label>
      <rdfs:comment>Hawaii</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ID'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/ID'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>ID</rdfs:label>
      <rdfs:comment>Idaho</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/IL'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>IL</rdfs:label>
      <rdfs:comment>Illinois</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/IN'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>IN</rdfs:label>
      <rdfs:comment>Indiana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/IA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>IA</rdfs:label>
      <rdfs:comment>Iowa</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/KS'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>KS</rdfs:label>
      <rdfs:comment>Kansas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/KY'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>KY</rdfs:label>
      <rdfs:comment>Kentucky</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='LA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/LA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>LA</rdfs:label>
      <rdfs:comment>Louisiana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ME'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/ME'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>ME</rdfs:label>
      <rdfs:comment>Maine</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/MH'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>MH</rdfs:label>
      <rdfs:comment>Marshall Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MD'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/MD'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>MD</rdfs:label>
      <rdfs:comment>Maryland</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/MA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>MA</rdfs:label>
      <rdfs:comment>Massachusetts</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/MI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>MI</rdfs:label>
      <rdfs:comment>Michigan</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/MN'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>MN</rdfs:label>
      <rdfs:comment>Minnesota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/MS'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>MS</rdfs:label>
      <rdfs:comment>Mississippi</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MO'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/MO'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>MO</rdfs:label>
      <rdfs:comment>Missouri</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/MT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>MT</rdfs:label>
      <rdfs:comment>Montana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/NE'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>NE</rdfs:label>
      <rdfs:comment>Nebraska</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NV'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/NV'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>NV</rdfs:label>
      <rdfs:comment>Nevada</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/NH'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>NH</rdfs:label>
      <rdfs:comment>New Hampshire</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NJ'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/NJ'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>NJ</rdfs:label>
      <rdfs:comment>New Jersey</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/NM'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>NM</rdfs:label>
      <rdfs:comment>New Mexico</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/NY'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>NY</rdfs:label>
      <rdfs:comment>New York</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/NC'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>NC</rdfs:label>
      <rdfs:comment>North Carolina</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ND'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/ND'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>ND</rdfs:label>
      <rdfs:comment>North Dakota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MP'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/MP'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>MP</rdfs:label>
      <rdfs:comment>Northern Mariana Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/CM'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>CM</rdfs:label>
      <rdfs:comment>Northern Mariana Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/OH'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>OH</rdfs:label>
      <rdfs:comment>Ohio</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OK'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/OK'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>OK</rdfs:label>
      <rdfs:comment>Oklahoma</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/OR'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>OR</rdfs:label>
      <rdfs:comment>Oregon</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/PA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>PA</rdfs:label>
      <rdfs:comment>Pennsylvania</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/PR'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>PR</rdfs:label>
      <rdfs:comment>Puerto Rico</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='RI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/RI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>RI</rdfs:label>
      <rdfs:comment>Rhode Island</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/SC'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>SC</rdfs:label>
      <rdfs:comment>South Carolina</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SD'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/SD'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>SD</rdfs:label>
      <rdfs:comment>South Dakota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/TN'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>TN</rdfs:label>
      <rdfs:comment>Tennessee</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TX'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/TX'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>TX</rdfs:label>
      <rdfs:comment>Texas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/TT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>TT</rdfs:label>
      <rdfs:comment>Trust Territory of the Pacific Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/AA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>AA</rdfs:label>
      <rdfs:comment>U.S. Armed Forces – Americas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/AE'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>AE</rdfs:label>
      <rdfs:comment>U.S. Armed Forces – Europe</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AP'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/AP'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>AP</rdfs:label>
      <rdfs:comment>U.S. Armed Forces – Pacific</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='UT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/UT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>UT</rdfs:label>
      <rdfs:comment>Utah</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/VT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>VT</rdfs:label>
      <rdfs:comment>Vermont</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/VI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>VI</rdfs:label>
      <rdfs:comment>Virgin Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/VA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>VA</rdfs:label>
      <rdfs:comment>Virginia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/WA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>WA</rdfs:label>
      <rdfs:comment>Washington</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WV'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/WV'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>WV</rdfs:label>
      <rdfs:comment>West Virginia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/WI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>WI</rdfs:label>
      <rdfs:comment>Wisconsin</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82/dvstring-value/WY'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/>
      <rdfs:label>WY</rdfs:label>
      <rdfs:comment>Wyoming</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-b6c0cbb4-6fed-4172-a470-53dca59eba58' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-b6c0cbb4-6fed-4172-a470-53dca59eba58'/>
  <xs:complexType name='pcm-b6c0cbb4-6fed-4172-a470-53dca59eba58'> <!-- Adapter for: State Abbreviation (USPS)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-0a2a64bb-3bf4-48b9-9ead-eb02267caa82'/> <!-- Reference to: State Abbreviation (USPS)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-2b7eec7a-bc3f-407a-acf4-743deb676d70' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A single line US Street number and name. The typical format is:
123 Main St. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-2b7eec7a-bc3f-407a-acf4-743deb676d70'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Street Number and Name (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Street Number and Name (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-7065c308-842d-4cd6-a041-374367dc1246' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-7065c308-842d-4cd6-a041-374367dc1246'/>
  <xs:complexType name='pcm-7065c308-842d-4cd6-a041-374367dc1246'> <!-- Adapter for: Street Number and Name (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-2b7eec7a-bc3f-407a-acf4-743deb676d70'/> <!-- Reference to: Street Number and Name (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-34da102f-793f-4211-a48b-9738eef8481d' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A US telephone number. Exactly 12 characters; 111-111-1111 with a pattern match of "[0-9]{3}-[0-9]{3}-[0-9]{4}" 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-34da102f-793f-4211-a48b-9738eef8481d'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Telephone Number (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Telephone Number (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string' default='111-111-1111'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '[0-9]{3}-[0-9]{3}-[0-9]{4}')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-64508ffb-066f-406f-9d8e-093417103eb4' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-64508ffb-066f-406f-9d8e-093417103eb4'/>
  <xs:complexType name='pcm-64508ffb-066f-406f-9d8e-093417103eb4'> <!-- Adapter for: Telephone Number (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-34da102f-793f-4211-a48b-9738eef8481d'/> <!-- Reference to: Telephone Number (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-49d12c24-06b0-4757-9b41-5ecb6a98b2bc' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in address cluster for US Zip (postal) Codes. Minimum of 5 characters with a maximum of 10 characters. Accommodates the older 5 character codes or the Zip+4 with the additional 4 characters following a dash. 

Examples:
12345
12345-0987 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-49d12c24-06b0-4757-9b41-5ecb6a98b2bc'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Zip Code (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//www.usps.com/'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Zip Code (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^\d{5}([\-]?\d{4})?$')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-1fb5aee4-dcb6-460c-888c-251573b557b5' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-1fb5aee4-dcb6-460c-888c-251573b557b5'/>
  <xs:complexType name='pcm-1fb5aee4-dcb6-460c-888c-251573b557b5'> <!-- Adapter for: Zip Code (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-49d12c24-06b0-4757-9b41-5ecb6a98b2bc'/> <!-- Reference to: Zip Code (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-65075c81-1c4f-4514-b4da-b03692754986' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-65075c81-1c4f-4514-b4da-b03692754986'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Entry Provider (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-f53bc899-592b-4f63-b61a-edce509d7216'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-cb9e85cf-de20-4ecc-9669-600360d96a74' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Entry Participation
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-cb9e85cf-de20-4ecc-9669-600360d96a74'>
    <rdfs:subClassOf rdf:resource='mlhim2:ParticipationType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ParticipationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Entry Participation  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='performer' type='mlhim2:pcm-0571fe20-0ba1-4bf3-8e0f-9f093e4bd08e'/>
          <xs:element maxOccurs='1' minOccurs='0' name='function' type='mlhim2:pcm-38aed2be-2c49-4a39-bb3d-f73ddd128181'/>
          <xs:element maxOccurs='1' minOccurs='0' name='mode' type='mlhim2:pcm-f5d3b8ad-8f8e-41f7-82d9-cfdfb2525e8d'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='start' type='xs:dateTimeStamp'/>
          <xs:element maxOccurs='1' minOccurs='0' name='end' type='xs:dateTimeStamp'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-0571fe20-0ba1-4bf3-8e0f-9f093e4bd08e' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-0571fe20-0ba1-4bf3-8e0f-9f093e4bd08e'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Participation Performer  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-f53bc899-592b-4f63-b61a-edce509d7216'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-38aed2be-2c49-4a39-bb3d-f73ddd128181' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Participation Function
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-38aed2be-2c49-4a39-bb3d-f73ddd128181'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Participation Function - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//xmlns.com/foaf/spec/%23glance'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Participation Function - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='This'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-38aed2be-2c49-4a39-bb3d-f73ddd128181/dvstring-value/This'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-38aed2be-2c49-4a39-bb3d-f73ddd128181'/>
      <rdfs:label>This</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/function#This</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='That'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-38aed2be-2c49-4a39-bb3d-f73ddd128181/dvstring-value/That'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-38aed2be-2c49-4a39-bb3d-f73ddd128181'/>
      <rdfs:label>That</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/function#That</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Other Thing'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-38aed2be-2c49-4a39-bb3d-f73ddd128181/dvstring-value/Other%20Thing'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-38aed2be-2c49-4a39-bb3d-f73ddd128181'/>
      <rdfs:label>Other Thing</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/function#OtherThing</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-f5d3b8ad-8f8e-41f7-82d9-cfdfb2525e8d' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic definition that the participation mode is some type of agent. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-f5d3b8ad-8f8e-41f7-82d9-cfdfb2525e8d'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Participation Mode - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Participation Mode - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Doctor'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-f5d3b8ad-8f8e-41f7-82d9-cfdfb2525e8d/dvstring-value/Doctor'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-f5d3b8ad-8f8e-41f7-82d9-cfdfb2525e8d'/>
      <rdfs:label>Doctor</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/mode#Doctor</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Baker'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-f5d3b8ad-8f8e-41f7-82d9-cfdfb2525e8d/dvstring-value/Baker'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-f5d3b8ad-8f8e-41f7-82d9-cfdfb2525e8d'/>
      <rdfs:label>Baker</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/mode#Baker</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CandlestickMaker'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-f5d3b8ad-8f8e-41f7-82d9-cfdfb2525e8d/dvstring-value/CandlestickMaker'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-f5d3b8ad-8f8e-41f7-82d9-cfdfb2525e8d'/>
      <rdfs:label>CandlestickMaker</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/mode#CandlestickMaker</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-bbf29389-fd63-4f8e-9911-9dcaf014e1ee' xml:lang='pt-BR'> 
    <xs:annotation>
    <xs:documentation>
      Outros
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-bbf29389-fd63-4f8e-9911-9dcaf014e1ee'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Outros</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Outros"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='pt-BR'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-9ba76680-a447-4f67-9aec-b181dc347592' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      The link points to the workflow definition
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-9ba76680-a447-4f67-9aec-b181dc347592'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>Workflow ID  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/IAO_0000178'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Workflow ID  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='material information bearer'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-52192c33-fe90-42d9-bed9-e2a2224c28d1' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      Test audit for  - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-52192c33-fe90-42d9-bed9-e2a2224c28d1'>
    <rdfs:subClassOf rdf:resource='mlhim2:AuditType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AuditType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Audit Test  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='1' name='system-id' type='mlhim2:pcm-cb6431eb-cf72-46b4-b0aa-2e7c374923bf'/>
          <xs:element maxOccurs='1' minOccurs='0' name='system-user' type='mlhim2:pcm-a68eaecc-1248-4078-b3a4-60058bcffd0e'/>
          <xs:element maxOccurs='1' minOccurs='0' name='location' type='mlhim2:pcm-5bf25b42-f7ac-4f2c-b755-798868127d9d'/>
          <xs:element maxOccurs='1' minOccurs='1' name='timestamp' type='xs:dateTimeStamp'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-cb6431eb-cf72-46b4-b0aa-2e7c374923bf' xml:lang='pt-BR'> 
    <xs:annotation>
    <xs:documentation>
      Outras Neoplasias
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-cb6431eb-cf72-46b4-b0aa-2e7c374923bf'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Outras Neoplasias</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='ftp%3A//ftp.datasus.gov.br/siscam/siscolo/Manual_SisColo4_Coordenacao.zip'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Outras Neoplasias"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='pt-BR'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-a68eaecc-1248-4078-b3a4-60058bcffd0e' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-a68eaecc-1248-4078-b3a4-60058bcffd0e'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Audit Details Provider (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-f53bc899-592b-4f63-b61a-edce509d7216'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-5bf25b42-f7ac-4f2c-b755-798868127d9d'> 
    <xs:annotation>
    <xs:documentation>
      Generic location structure. Uses decimal format WGS84 lat/lon coordinates.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-5bf25b42-f7ac-4f2c-b755-798868127d9d'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Latitude/Longitude Location (WGS84)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Latitude/Longitude Location (WGS84)  - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-494fc0e0-0977-4523-9272-fec73912a4e7'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-680d23bb-eacd-4308-a272-315ccdd68b3f'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-b861ef07-ce7b-4744-83d8-95c2e19deec1' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Matches a latitude in the range of -90 to 90 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-b861ef07-ce7b-4744-83d8-95c2e19deec1'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>System Location Latitude  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="System Location Latitude  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^-?([1-8]?[0-9]\.{1}\d{1,6}$|90\.{1}0{1,6}$)')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-494fc0e0-0977-4523-9272-fec73912a4e7' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-494fc0e0-0977-4523-9272-fec73912a4e7'/>
  <xs:complexType name='pcm-494fc0e0-0977-4523-9272-fec73912a4e7'> <!-- Adapter for: System Location Latitude  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-b861ef07-ce7b-4744-83d8-95c2e19deec1'/> <!-- Reference to: System Location Latitude  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-3e99bfaf-d3d9-4545-89cb-12e85bdf96c3' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Matches a longitude in the range of -180 to 180 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-3e99bfaf-d3d9-4545-89cb-12e85bdf96c3'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>System Location Longitude  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="System Location Longitude  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^-?((([1]?[0-7][0-9]|[1-9]?[0-9])\.{1}\d{1,6}$)|[1]?[1-8][0]\.{1}0{1,6}$)')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-680d23bb-eacd-4308-a272-315ccdd68b3f' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-680d23bb-eacd-4308-a272-315ccdd68b3f'/>
  <xs:complexType name='pcm-680d23bb-eacd-4308-a272-315ccdd68b3f'> <!-- Adapter for: System Location Longitude  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-3e99bfaf-d3d9-4545-89cb-12e85bdf96c3'/> <!-- Reference to: System Location Longitude  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-3656d710-e1f3-42f0-9406-1e6d1da076cf' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic attestation. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-3656d710-e1f3-42f0-9406-1e6d1da076cf'>
    <rdfs:subClassOf rdf:resource='mlhim2:AttestationType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AttestationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='view' type='mlhim2:pcm-59c7a530-5d97-455c-a79a-95a1be38b02b'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='proof' type='mlhim2:pcm-3f2c415b-9f4f-4520-9c69-612e66eb4d1c'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='committer' type='mlhim2:pcm-ead36dda-7d1f-4a80-a6a2-274674ae7982'/>
          <xs:element maxOccurs='1' minOccurs='0' name='committed' type='xs:dateTimeStamp'/>
          <xs:element maxOccurs='1' minOccurs='1' default='true' name='pending' type='xs:boolean'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-59c7a530-5d97-455c-a79a-95a1be38b02b' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation view.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-59c7a530-5d97-455c-a79a-95a1be38b02b'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvFileType'/>
    <rdfs:label>Attestation View  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvFileType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation View  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvfile-language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='formalism' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' name='media-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='compression-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-result' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-function' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='alt-txt' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' name='media-content' type='xs:base64Binary'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-3f2c415b-9f4f-4520-9c69-612e66eb4d1c' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation proof document.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-3f2c415b-9f4f-4520-9c69-612e66eb4d1c'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvFileType'/>
    <rdfs:label>Proof  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvFileType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Proof  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvfile-language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='formalism' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' name='media-type'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='text/html'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='compression-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-result' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-function' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='alt-txt' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' name='text-content' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-ead36dda-7d1f-4a80-a6a2-274674ae7982' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-ead36dda-7d1f-4a80-a6a2-274674ae7982'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation Committer  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-f53bc899-592b-4f63-b61a-edce509d7216'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>


<!-- Substitution Groups -->
  <xs:element name="pcs-a8ac5c48-5f7c-40aa-8580-a7a3f3f9eab4" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-a8ac5c48-5f7c-40aa-8580-a7a3f3f9eab4"/>
  <xs:element name="pcs-34da102f-793f-4211-a48b-9738eef8481d" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-34da102f-793f-4211-a48b-9738eef8481d"/>
  <xs:element name="pcs-48db2fee-b0ba-4efd-8d29-28a2732228ab" substitutionGroup="mlhim2:Item" type="mlhim2:pcm-48db2fee-b0ba-4efd-8d29-28a2732228ab"/>
  <xs:element name="pcs-b861ef07-ce7b-4744-83d8-95c2e19deec1" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-b861ef07-ce7b-4744-83d8-95c2e19deec1"/>
  <xs:element name="pcs-0a2a64bb-3bf4-48b9-9ead-eb02267caa82" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-0a2a64bb-3bf4-48b9-9ead-eb02267caa82"/>
  <xs:element name="pcs-c8578114-0c61-4262-861c-33c813fb0896" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-c8578114-0c61-4262-861c-33c813fb0896"/>
  <xs:element name="pcs-56e122ad-0e9b-4cc6-ad2d-b52a3c4f606b" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-56e122ad-0e9b-4cc6-ad2d-b52a3c4f606b"/>
  <xs:element name="pcs-34d6a28b-7d4a-483b-a7d8-3416f57bf3ed" substitutionGroup="mlhim2:DvLink" type="mlhim2:pcm-34d6a28b-7d4a-483b-a7d8-3416f57bf3ed"/>
  <xs:element name="pcs-2b7eec7a-bc3f-407a-acf4-743deb676d70" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-2b7eec7a-bc3f-407a-acf4-743deb676d70"/>
  <xs:element name="pcs-b86cf7b1-d07d-42c1-82b8-3766d56de91c" substitutionGroup="mlhim2:DvLink" type="mlhim2:pcm-b86cf7b1-d07d-42c1-82b8-3766d56de91c"/>
  <xs:element name="pcs-cb9e85cf-de20-4ecc-9669-600360d96a74" substitutionGroup="mlhim2:Participation" type="mlhim2:pcm-cb9e85cf-de20-4ecc-9669-600360d96a74"/>
  <xs:element name="pcs-c2870f4e-6423-4a47-8a1a-5929f64c1e0d" substitutionGroup="mlhim2:Definition" type="mlhim2:pcm-c2870f4e-6423-4a47-8a1a-5929f64c1e0d"/>
  <xs:element name="pcs-49d12c24-06b0-4757-9b41-5ecb6a98b2bc" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-49d12c24-06b0-4757-9b41-5ecb6a98b2bc"/>
  <xs:element name="pcs-3e99bfaf-d3d9-4545-89cb-12e85bdf96c3" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-3e99bfaf-d3d9-4545-89cb-12e85bdf96c3"/>
  <xs:element name="pcs-fb6a59da-09ad-4fc3-8b75-d5de0f9f43c6" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-fb6a59da-09ad-4fc3-8b75-d5de0f9f43c6"/>
  <xs:element name="pcs-8f10ab32-f046-47b4-affc-d1ce55210992" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-8f10ab32-f046-47b4-affc-d1ce55210992"/>

</xs:schema>
