2_5_0/examples/AdminEntryCCD/ccd-462f41a9-5295-4c8c-9be3-353beb72665d.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="ccd-description.xsl"?>
<xs:schema
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:mlhim2="http://www.mlhim.org/ns/mlhim2/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sawsdlrdf="http://www.w3.org/ns/sawsdl#"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  targetNamespace="http://www.mlhim.org/ns/mlhim2/"
  vc:minVersion="1.1" xml:lang="en-US">
<!-- Include the RM Schema -->
  <xs:include schemaLocation="http://www.mlhim.org/ns/mlhim2/mlhim250.xsd"/>
<!-- Metadata -->
  <xs:annotation><xs:appinfo><rdf:RDF><rdf:Description
    rdf:about="http://www.ccdgen.com/ccdlib/ccd-462f41a9-5295-4c8c-9be3-353beb72665d.xsd">
    <dc:title>AdminEntry CCD</dc:title>
    <dc:creator>Tim Cook</dc:creator>
    <dc:subject>Test AdminEntry</dc:subject>
    <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
    <dc:relation>None</dc:relation>
    <dc:coverage>Universal</dc:coverage>
    <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
    <dc:identifier>ccd-462f41a9-5295-4c8c-9be3-353beb72665d</dc:identifier>
    <dc:description>Testing CCD-Gen Implementation of the MLHIM RM functionality.</dc:description>
    <dc:publisher>MLHIM LAB, UERJ</dc:publisher>
    <dc:date>2015-08-15 14:55:45.213413+00:00</dc:date>
    <dc:format>text/xml</dc:format>
    <dc:language>en-US</dc:language>
  </rdf:Description></rdf:RDF></xs:appinfo></xs:annotation>
<!-- Complex Type Definitions -->
<xs:element name="ccd-462f41a9-5295-4c8c-9be3-353beb72665d" type="mlhim2:pcm-462f41a9-5295-4c8c-9be3-353beb72665d"/>
<xs:complexType name="pcm-462f41a9-5295-4c8c-9be3-353beb72665d"> 
  <xs:annotation>
    <xs:appinfo>
      <rdf:Description rdf:about="http://www.mlhim.org/ns/mlhim2:pcm-462f41a9-5295-4c8c-9be3-353beb72665d">
        <rdfs:subClassOf rdf:resource="mlhim2:CCDType"/>
        <rdfs:label>AdminEntry CCD</rdfs:label>
        <rdfs:isDefinedBy rdf:resource="http%3A//www.mlhim.org/test_pcts"/>
      </rdf:Description>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexContent>
    <xs:restriction base="mlhim2:CCDType">
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:pcs-0575eb0a-b4b7-4abd-b639-1f4af4f58fe5"/> 
      </xs:sequence>
    </xs:restriction>
  </xs:complexContent>
</xs:complexType>


<!-- Entry -->
  <xs:complexType name='pcm-0575eb0a-b4b7-4abd-b639-1f4af4f58fe5'> 
    <xs:annotation>
    <xs:documentation>
      Admin Entry. This is a minimal Entry and CCD.  - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-0575eb0a-b4b7-4abd-b639-1f4af4f58fe5'>
    <rdfs:subClassOf rdf:resource='mlhim2:AdminEntryType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AdminEntryType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="AdminEntry  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='1' name='entry-language' type='xs:language' fixed='en-US'/>
          <xs:element maxOccurs='1' minOccurs='1' name='entry-encoding' type='xs:string' fixed='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:pcs-d053b858-2e1b-49cc-a7d6-80982a0381b7'/>
          <xs:element maxOccurs='1' minOccurs='0' name='subject' type='mlhim2:pcm-9a812c82-0237-43a5-ae91-471ad00c09b2'/>
          <xs:element maxOccurs='1' minOccurs='0' name='provider' type='mlhim2:pcm-3c24747f-a0b3-4fc4-a4a6-98ca5fbb58b1'/> 
          <!-- No Participations -->
          <!-- No protocol model -->
          <!-- No  workflow model -->
          <!-- No  audit model -->
          <!-- No attestation model -->
          <!-- No entry links -->
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-d053b858-2e1b-49cc-a7d6-80982a0381b7'> 
    <xs:annotation>
    <xs:documentation>
      AdminEntry entry-data - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-d053b858-2e1b-49cc-a7d6-80982a0381b7'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>AdminEntry entry-data - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="AdminEntry entry-data - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-6850d0eb-1b52-420f-b91c-85f5d534e581'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-a3052842-92af-4cff-a21f-afb44cce2cda'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-13595533-e28f-4d64-bd04-5c615e7fd811'> 
    <xs:annotation>
    <xs:documentation>
      Test Sub-Cluster  - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-13595533-e28f-4d64-bd04-5c615e7fd811'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Test Sub-Cluster  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Test Sub-Cluster  - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-8aff6c15-f828-4948-9222-195c1b2f0954'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-697e8df2-7890-4f44-8442-e7f2beab4425'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-d4fd6e5a-875e-4512-8bdd-492498237341'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-8f2109ea-cc18-4feb-a0aa-ea53cf19bc81' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      The distensible sac-like organ that functions as a reservoir of urine, collecting from the kidneys and eliminating via the urethra.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-8f2109ea-cc18-4feb-a0aa-ea53cf19bc81'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvBooleanType'/>
    <rdfs:label>Bladder  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//cdebrowser.nci.nih.gov/CDEBrowser/search%3FelementDetails%3D9%26FirstTimer%3D0%26PageId%3DElementDetailsGroup%26publicId%3D2182237%26version%3D1.0'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Bladder  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:choice maxOccurs='1' minOccurs='1'>
          <xs:element name='true-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='Yes'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name='false-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='No'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:choice>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-8aff6c15-f828-4948-9222-195c1b2f0954' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-8aff6c15-f828-4948-9222-195c1b2f0954'/>
  <xs:complexType name='pcm-8aff6c15-f828-4948-9222-195c1b2f0954'> <!-- Adapter for: Bladder  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-8f2109ea-cc18-4feb-a0aa-ea53cf19bc81'/> <!-- Reference to: Bladder  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-a45d261f-7c96-4bbe-8ba8-2d565508dc88' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Yes/No field for the duration of the fever. It should be filled when the date of onset of the fever is not known.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-a45d261f-7c96-4bbe-8ba8-2d565508dc88'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvBooleanType'/>
    <rdfs:label>Fever duration: 3 weeks or less  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//bvsms.saude.gov.br/bvs/periodicos/boletim_eletronico_epi_ano04_n04.pdf'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Fever duration: 3 weeks or less  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:choice maxOccurs='1' minOccurs='1'>
          <xs:element name='true-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='YES'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name='false-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='NO'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:choice>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-697e8df2-7890-4f44-8442-e7f2beab4425' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-697e8df2-7890-4f44-8442-e7f2beab4425'/>
  <xs:complexType name='pcm-697e8df2-7890-4f44-8442-e7f2beab4425'> <!-- Adapter for: Fever duration: 3 weeks or less  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-a45d261f-7c96-4bbe-8ba8-2d565508dc88'/> <!-- Reference to: Fever duration: 3 weeks or less  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-e44f3d02-02ff-4b94-b6bf-c694123df654' xml:lang='en-US'> 
    <xs:annotation>
      <xs:documentation>
      Test PcT of Heart Rate.
      </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-e44f3d02-02ff-4b94-b6bf-c694123df654'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvCountType'/>
    <rdfs:label>Heart Rate  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCountType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Heart Rate  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='normal-status' type='xs:string' fixed='Normal heart rate'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='magnitude-status' type='mlhim2:MagnitudeStatus'/>
          <xs:element maxOccurs='1' minOccurs='1' name='error'  type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='accuracy' type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1'  name='dvcount-value' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvcount-units' type='mlhim2:pcm-57b45058-b3eb-4569-bfd0-448cddb419f1'/> 
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-57b45058-b3eb-4569-bfd0-448cddb419f1' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      "beats per minute" (bpm).
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-57b45058-b3eb-4569-bfd0-448cddb419f1'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>beats per minute  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//cdebrowser.nci.nih.gov/CDEBrowser/search%3FelementDetails%3D9%26FirstTimer%3D0%26PageId%3DElementDetailsGroup%26publicId%3D2767073%26version%3D1.0'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="beats per minute  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='bpm'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-57b45058-b3eb-4569-bfd0-448cddb419f1/dvstring-value/bpm'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-57b45058-b3eb-4569-bfd0-448cddb419f1'/>
      <rdfs:label>bpm</rdfs:label>
      <rdfs:comment>https://cdebrowser.nci.nih.gov/CDEBrowser/search?elementDetails=9&amp;FirstTimer=0&amp;PageId=ElementDetailsGroup&amp;publicId=2767073&amp;version=1.0</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-d4fd6e5a-875e-4512-8bdd-492498237341' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-d4fd6e5a-875e-4512-8bdd-492498237341'/>
  <xs:complexType name='pcm-d4fd6e5a-875e-4512-8bdd-492498237341'> <!-- Adapter for: Heart Rate  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-e44f3d02-02ff-4b94-b6bf-c694123df654'/> <!-- Reference to: Heart Rate  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-063c6c51-581f-4dc8-92d2-4bd0c808c894' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
       X connected_to Y if and only if X and Y share a fiat boundary.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-063c6c51-581f-4dc8-92d2-4bd0c808c894'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>Connected To  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002150'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Connected To  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='connected to'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-a3052842-92af-4cff-a21f-afb44cce2cda' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-a3052842-92af-4cff-a21f-afb44cce2cda'/>
  <xs:complexType name='pcm-a3052842-92af-4cff-a21f-afb44cce2cda'> <!-- Adapter for: Connected To  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-063c6c51-581f-4dc8-92d2-4bd0c808c894'/> <!-- Reference to: Connected To  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-5e2f57e9-312f-415c-8a4e-64ce8af9ecba' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      The device use in taking a blood pressure measurement.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-5e2f57e9-312f-415c-8a4e-64ce8af9ecba'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Blood Pressure Device - Testing Use Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Blood Pressure Device - Testing Use Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Mercury sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-5e2f57e9-312f-415c-8a4e-64ce8af9ecba/dvstring-value/Mercury%20sphygmomanometer'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-5e2f57e9-312f-415c-8a4e-64ce8af9ecba'/>
      <rdfs:label>Mercury sphygmomanometer</rdfs:label>
      <rdfs:comment>http://noharm.org/lib/downloads/mercury/Accuracy_Alts_Mercury_Sphyg_rev10-09.pdf</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Aneroid sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-5e2f57e9-312f-415c-8a4e-64ce8af9ecba/dvstring-value/Aneroid%20sphygmomanometer'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-5e2f57e9-312f-415c-8a4e-64ce8af9ecba'/>
      <rdfs:label>Aneroid sphygmomanometer</rdfs:label>
      <rdfs:comment>http://en.wikipedia.org/wiki/Sphygmomanometer</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Digital'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-5e2f57e9-312f-415c-8a4e-64ce8af9ecba/dvstring-value/Digital'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-5e2f57e9-312f-415c-8a4e-64ce8af9ecba'/>
      <rdfs:label>Digital</rdfs:label>
      <rdfs:comment>http://www.ncbi.nlm.nih.gov/pubmed/7934182</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-e9cbb207-9e89-416c-8b71-7cdb859b3097' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
  <xs:complexType name='pcm-e9cbb207-9e89-416c-8b71-7cdb859b3097'> <!-- Adapter for: Blood Pressure Device - Testing Use Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-5e2f57e9-312f-415c-8a4e-64ce8af9ecba'/> <!-- Reference to: Blood Pressure Device - Testing Use Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-9a812c82-0237-43a5-ae91-471ad00c09b2' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-9a812c82-0237-43a5-ae91-471ad00c09b2'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Subject of the Entry (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-adb70bff-6bbf-4b5f-baeb-ab0a8f4829f1'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-adb70bff-6bbf-4b5f-baeb-ab0a8f4829f1'> 
    <xs:annotation>
    <xs:documentation>
      Generic Details cluster with address elements.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-adb70bff-6bbf-4b5f-baeb-ab0a8f4829f1'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Address Details (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Address Details (US)  - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-ba9f0692-280f-4ea4-996d-0e5767238191'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-292d5a72-d065-45af-903e-a7afe798ece8'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-b6c0cbb4-6fed-4172-a470-53dca59eba58'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-7065c308-842d-4cd6-a041-374367dc1246'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-64508ffb-066f-406f-9d8e-093417103eb4'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-1fb5aee4-dcb6-460c-888c-251573b557b5'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-7cf3d0f7-e206-406f-aa3c-ea5032b9c409' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used for additional address lines in the US such as building name or apartment number.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-7cf3d0f7-e206-406f-aa3c-ea5032b9c409'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Additional Address Line(s) (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Additional Address Line(s) (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-ba9f0692-280f-4ea4-996d-0e5767238191' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-ba9f0692-280f-4ea4-996d-0e5767238191'/>
  <xs:complexType name='pcm-ba9f0692-280f-4ea4-996d-0e5767238191'> <!-- Adapter for: Additional Address Line(s) (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-7cf3d0f7-e206-406f-aa3c-ea5032b9c409'/> <!-- Reference to: Additional Address Line(s) (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-312287a3-54a5-49ab-b187-d5b12bf8ff0a' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for the City name.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-312287a3-54a5-49ab-b187-d5b12bf8ff0a'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>City Name (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="City Name (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-292d5a72-d065-45af-903e-a7afe798ece8' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-292d5a72-d065-45af-903e-a7afe798ece8'/>
  <xs:complexType name='pcm-292d5a72-d065-45af-903e-a7afe798ece8'> <!-- Adapter for: City Name (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-312287a3-54a5-49ab-b187-d5b12bf8ff0a'/> <!-- Reference to: City Name (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for two character US state abbreviation.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>State Abbreviation (USPS)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="State Abbreviation (USPS)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='AL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/AL'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>AL</rdfs:label>
      <rdfs:comment>Alabama</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AK'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/AK'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>AK</rdfs:label>
      <rdfs:comment>Alaska</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/AS'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>AS</rdfs:label>
      <rdfs:comment>American Samoa</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AZ'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/AZ'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>AZ</rdfs:label>
      <rdfs:comment>Arizona</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/AR'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>AR</rdfs:label>
      <rdfs:comment>Arkansas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/CA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>CA</rdfs:label>
      <rdfs:comment>California</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CO'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/CO'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>CO</rdfs:label>
      <rdfs:comment>Colorado</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/CT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>CT</rdfs:label>
      <rdfs:comment>Connecticut</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/DE'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>DE</rdfs:label>
      <rdfs:comment>Delaware</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/DC'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>DC</rdfs:label>
      <rdfs:comment>District of Columbia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/FM'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>FM</rdfs:label>
      <rdfs:comment>Federated States of Micronesia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/FL'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>FL</rdfs:label>
      <rdfs:comment>Florida</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/GA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>GA</rdfs:label>
      <rdfs:comment>Georgia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GU'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/GU'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>GU</rdfs:label>
      <rdfs:comment>Guam</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='HI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/HI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>HI</rdfs:label>
      <rdfs:comment>Hawaii</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ID'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/ID'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>ID</rdfs:label>
      <rdfs:comment>Idaho</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/IL'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>IL</rdfs:label>
      <rdfs:comment>Illinois</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/IN'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>IN</rdfs:label>
      <rdfs:comment>Indiana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/IA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>IA</rdfs:label>
      <rdfs:comment>Iowa</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/KS'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>KS</rdfs:label>
      <rdfs:comment>Kansas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/KY'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>KY</rdfs:label>
      <rdfs:comment>Kentucky</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='LA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/LA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>LA</rdfs:label>
      <rdfs:comment>Louisiana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ME'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/ME'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>ME</rdfs:label>
      <rdfs:comment>Maine</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/MH'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>MH</rdfs:label>
      <rdfs:comment>Marshall Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MD'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/MD'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>MD</rdfs:label>
      <rdfs:comment>Maryland</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/MA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>MA</rdfs:label>
      <rdfs:comment>Massachusetts</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/MI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>MI</rdfs:label>
      <rdfs:comment>Michigan</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/MN'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>MN</rdfs:label>
      <rdfs:comment>Minnesota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/MS'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>MS</rdfs:label>
      <rdfs:comment>Mississippi</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MO'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/MO'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>MO</rdfs:label>
      <rdfs:comment>Missouri</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/MT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>MT</rdfs:label>
      <rdfs:comment>Montana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/NE'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>NE</rdfs:label>
      <rdfs:comment>Nebraska</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NV'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/NV'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>NV</rdfs:label>
      <rdfs:comment>Nevada</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/NH'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>NH</rdfs:label>
      <rdfs:comment>New Hampshire</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NJ'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/NJ'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>NJ</rdfs:label>
      <rdfs:comment>New Jersey</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/NM'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>NM</rdfs:label>
      <rdfs:comment>New Mexico</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/NY'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>NY</rdfs:label>
      <rdfs:comment>New York</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/NC'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>NC</rdfs:label>
      <rdfs:comment>North Carolina</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ND'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/ND'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>ND</rdfs:label>
      <rdfs:comment>North Dakota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MP'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/MP'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>MP</rdfs:label>
      <rdfs:comment>Northern Mariana Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/CM'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>CM</rdfs:label>
      <rdfs:comment>Northern Mariana Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/OH'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>OH</rdfs:label>
      <rdfs:comment>Ohio</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OK'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/OK'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>OK</rdfs:label>
      <rdfs:comment>Oklahoma</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/OR'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>OR</rdfs:label>
      <rdfs:comment>Oregon</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/PA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>PA</rdfs:label>
      <rdfs:comment>Pennsylvania</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/PR'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>PR</rdfs:label>
      <rdfs:comment>Puerto Rico</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='RI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/RI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>RI</rdfs:label>
      <rdfs:comment>Rhode Island</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/SC'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>SC</rdfs:label>
      <rdfs:comment>South Carolina</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SD'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/SD'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>SD</rdfs:label>
      <rdfs:comment>South Dakota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/TN'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>TN</rdfs:label>
      <rdfs:comment>Tennessee</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TX'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/TX'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>TX</rdfs:label>
      <rdfs:comment>Texas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/TT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>TT</rdfs:label>
      <rdfs:comment>Trust Territory of the Pacific Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/AA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>AA</rdfs:label>
      <rdfs:comment>U.S. Armed ForcesAmericas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/AE'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>AE</rdfs:label>
      <rdfs:comment>U.S. Armed Forces Europe</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AP'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/AP'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>AP</rdfs:label>
      <rdfs:comment>U.S. Armed Forces Pacific</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='UT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/UT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>UT</rdfs:label>
      <rdfs:comment>Utah</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/VT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>VT</rdfs:label>
      <rdfs:comment>Vermont</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/VI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>VI</rdfs:label>
      <rdfs:comment>Virgin Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/VA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>VA</rdfs:label>
      <rdfs:comment>Virginia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/WA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>WA</rdfs:label>
      <rdfs:comment>Washington</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WV'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/WV'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>WV</rdfs:label>
      <rdfs:comment>West Virginia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/WI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>WI</rdfs:label>
      <rdfs:comment>Wisconsin</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b/dvstring-value/WY'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/>
      <rdfs:label>WY</rdfs:label>
      <rdfs:comment>Wyoming</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-b6c0cbb4-6fed-4172-a470-53dca59eba58' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-b6c0cbb4-6fed-4172-a470-53dca59eba58'/>
  <xs:complexType name='pcm-b6c0cbb4-6fed-4172-a470-53dca59eba58'> <!-- Adapter for: State Abbreviation (USPS)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b'/> <!-- Reference to: State Abbreviation (USPS)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-20ec33cd-493c-44ea-9262-623faa06f2fb' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A single line US Street number and name. The typical format is:
123 Main St. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-20ec33cd-493c-44ea-9262-623faa06f2fb'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Street Number and Name (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Street Number and Name (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-7065c308-842d-4cd6-a041-374367dc1246' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-7065c308-842d-4cd6-a041-374367dc1246'/>
  <xs:complexType name='pcm-7065c308-842d-4cd6-a041-374367dc1246'> <!-- Adapter for: Street Number and Name (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-20ec33cd-493c-44ea-9262-623faa06f2fb'/> <!-- Reference to: Street Number and Name (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-f55c876b-2dd3-4a6f-a1a9-6f82836e3b7c' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A US telephone number. Exactly 12 characters; 111-111-1111 with a pattern match of "[0-9]{3}-[0-9]{3}-[0-9]{4}" 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-f55c876b-2dd3-4a6f-a1a9-6f82836e3b7c'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Telephone Number (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Telephone Number (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string' default='111-111-1111'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '[0-9]{3}-[0-9]{3}-[0-9]{4}')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-64508ffb-066f-406f-9d8e-093417103eb4' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-64508ffb-066f-406f-9d8e-093417103eb4'/>
  <xs:complexType name='pcm-64508ffb-066f-406f-9d8e-093417103eb4'> <!-- Adapter for: Telephone Number (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-f55c876b-2dd3-4a6f-a1a9-6f82836e3b7c'/> <!-- Reference to: Telephone Number (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-bd49c3de-1978-490a-a8b6-5172b310bea8' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in address cluster for US Zip (postal) Codes. Minimum of 5 characters with a maximum of 10 characters. Accommodates the older 5 character codes or the Zip+4 with the additional 4 characters following a dash. 

Examples:
12345
12345-0987 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-bd49c3de-1978-490a-a8b6-5172b310bea8'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Zip Code (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//www.usps.com/'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Zip Code (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^\d{5}([\-]?\d{4})?$')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-1fb5aee4-dcb6-460c-888c-251573b557b5' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-1fb5aee4-dcb6-460c-888c-251573b557b5'/>
  <xs:complexType name='pcm-1fb5aee4-dcb6-460c-888c-251573b557b5'> <!-- Adapter for: Zip Code (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-bd49c3de-1978-490a-a8b6-5172b310bea8'/> <!-- Reference to: Zip Code (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-3c24747f-a0b3-4fc4-a4a6-98ca5fbb58b1' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-3c24747f-a0b3-4fc4-a4a6-98ca5fbb58b1'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Entry Provider (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-adb70bff-6bbf-4b5f-baeb-ab0a8f4829f1'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>


<!-- Substitution Groups -->
  <xs:element name="pcs-13595533-e28f-4d64-bd04-5c615e7fd811" substitutionGroup="mlhim2:Items" type="mlhim2:pcm-13595533-e28f-4d64-bd04-5c615e7fd811"/>
  <xs:element name="pcs-0575eb0a-b4b7-4abd-b639-1f4af4f58fe5" substitutionGroup="mlhim2:Definition" type="mlhim2:pcm-0575eb0a-b4b7-4abd-b639-1f4af4f58fe5"/>
  <xs:element name="pcs-d053b858-2e1b-49cc-a7d6-80982a0381b7" substitutionGroup="mlhim2:Item" type="mlhim2:pcm-d053b858-2e1b-49cc-a7d6-80982a0381b7"/>
  <xs:element name="pcs-20ec33cd-493c-44ea-9262-623faa06f2fb" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-20ec33cd-493c-44ea-9262-623faa06f2fb"/>
  <xs:element name="pcs-5e2f57e9-312f-415c-8a4e-64ce8af9ecba" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-5e2f57e9-312f-415c-8a4e-64ce8af9ecba"/>
  <xs:element name="pcs-e44f3d02-02ff-4b94-b6bf-c694123df654" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-e44f3d02-02ff-4b94-b6bf-c694123df654"/>
  <xs:element name="pcs-f55c876b-2dd3-4a6f-a1a9-6f82836e3b7c" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-f55c876b-2dd3-4a6f-a1a9-6f82836e3b7c"/>
  <xs:element name="pcs-a45d261f-7c96-4bbe-8ba8-2d565508dc88" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-a45d261f-7c96-4bbe-8ba8-2d565508dc88"/>
  <xs:element name="pcs-7cf3d0f7-e206-406f-aa3c-ea5032b9c409" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-7cf3d0f7-e206-406f-aa3c-ea5032b9c409"/>
  <xs:element name="pcs-063c6c51-581f-4dc8-92d2-4bd0c808c894" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-063c6c51-581f-4dc8-92d2-4bd0c808c894"/>
  <xs:element name="pcs-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-270d0b1a-d9fb-47e3-a766-da8fde1cbb3b"/>
  <xs:element name="pcs-bd49c3de-1978-490a-a8b6-5172b310bea8" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-bd49c3de-1978-490a-a8b6-5172b310bea8"/>
  <xs:element name="pcs-312287a3-54a5-49ab-b187-d5b12bf8ff0a" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-312287a3-54a5-49ab-b187-d5b12bf8ff0a"/>
  <xs:element name="pcs-8f2109ea-cc18-4feb-a0aa-ea53cf19bc81" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-8f2109ea-cc18-4feb-a0aa-ea53cf19bc81"/>

</xs:schema>
