2_5_0/examples/DemographicEntryCCD/ccd-ba1c9669-52fe-47e2-82ed-d800b6749e26.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="ccd-description.xsl"?>
<xs:schema
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:mlhim2="http://www.mlhim.org/ns/mlhim2/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sawsdlrdf="http://www.w3.org/ns/sawsdl#"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  targetNamespace="http://www.mlhim.org/ns/mlhim2/"
  vc:minVersion="1.1" xml:lang="en-US">
<!-- Include the RM Schema -->
  <xs:include schemaLocation="http://www.mlhim.org/ns/mlhim2/mlhim250.xsd"/>
<!-- Metadata -->
  <xs:annotation><xs:appinfo><rdf:RDF><rdf:Description
    rdf:about="http://www.ccdgen.com/ccdlib/ccd-ba1c9669-52fe-47e2-82ed-d800b6749e26.xsd">
    <dc:title>DemographicEntry CCD</dc:title>
    <dc:creator>Tim Cook</dc:creator>
    <dc:subject>DemographicEntry CCD  - Testing Only</dc:subject>
    <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
    <dc:relation>None</dc:relation>
    <dc:coverage>Universal</dc:coverage>
    <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
    <dc:identifier>ccd-ba1c9669-52fe-47e2-82ed-d800b6749e26</dc:identifier>
    <dc:description>Testing CCD-Gen Implementation of the MLHIM RM functionality.</dc:description>
    <dc:publisher>MLHIM LAB, UERJ</dc:publisher>
    <dc:date>2015-09-06 12:32:42.879527+00:00</dc:date>
    <dc:format>text/xml</dc:format>
    <dc:language>en-US</dc:language>
  </rdf:Description></rdf:RDF></xs:appinfo></xs:annotation>
<!-- Complex Type Definitions -->
<xs:element name="ccd-ba1c9669-52fe-47e2-82ed-d800b6749e26" type="mlhim2:pcm-ba1c9669-52fe-47e2-82ed-d800b6749e26"/>
<xs:complexType name="pcm-ba1c9669-52fe-47e2-82ed-d800b6749e26"> 
  <xs:annotation>
    <xs:appinfo>
      <rdf:Description rdf:about="http://www.mlhim.org/ns/mlhim2:pcm-ba1c9669-52fe-47e2-82ed-d800b6749e26">
        <rdfs:subClassOf rdf:resource="mlhim2:CCDType"/>
        <rdfs:label>DemographicEntry CCD</rdfs:label>
        <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_CCDType.html%23CCDType'/>
      </rdf:Description>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexContent>
    <xs:restriction base="mlhim2:CCDType">
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:pcs-aefd2b9f-bb6d-4cf8-999b-2f65a0fd2452"/> 
      </xs:sequence>
    </xs:restriction>
  </xs:complexContent>
</xs:complexType>


<!-- Entry -->
  <xs:complexType name='pcm-aefd2b9f-bb6d-4cf8-999b-2f65a0fd2452'> 
    <xs:annotation>
    <xs:documentation>
      DemographicEntry  - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-aefd2b9f-bb6d-4cf8-999b-2f65a0fd2452'>
    <rdfs:subClassOf rdf:resource='mlhim2:DemographicEntryType'/>
    <rdfs:label>DemographicEntry  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_DemographicEntryType.html%23DemographicEntryType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DemographicEntryType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="DemographicEntry  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='1' name='entry-language' type='xs:language' fixed='en-US'/>
          <xs:element maxOccurs='1' minOccurs='1' name='entry-encoding' type='xs:string' fixed='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string' default='testing me'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:pcs-731178ad-5a2c-420b-ae50-289a77126a41'/>
          <xs:element maxOccurs='1' minOccurs='0' name='subject' type='mlhim2:pcm-c136d5f3-575e-4f0e-a3b4-7abf01987689'/>
          <xs:element maxOccurs='1' minOccurs='0' name='provider' type='mlhim2:pcm-e238df21-133a-45e8-86da-dffa8f2f7577'/> 
          <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-bfe7d133-17ed-46bc-beff-b6b4cb712b37'/>
          <!-- No protocol model -->
          <xs:element maxOccurs='1' minOccurs='0' name='workflow' type='mlhim2:pcm-18f4858d-f2df-4e06-bf1f-b3885331dce3'/>
          <xs:element maxOccurs='1' minOccurs='0' name='audit' type='mlhim2:pcm-155e041b-67e5-4a3f-8bf5-6e2f73b333bb'/>
          <xs:element maxOccurs='1' minOccurs='0' name='attestation' type='mlhim2:pcm-9e43e993-a970-49b5-887b-80e384acd7a7'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-92884bb5-6c79-4c09-a6f6-c31d45efe05a'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-a4b92ef6-1b6a-40e9-b92c-6bd7ef24c39a'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-92884bb5-6c79-4c09-a6f6-c31d45efe05a' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      attached to
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-92884bb5-6c79-4c09-a6f6-c31d45efe05a'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>attached to - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002371'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="attached to - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='http://purl.obolibrary.org/obo/RO_0002371'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-a4b92ef6-1b6a-40e9-b92c-6bd7ef24c39a' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
       X connected_to Y if and only if X and Y share a fiat boundary.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-a4b92ef6-1b6a-40e9-b92c-6bd7ef24c39a'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>Connected To  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002150'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Connected To  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='connected to'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-731178ad-5a2c-420b-ae50-289a77126a41'> 
    <xs:annotation>
    <xs:documentation>
      DemographicEntry entry-data - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-731178ad-5a2c-420b-ae50-289a77126a41'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>DemographicEntry entry-data - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Element_mlhim2_Entry.html%23Entry'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="DemographicEntry entry-data - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-6669a777-2d29-44b6-97ae-4d47c16ee587' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      The device use in taking a blood pressure measurement.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-6669a777-2d29-44b6-97ae-4d47c16ee587'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Blood Pressure Device - Testing Use Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Blood Pressure Device - Testing Use Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Mercury sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6669a777-2d29-44b6-97ae-4d47c16ee587/dvstring-value/Mercury%20sphygmomanometer'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6669a777-2d29-44b6-97ae-4d47c16ee587'/>
      <rdfs:label>Mercury sphygmomanometer</rdfs:label>
      <rdfs:comment>http://noharm.org/lib/downloads/mercury/Accuracy_Alts_Mercury_Sphyg_rev10-09.pdf</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Aneroid sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6669a777-2d29-44b6-97ae-4d47c16ee587/dvstring-value/Aneroid%20sphygmomanometer'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6669a777-2d29-44b6-97ae-4d47c16ee587'/>
      <rdfs:label>Aneroid sphygmomanometer</rdfs:label>
      <rdfs:comment>http://en.wikipedia.org/wiki/Sphygmomanometer</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Digital'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6669a777-2d29-44b6-97ae-4d47c16ee587/dvstring-value/Digital'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6669a777-2d29-44b6-97ae-4d47c16ee587'/>
      <rdfs:label>Digital</rdfs:label>
      <rdfs:comment>http://www.ncbi.nlm.nih.gov/pubmed/7934182</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-e9cbb207-9e89-416c-8b71-7cdb859b3097' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
  <xs:complexType name='pcm-e9cbb207-9e89-416c-8b71-7cdb859b3097'> <!-- Adapter for: Blood Pressure Device - Testing Use Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-6669a777-2d29-44b6-97ae-4d47c16ee587'/> <!-- Reference to: Blood Pressure Device - Testing Use Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-c136d5f3-575e-4f0e-a3b4-7abf01987689' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry subject.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-c136d5f3-575e-4f0e-a3b4-7abf01987689'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:label>Subject of the Entry (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_EntryType.html%23EntryType_subject'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Subject of the Entry (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-09cce6c9-a67c-484e-860b-fba914bd933b'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-09cce6c9-a67c-484e-860b-fba914bd933b'> 
    <xs:annotation>
    <xs:documentation>
      Generic Details cluster with address elements.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-09cce6c9-a67c-484e-860b-fba914bd933b'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Address Details (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//pe.usps.gov/cpim/ftp/pubs/Pub28/pub28.pdf'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Address Details (US)  - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-ba9f0692-280f-4ea4-996d-0e5767238191'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-292d5a72-d065-45af-903e-a7afe798ece8'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-b6c0cbb4-6fed-4172-a470-53dca59eba58'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-7065c308-842d-4cd6-a041-374367dc1246'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-64508ffb-066f-406f-9d8e-093417103eb4'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-1fb5aee4-dcb6-460c-888c-251573b557b5'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-d5a8042c-e131-48f8-894c-8bf26592f393' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used for additional address lines in the US such as building name or apartment number.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-d5a8042c-e131-48f8-894c-8bf26592f393'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Additional Address Line(s) (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//pe.usps.gov/cpim/ftp/pubs/Pub28/pub28.pdf%2326'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Additional Address Line(s) (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-ba9f0692-280f-4ea4-996d-0e5767238191' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-ba9f0692-280f-4ea4-996d-0e5767238191'/>
  <xs:complexType name='pcm-ba9f0692-280f-4ea4-996d-0e5767238191'> <!-- Adapter for: Additional Address Line(s) (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-d5a8042c-e131-48f8-894c-8bf26592f393'/> <!-- Reference to: Additional Address Line(s) (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-2ec4df99-e557-40cc-8f43-f1bf97bd1e83' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for the City name.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-2ec4df99-e557-40cc-8f43-f1bf97bd1e83'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>City Name (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//pe.usps.gov/cpim/ftp/pubs/Pub28/pub28.pdf%23221'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="City Name (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-292d5a72-d065-45af-903e-a7afe798ece8' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-292d5a72-d065-45af-903e-a7afe798ece8'/>
  <xs:complexType name='pcm-292d5a72-d065-45af-903e-a7afe798ece8'> <!-- Adapter for: City Name (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-2ec4df99-e557-40cc-8f43-f1bf97bd1e83'/> <!-- Reference to: City Name (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for two character US state abbreviation.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>State Abbreviation (USPS)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//about.usps.com/who-we-are/postal-history/state-abbreviations.pdf'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="State Abbreviation (USPS)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='AL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/AL'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>AL</rdfs:label>
      <rdfs:comment>Alabama</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AK'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/AK'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>AK</rdfs:label>
      <rdfs:comment>Alaska</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/AS'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>AS</rdfs:label>
      <rdfs:comment>American Samoa</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AZ'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/AZ'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>AZ</rdfs:label>
      <rdfs:comment>Arizona</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/AR'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>AR</rdfs:label>
      <rdfs:comment>Arkansas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/CA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>CA</rdfs:label>
      <rdfs:comment>California</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CO'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/CO'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>CO</rdfs:label>
      <rdfs:comment>Colorado</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/CT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>CT</rdfs:label>
      <rdfs:comment>Connecticut</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/DE'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>DE</rdfs:label>
      <rdfs:comment>Delaware</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/DC'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>DC</rdfs:label>
      <rdfs:comment>District of Columbia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/FM'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>FM</rdfs:label>
      <rdfs:comment>Federated States of Micronesia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/FL'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>FL</rdfs:label>
      <rdfs:comment>Florida</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/GA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>GA</rdfs:label>
      <rdfs:comment>Georgia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GU'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/GU'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>GU</rdfs:label>
      <rdfs:comment>Guam</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='HI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/HI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>HI</rdfs:label>
      <rdfs:comment>Hawaii</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ID'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/ID'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>ID</rdfs:label>
      <rdfs:comment>Idaho</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/IL'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>IL</rdfs:label>
      <rdfs:comment>Illinois</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/IN'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>IN</rdfs:label>
      <rdfs:comment>Indiana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/IA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>IA</rdfs:label>
      <rdfs:comment>Iowa</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/KS'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>KS</rdfs:label>
      <rdfs:comment>Kansas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/KY'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>KY</rdfs:label>
      <rdfs:comment>Kentucky</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='LA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/LA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>LA</rdfs:label>
      <rdfs:comment>Louisiana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ME'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/ME'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>ME</rdfs:label>
      <rdfs:comment>Maine</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/MH'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>MH</rdfs:label>
      <rdfs:comment>Marshall Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MD'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/MD'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>MD</rdfs:label>
      <rdfs:comment>Maryland</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/MA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>MA</rdfs:label>
      <rdfs:comment>Massachusetts</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/MI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>MI</rdfs:label>
      <rdfs:comment>Michigan</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/MN'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>MN</rdfs:label>
      <rdfs:comment>Minnesota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/MS'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>MS</rdfs:label>
      <rdfs:comment>Mississippi</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MO'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/MO'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>MO</rdfs:label>
      <rdfs:comment>Missouri</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/MT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>MT</rdfs:label>
      <rdfs:comment>Montana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/NE'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>NE</rdfs:label>
      <rdfs:comment>Nebraska</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NV'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/NV'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>NV</rdfs:label>
      <rdfs:comment>Nevada</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/NH'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>NH</rdfs:label>
      <rdfs:comment>New Hampshire</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NJ'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/NJ'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>NJ</rdfs:label>
      <rdfs:comment>New Jersey</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/NM'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>NM</rdfs:label>
      <rdfs:comment>New Mexico</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/NY'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>NY</rdfs:label>
      <rdfs:comment>New York</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/NC'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>NC</rdfs:label>
      <rdfs:comment>North Carolina</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ND'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/ND'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>ND</rdfs:label>
      <rdfs:comment>North Dakota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MP'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/MP'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>MP</rdfs:label>
      <rdfs:comment>Northern Mariana Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/CM'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>CM</rdfs:label>
      <rdfs:comment>Northern Mariana Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/OH'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>OH</rdfs:label>
      <rdfs:comment>Ohio</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OK'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/OK'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>OK</rdfs:label>
      <rdfs:comment>Oklahoma</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/OR'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>OR</rdfs:label>
      <rdfs:comment>Oregon</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/PA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>PA</rdfs:label>
      <rdfs:comment>Pennsylvania</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/PR'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>PR</rdfs:label>
      <rdfs:comment>Puerto Rico</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='RI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/RI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>RI</rdfs:label>
      <rdfs:comment>Rhode Island</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/SC'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>SC</rdfs:label>
      <rdfs:comment>South Carolina</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SD'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/SD'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>SD</rdfs:label>
      <rdfs:comment>South Dakota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/TN'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>TN</rdfs:label>
      <rdfs:comment>Tennessee</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TX'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/TX'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>TX</rdfs:label>
      <rdfs:comment>Texas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/TT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>TT</rdfs:label>
      <rdfs:comment>Trust Territory of the Pacific Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/AA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>AA</rdfs:label>
      <rdfs:comment>U.S. Armed Forces – Americas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/AE'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>AE</rdfs:label>
      <rdfs:comment>U.S. Armed Forces – Europe</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AP'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/AP'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>AP</rdfs:label>
      <rdfs:comment>U.S. Armed Forces – Pacific</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='UT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/UT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>UT</rdfs:label>
      <rdfs:comment>Utah</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/VT'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>VT</rdfs:label>
      <rdfs:comment>Vermont</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/VI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>VI</rdfs:label>
      <rdfs:comment>Virgin Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/VA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>VA</rdfs:label>
      <rdfs:comment>Virginia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/WA'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>WA</rdfs:label>
      <rdfs:comment>Washington</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WV'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/WV'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>WV</rdfs:label>
      <rdfs:comment>West Virginia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/WI'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>WI</rdfs:label>
      <rdfs:comment>Wisconsin</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01/dvstring-value/WY'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/>
      <rdfs:label>WY</rdfs:label>
      <rdfs:comment>Wyoming</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-b6c0cbb4-6fed-4172-a470-53dca59eba58' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-b6c0cbb4-6fed-4172-a470-53dca59eba58'/>
  <xs:complexType name='pcm-b6c0cbb4-6fed-4172-a470-53dca59eba58'> <!-- Adapter for: State Abbreviation (USPS)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-6fb84cfa-a865-473e-ae89-cc829c1bcf01'/> <!-- Reference to: State Abbreviation (USPS)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-18647d15-9ac4-403f-bf25-0bfe203f4fd0' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A single line US Street number and name. The typical format is:
123 Main St. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-18647d15-9ac4-403f-bf25-0bfe203f4fd0'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Street Number and Name (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//pe.usps.gov/cpim/ftp/pubs/Pub28/pub28.pdf%23232'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Street Number and Name (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-7065c308-842d-4cd6-a041-374367dc1246' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-7065c308-842d-4cd6-a041-374367dc1246'/>
  <xs:complexType name='pcm-7065c308-842d-4cd6-a041-374367dc1246'> <!-- Adapter for: Street Number and Name (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-18647d15-9ac4-403f-bf25-0bfe203f4fd0'/> <!-- Reference to: Street Number and Name (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-369de379-d09c-43aa-8334-8de02590f702' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A US telephone number. Exactly 12 characters; 111-111-1111 with a pattern match of "[0-9]{3}-[0-9]{3}-[0-9]{4}" 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-369de379-d09c-43aa-8334-8de02590f702'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Telephone Number North American Plan  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//en.wikipedia.org/wiki/North_American_Numbering_Plan'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Telephone Number North American Plan  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string' default='111-111-1111'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '[0-9]{3}-[0-9]{3}-[0-9]{4}')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-64508ffb-066f-406f-9d8e-093417103eb4' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-64508ffb-066f-406f-9d8e-093417103eb4'/>
  <xs:complexType name='pcm-64508ffb-066f-406f-9d8e-093417103eb4'> <!-- Adapter for: Telephone Number North American Plan  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-369de379-d09c-43aa-8334-8de02590f702'/> <!-- Reference to: Telephone Number North American Plan  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-7a33b261-0895-4c5b-9a4d-3f3aae0da570' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in address cluster for US Zip (postal) Codes. Minimum of 5 characters with a maximum of 10 characters. Accommodates the older 5 character codes or the Zip+4 with the additional 4 characters following a dash. 

Examples:
12345
12345-0987 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-7a33b261-0895-4c5b-9a4d-3f3aae0da570'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Zip Code (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//pe.usps.gov/cpim/ftp/pubs/Pub28/pub28.pdf%23262'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Zip Code (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^\d{5}([\-]?\d{4})?$')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-1fb5aee4-dcb6-460c-888c-251573b557b5' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-1fb5aee4-dcb6-460c-888c-251573b557b5'/>
  <xs:complexType name='pcm-1fb5aee4-dcb6-460c-888c-251573b557b5'> <!-- Adapter for: Zip Code (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-7a33b261-0895-4c5b-9a4d-3f3aae0da570'/> <!-- Reference to: Zip Code (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-e238df21-133a-45e8-86da-dffa8f2f7577' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-e238df21-133a-45e8-86da-dffa8f2f7577'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:label>Entry Provider (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_EntryType.html%23EntryType_provider'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Entry Provider (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-ref' type='mlhim2:pcm-0672fe6a-943f-4297-8d59-8239b02c4fe1'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-09cce6c9-a67c-484e-860b-fba914bd933b'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-0672fe6a-943f-4297-8d59-8239b02c4fe1' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic URI for use with Party to be used as a pointer to a demographic service record.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-0672fe6a-943f-4297-8d59-8239b02c4fe1'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>External Reference for Party  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_PartyType.html%23PartyType_party-ref'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="External Reference for Party  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='Party Associated with the record'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-bfe7d133-17ed-46bc-beff-b6b4cb712b37' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Entry Participation
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-bfe7d133-17ed-46bc-beff-b6b4cb712b37'>
    <rdfs:subClassOf rdf:resource='mlhim2:ParticipationType'/>
    <rdfs:label>Entry Participation  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_ParticipationType.html%23ParticipationType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ParticipationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Entry Participation  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='performer' type='mlhim2:pcm-30191ba9-a3de-494f-ace9-e90c9598bd04'/>
          <xs:element maxOccurs='1' minOccurs='0' name='function' type='mlhim2:pcm-3cd4a457-f08c-428d-9db6-b4ecee063751'/>
          <xs:element maxOccurs='1' minOccurs='0' name='mode' type='mlhim2:pcm-b8841007-acb8-4e81-90c8-594c8d825c7e'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='start' type='xs:dateTimeStamp'/>
          <xs:element maxOccurs='1' minOccurs='0' name='end' type='xs:dateTimeStamp'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-30191ba9-a3de-494f-ace9-e90c9598bd04' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic participation performer.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-30191ba9-a3de-494f-ace9-e90c9598bd04'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:label>Participation Performer  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_ParticipationType.html%23ParticipationType_performer'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Participation Performer  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-09cce6c9-a67c-484e-860b-fba914bd933b'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-3cd4a457-f08c-428d-9db6-b4ecee063751' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Participation Function
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-3cd4a457-f08c-428d-9db6-b4ecee063751'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Participation Function - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_ParticipationType.html%23ParticipationType_function'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Participation Function - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='This'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-3cd4a457-f08c-428d-9db6-b4ecee063751/dvstring-value/This'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-3cd4a457-f08c-428d-9db6-b4ecee063751'/>
      <rdfs:label>This</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/function#This</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='That'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-3cd4a457-f08c-428d-9db6-b4ecee063751/dvstring-value/That'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-3cd4a457-f08c-428d-9db6-b4ecee063751'/>
      <rdfs:label>That</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/function#That</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Other Thing'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-3cd4a457-f08c-428d-9db6-b4ecee063751/dvstring-value/Other%20Thing'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-3cd4a457-f08c-428d-9db6-b4ecee063751'/>
      <rdfs:label>Other Thing</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/function#OtherThing</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-b8841007-acb8-4e81-90c8-594c8d825c7e' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic definition that the participation mode is some type of agent. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-b8841007-acb8-4e81-90c8-594c8d825c7e'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Participation Mode - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_ParticipationType.html%23ParticipationType_mode'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Participation Mode - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Doctor'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-b8841007-acb8-4e81-90c8-594c8d825c7e/dvstring-value/Doctor'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-b8841007-acb8-4e81-90c8-594c8d825c7e'/>
      <rdfs:label>Doctor</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/mode#Doctor</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Baker'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-b8841007-acb8-4e81-90c8-594c8d825c7e/dvstring-value/Baker'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-b8841007-acb8-4e81-90c8-594c8d825c7e'/>
      <rdfs:label>Baker</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/mode#Baker</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CandlestickMaker'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-b8841007-acb8-4e81-90c8-594c8d825c7e/dvstring-value/CandlestickMaker'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-b8841007-acb8-4e81-90c8-594c8d825c7e'/>
      <rdfs:label>CandlestickMaker</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/mode#CandlestickMaker</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-18f4858d-f2df-4e06-bf1f-b3885331dce3' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      The link points to the workflow definition
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-18f4858d-f2df-4e06-bf1f-b3885331dce3'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>Workflow ID  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_EntryType.html%23EntryType_workflow'/>
    </rdf:Description>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-18f4858d-f2df-4e06-bf1f-b3885331dce3'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>Workflow ID  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/IAO_0000178'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Workflow ID  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='material information bearer'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-155e041b-67e5-4a3f-8bf5-6e2f73b333bb' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      Test audit for  - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-155e041b-67e5-4a3f-8bf5-6e2f73b333bb'>
    <rdfs:subClassOf rdf:resource='mlhim2:AuditType'/>
    <rdfs:label>Audit Test  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_AuditType.html%23AuditType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AuditType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Audit Test  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='1' name='system-id' type='mlhim2:pcm-27527140-08e6-4d65-b102-240f5339f47a'/>
          <xs:element maxOccurs='1' minOccurs='0' name='system-user' type='mlhim2:pcm-0ebb8ece-be9c-47f7-aab5-be81e7bf6258'/>
          <xs:element maxOccurs='1' minOccurs='0' name='location' type='mlhim2:pcm-a4eabbee-ed3a-461c-ba81-391f82fc3d68'/>
          <xs:element maxOccurs='1' minOccurs='1' name='timestamp' type='xs:dateTimeStamp'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-27527140-08e6-4d65-b102-240f5339f47a' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A reusable system ID for Audit
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-27527140-08e6-4d65-b102-240f5339f47a'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>System ID  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_AuditType.html%23AuditType_system-id'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="System ID  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-0ebb8ece-be9c-47f7-aab5-be81e7bf6258' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A Party definition for Audit system user.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-0ebb8ece-be9c-47f7-aab5-be81e7bf6258'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:label>Audit System User  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_AuditType.html%23AuditType_system-user'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Audit System User  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-09cce6c9-a67c-484e-860b-fba914bd933b'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-a4eabbee-ed3a-461c-ba81-391f82fc3d68'> 
    <xs:annotation>
    <xs:documentation>
      Generic location structure. Uses decimal format WGS84 lat/lon coordinates.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-a4eabbee-ed3a-461c-ba81-391f82fc3d68'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Latitude/Longitude Location (WGS84)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//en.wikipedia.org/wiki/Latitude'/>
    </rdf:Description>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-a4eabbee-ed3a-461c-ba81-391f82fc3d68'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Latitude/Longitude Location (WGS84)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//en.wikipedia.org/wiki/Longitude'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Latitude/Longitude Location (WGS84)  - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-8d3a2f5d-4c9d-4fd3-bfa8-98258748d681'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-504d8d59-22ff-49a8-abaa-832d49acf16e'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-e6fb31c0-61b9-4c31-a7a8-3f15582e33aa' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Matches a latitude in the range of -90 to 90 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-e6fb31c0-61b9-4c31-a7a8-3f15582e33aa'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Latitude (Decimal Format)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//en.wikipedia.org/wiki/Decimal_degrees'/>
    </rdf:Description>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-e6fb31c0-61b9-4c31-a7a8-3f15582e33aa'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Latitude (Decimal Format)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//en.wikipedia.org/wiki/Latitude'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Latitude (Decimal Format)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^-?([1-8]?[0-9]\.{1}\d{1,6}$|90\.{1}0{1,6}$)')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-8d3a2f5d-4c9d-4fd3-bfa8-98258748d681' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-8d3a2f5d-4c9d-4fd3-bfa8-98258748d681'/>
  <xs:complexType name='pcm-8d3a2f5d-4c9d-4fd3-bfa8-98258748d681'> <!-- Adapter for: Latitude (Decimal Format)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-e6fb31c0-61b9-4c31-a7a8-3f15582e33aa'/> <!-- Reference to: Latitude (Decimal Format)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-289f44b7-2b75-413e-9d5b-5a90882035ac' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Matches a longitude in the range of -180 to 180 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-289f44b7-2b75-413e-9d5b-5a90882035ac'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Longitude (Decimal Format)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//en.wikipedia.org/wiki/Decimal_degrees'/>
    </rdf:Description>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-289f44b7-2b75-413e-9d5b-5a90882035ac'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Longitude (Decimal Format)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//en.wikipedia.org/wiki/Longitude'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Longitude (Decimal Format)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^-?((([1]?[0-7][0-9]|[1-9]?[0-9])\.{1}\d{1,6}$)|[1]?[1-8][0]\.{1}0{1,6}$)')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-504d8d59-22ff-49a8-abaa-832d49acf16e' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-504d8d59-22ff-49a8-abaa-832d49acf16e'/>
  <xs:complexType name='pcm-504d8d59-22ff-49a8-abaa-832d49acf16e'> <!-- Adapter for: Longitude (Decimal Format)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-289f44b7-2b75-413e-9d5b-5a90882035ac'/> <!-- Reference to: Longitude (Decimal Format)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-9e43e993-a970-49b5-887b-80e384acd7a7' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic attestation. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-9e43e993-a970-49b5-887b-80e384acd7a7'>
    <rdfs:subClassOf rdf:resource='mlhim2:AttestationType'/>
    <rdfs:label>Attestation  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_AttestationType.html%23AttestationType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AttestationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='view' type='mlhim2:pcm-825abb87-f8f4-4776-b013-a17f5957f47e'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='proof' type='mlhim2:pcm-09b1a7df-c810-4a83-a7d5-235d600533fd'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='reason' type='mlhim2:pcm-308c49b5-1cf7-4178-bb55-2a8cd0a39051'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='committer' type='mlhim2:pcm-a87035be-b878-48ec-bbf3-5a33e25dae18'/>
          <xs:element maxOccurs='1' minOccurs='0' name='committed' type='xs:dateTimeStamp'/>
          <xs:element maxOccurs='1' minOccurs='1' default='true' name='pending' type='xs:boolean'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-825abb87-f8f4-4776-b013-a17f5957f47e' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation view.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-825abb87-f8f4-4776-b013-a17f5957f47e'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvFileType'/>
    <rdfs:label>Attestation View  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_AttestationType.html%23AttestationType_view'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvFileType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation View  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvfile-language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='formalism' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' name='media-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='compression-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-result' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-function' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='alt-txt' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' name='media-content' type='xs:base64Binary'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-09b1a7df-c810-4a83-a7d5-235d600533fd' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation proof document.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-09b1a7df-c810-4a83-a7d5-235d600533fd'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvFileType'/>
    <rdfs:label>Proof  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_AttestationType.html%23AttestationType_proof'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvFileType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Proof  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvfile-language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='formalism' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' name='media-type'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='text/html'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='compression-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-result' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-function' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='alt-txt' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' name='text-content' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-308c49b5-1cf7-4178-bb55-2a8cd0a39051' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A finalized release of some information entity.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-308c49b5-1cf7-4178-bb55-2a8cd0a39051'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Attestation Reason - Testing Use Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_AttestationType.html%23AttestationType_reason'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation Reason - Testing Use Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='release'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-308c49b5-1cf7-4178-bb55-2a8cd0a39051/dvstring-value/release'>
      <rdfs:subPropertyOf rdf:resource='mlhim2:pcm-308c49b5-1cf7-4178-bb55-2a8cd0a39051'/>
      <rdfs:label>release</rdfs:label>
      <rdfs:comment>http://usefulinc.com/ns/doap%23release</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-a87035be-b878-48ec-bbf3-5a33e25dae18' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A Party definition for attestation committer.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-a87035be-b878-48ec-bbf3-5a33e25dae18'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:label>Attestation Committer  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//mlhim.org/rm250_html/mlhim250_xsd_Complex_Type_mlhim2_AttestationType.html%23AttestationType_committer'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation Committer  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-ref' type='mlhim2:pcm-0672fe6a-943f-4297-8d59-8239b02c4fe1'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-09cce6c9-a67c-484e-860b-fba914bd933b'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>


<!-- Substitution Groups -->
  <xs:element name="pcs-d5a8042c-e131-48f8-894c-8bf26592f393" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-d5a8042c-e131-48f8-894c-8bf26592f393"/>
  <xs:element name="pcs-18647d15-9ac4-403f-bf25-0bfe203f4fd0" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-18647d15-9ac4-403f-bf25-0bfe203f4fd0"/>
  <xs:element name="pcs-7a33b261-0895-4c5b-9a4d-3f3aae0da570" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-7a33b261-0895-4c5b-9a4d-3f3aae0da570"/>
  <xs:element name="pcs-369de379-d09c-43aa-8334-8de02590f702" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-369de379-d09c-43aa-8334-8de02590f702"/>
  <xs:element name="pcs-731178ad-5a2c-420b-ae50-289a77126a41" substitutionGroup="mlhim2:Item" type="mlhim2:pcm-731178ad-5a2c-420b-ae50-289a77126a41"/>
  <xs:element name="pcs-bfe7d133-17ed-46bc-beff-b6b4cb712b37" substitutionGroup="mlhim2:Participation" type="mlhim2:pcm-bfe7d133-17ed-46bc-beff-b6b4cb712b37"/>
  <xs:element name="pcs-289f44b7-2b75-413e-9d5b-5a90882035ac" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-289f44b7-2b75-413e-9d5b-5a90882035ac"/>
  <xs:element name="pcs-6669a777-2d29-44b6-97ae-4d47c16ee587" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-6669a777-2d29-44b6-97ae-4d47c16ee587"/>
  <xs:element name="pcs-e6fb31c0-61b9-4c31-a7a8-3f15582e33aa" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-e6fb31c0-61b9-4c31-a7a8-3f15582e33aa"/>
  <xs:element name="pcs-2ec4df99-e557-40cc-8f43-f1bf97bd1e83" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-2ec4df99-e557-40cc-8f43-f1bf97bd1e83"/>
  <xs:element name="pcs-a4b92ef6-1b6a-40e9-b92c-6bd7ef24c39a" substitutionGroup="mlhim2:DvLink" type="mlhim2:pcm-a4b92ef6-1b6a-40e9-b92c-6bd7ef24c39a"/>
  <xs:element name="pcs-92884bb5-6c79-4c09-a6f6-c31d45efe05a" substitutionGroup="mlhim2:DvLink" type="mlhim2:pcm-92884bb5-6c79-4c09-a6f6-c31d45efe05a"/>
  <xs:element name="pcs-aefd2b9f-bb6d-4cf8-999b-2f65a0fd2452" substitutionGroup="mlhim2:Definition" type="mlhim2:pcm-aefd2b9f-bb6d-4cf8-999b-2f65a0fd2452"/>
  <xs:element name="pcs-6fb84cfa-a865-473e-ae89-cc829c1bcf01" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-6fb84cfa-a865-473e-ae89-cc829c1bcf01"/>

</xs:schema>
