2_5_0/examples/DemographicEntryCCD/ccd-6f73b07f-736e-461c-9418-83fb4ca50906.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="ccd-description.xsl"?>
<xs:schema
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:mlhim2="http://www.mlhim.org/ns/mlhim2/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sawsdlrdf="http://www.w3.org/ns/sawsdl#"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  targetNamespace="http://www.mlhim.org/ns/mlhim2/"
  vc:minVersion="1.1" xml:lang="en-US">
<!-- Include the RM Schema -->
  <xs:include schemaLocation="http://www.mlhim.org/ns/mlhim2/mlhim250.xsd"/>
<!-- Metadata -->
  <xs:annotation><xs:appinfo><rdf:RDF><rdf:Description
    rdf:about="http://www.ccdgen.com/ccdlib/ccd-6f73b07f-736e-461c-9418-83fb4ca50906.xsd">
    <dc:title>DemographicEntry CCD</dc:title>
    <dc:creator>Tim Cook &lt;tim@mlhim.org&gt;</dc:creator>
    <dc:subject>DemographicEntry CCD  - Testing Only</dc:subject>
    <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
    <dc:relation>None</dc:relation>
    <dc:coverage>Universal</dc:coverage>
    <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
    <dc:identifier>ccd-6f73b07f-736e-461c-9418-83fb4ca50906</dc:identifier>
    <dc:description>Testing CCD-Gen Implementation of the MLHIM RM functionality.</dc:description>
    <dc:publisher>MLHIM LAB, UERJ</dc:publisher>
    <dc:date>2015-08-03 19:03:34.895829+00:00</dc:date>
    <dc:format>text/xml</dc:format>
    <dc:language>en-US</dc:language>
  </rdf:Description></rdf:RDF></xs:appinfo></xs:annotation>
<!-- Complex Type Definitions -->
<xs:element name="ccd-6f73b07f-736e-461c-9418-83fb4ca50906" type="mlhim2:pcm-6f73b07f-736e-461c-9418-83fb4ca50906"/>
<xs:complexType name="pcm-6f73b07f-736e-461c-9418-83fb4ca50906"> 
  <xs:annotation>
    <xs:appinfo>
      <rdf:Description rdf:about="http://www.mlhim.org/ns/mlhim2:pcm-6f73b07f-736e-461c-9418-83fb4ca50906">
        <rdfs:subClassOf rdf:resource="mlhim2:CCDType"/>
        <rdfs:label>DemographicEntry CCD</rdfs:label>
        <rdfs:isDefinedBy rdf:resource="http%3A//www.mlhim.org/test_pcts"/>
      </rdf:Description>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexContent>
    <xs:restriction base="mlhim2:CCDType">
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:pcs-acf24b5c-7973-4337-976d-1f84ef38ff92"/> 
      </xs:sequence>
    </xs:restriction>
  </xs:complexContent>
</xs:complexType>


<!-- Entry -->
  <xs:complexType name='pcm-acf24b5c-7973-4337-976d-1f84ef38ff92'> 
    <xs:annotation>
    <xs:documentation>
      DemographicEntry  - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-acf24b5c-7973-4337-976d-1f84ef38ff92'>
    <rdfs:subClassOf rdf:resource='mlhim2:DemographicEntryType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DemographicEntryType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="DemographicEntry  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='1' name='entry-language' type='xs:language' fixed='en-US'/>
          <xs:element maxOccurs='1' minOccurs='1' name='entry-encoding' type='xs:string' fixed='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string' default='testing me'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:pcs-8f2c1ad0-ff42-4c40-a57c-9917532c7262'/>
          <xs:element maxOccurs='1' minOccurs='0' name='subject' type='mlhim2:pcm-86b9ed84-66fd-4934-ba5d-fd23251def3d'/>
          <xs:element maxOccurs='1' minOccurs='0' name='provider' type='mlhim2:pcm-d7b5ceb8-a76d-49a6-9dcc-ae6c8df7581b'/> 
          <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-72c8396a-4a73-4348-a5e7-eaea2fd243db'/>
          <xs:element maxOccurs='1' minOccurs='0' name='protocol' type='mlhim2:pcm-b83c7c80-1022-48d8-b72f-de4fecdffb5b'/>
          <xs:element maxOccurs='1' minOccurs='0' name='workflow' type='mlhim2:pcm-ced24000-62f1-442a-a5b5-3cc1c4d51077'/>
          <xs:element maxOccurs='1' minOccurs='0' name='audit' type='mlhim2:pcm-66f86a76-360a-4952-999c-4b1c1b5f0a59'/>
          <xs:element maxOccurs='1' minOccurs='0' name='attestation' type='mlhim2:pcm-95fc355e-50c7-4434-9c06-2a983e8bb13e'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-30cba7ce-d56e-491a-ab92-076cfe52e2b0'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-634143df-bff2-42b5-84d6-a20040fcda22'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-30cba7ce-d56e-491a-ab92-076cfe52e2b0' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      attached to
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-30cba7ce-d56e-491a-ab92-076cfe52e2b0'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>attached to - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002371'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="attached to - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='http://purl.obolibrary.org/obo/RO_0002371'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-634143df-bff2-42b5-84d6-a20040fcda22' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
       X connected_to Y if and only if X and Y share a fiat boundary.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-634143df-bff2-42b5-84d6-a20040fcda22'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>Connected To  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002150'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Connected To  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='connected to'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-8f2c1ad0-ff42-4c40-a57c-9917532c7262'> 
    <xs:annotation>
    <xs:documentation>
      DemographicEntry entry-data - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-8f2c1ad0-ff42-4c40-a57c-9917532c7262'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>DemographicEntry entry-data - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="DemographicEntry entry-data - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-697e8df2-7890-4f44-8442-e7f2beab4425'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-d05d35e1-4452-47a4-a7c5-58d1aac8bf64'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-6f6bb8d8-2f5f-4e97-bdd5-ef9a2eb24ba6' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Yes/No field for the duration of the fever. It should be filled when the date of onset of the fever is not known.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-6f6bb8d8-2f5f-4e97-bdd5-ef9a2eb24ba6'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvBooleanType'/>
    <rdfs:label>Fever duration: 3 weeks or less  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//bvsms.saude.gov.br/bvs/periodicos/boletim_eletronico_epi_ano04_n04.pdf'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Fever duration: 3 weeks or less  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:choice maxOccurs='1' minOccurs='1'>
          <xs:element name='true-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='YES'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name='false-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='NO'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:choice>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-697e8df2-7890-4f44-8442-e7f2beab4425' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-697e8df2-7890-4f44-8442-e7f2beab4425'/>
  <xs:complexType name='pcm-697e8df2-7890-4f44-8442-e7f2beab4425'> <!-- Adapter for: Fever duration: 3 weeks or less  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-6f6bb8d8-2f5f-4e97-bdd5-ef9a2eb24ba6'/> <!-- Reference to: Fever duration: 3 weeks or less  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-fc20baeb-cde1-4e48-a435-8cbdd0744c05' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A test DvBoolean
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-fc20baeb-cde1-4e48-a435-8cbdd0744c05'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvBooleanType'/>
    <rdfs:label>Test DvBoolean  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvBooleanType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Test DvBoolean  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:choice maxOccurs='1' minOccurs='1'>
          <xs:element name='true-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='Yes'/>
                  <xs:enumeration value='Sim'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name='false-value'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                  <xs:enumeration value='No'/>
                  <xs:enumeration value='Não'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:choice>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-d05d35e1-4452-47a4-a7c5-58d1aac8bf64' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-d05d35e1-4452-47a4-a7c5-58d1aac8bf64'/>
  <xs:complexType name='pcm-d05d35e1-4452-47a4-a7c5-58d1aac8bf64'> <!-- Adapter for: Test DvBoolean  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-fc20baeb-cde1-4e48-a435-8cbdd0744c05'/> <!-- Reference to: Test DvBoolean  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-8c917c63-9bfd-4913-96e6-11678968d308' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      The device use in taking a blood pressure measurement.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-8c917c63-9bfd-4913-96e6-11678968d308'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Blood Pressure Device - Testing Use Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/test_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Blood Pressure Device - Testing Use Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Mercury sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-8c917c63-9bfd-4913-96e6-11678968d308#Mercury sphygmomanometer'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-8c917c63-9bfd-4913-96e6-11678968d308'/>
      <rdfs:label>Mercury sphygmomanometer</rdfs:label>
      <rdfs:comment>http://noharm.org/lib/downloads/mercury/Accuracy_Alts_Mercury_Sphyg_rev10-09.pdf</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Aneroid sphygmomanometer'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-8c917c63-9bfd-4913-96e6-11678968d308#Aneroid sphygmomanometer'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-8c917c63-9bfd-4913-96e6-11678968d308'/>
      <rdfs:label>Aneroid sphygmomanometer</rdfs:label>
      <rdfs:comment>http://en.wikipedia.org/wiki/Sphygmomanometer</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Digital'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-8c917c63-9bfd-4913-96e6-11678968d308#Digital'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-8c917c63-9bfd-4913-96e6-11678968d308'/>
      <rdfs:label>Digital</rdfs:label>
      <rdfs:comment>http://www.ncbi.nlm.nih.gov/pubmed/7934182</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-e9cbb207-9e89-416c-8b71-7cdb859b3097' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-e9cbb207-9e89-416c-8b71-7cdb859b3097'/>
  <xs:complexType name='pcm-e9cbb207-9e89-416c-8b71-7cdb859b3097'> <!-- Adapter for: Blood Pressure Device - Testing Use Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-8c917c63-9bfd-4913-96e6-11678968d308'/> <!-- Reference to: Blood Pressure Device - Testing Use Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-86b9ed84-66fd-4934-ba5d-fd23251def3d' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-86b9ed84-66fd-4934-ba5d-fd23251def3d'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Subject of the Entry (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-ab5606be-82d7-4b6d-82aa-7f9352677906'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-ab5606be-82d7-4b6d-82aa-7f9352677906'> 
    <xs:annotation>
    <xs:documentation>
      Generic Details cluster with address elements.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-ab5606be-82d7-4b6d-82aa-7f9352677906'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Address Details (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Address Details (US)  - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-ba9f0692-280f-4ea4-996d-0e5767238191'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-292d5a72-d065-45af-903e-a7afe798ece8'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-b6c0cbb4-6fed-4172-a470-53dca59eba58'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-7065c308-842d-4cd6-a041-374367dc1246'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-64508ffb-066f-406f-9d8e-093417103eb4'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-1fb5aee4-dcb6-460c-888c-251573b557b5'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-e30b92ce-2a07-4429-8759-964cb349c026' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used for additional address lines in the US such as building name or apartment number.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-e30b92ce-2a07-4429-8759-964cb349c026'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Additional Address Line(s) (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Additional Address Line(s) (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-ba9f0692-280f-4ea4-996d-0e5767238191' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-ba9f0692-280f-4ea4-996d-0e5767238191'/>
  <xs:complexType name='pcm-ba9f0692-280f-4ea4-996d-0e5767238191'> <!-- Adapter for: Additional Address Line(s) (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-e30b92ce-2a07-4429-8759-964cb349c026'/> <!-- Reference to: Additional Address Line(s) (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-2d7a26bc-9ad0-46a1-817c-6005cd335db0' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for the City name.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-2d7a26bc-9ad0-46a1-817c-6005cd335db0'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>City Name (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="City Name (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-292d5a72-d065-45af-903e-a7afe798ece8' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-292d5a72-d065-45af-903e-a7afe798ece8'/>
  <xs:complexType name='pcm-292d5a72-d065-45af-903e-a7afe798ece8'> <!-- Adapter for: City Name (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-2d7a26bc-9ad0-46a1-817c-6005cd335db0'/> <!-- Reference to: City Name (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for two character US state abbreviation.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>State Abbreviation (USPS)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="State Abbreviation (USPS)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='AL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#AL'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>AL</rdfs:label>
      <rdfs:comment>Alabama</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AK'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#AK'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>AK</rdfs:label>
      <rdfs:comment>Alaska</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#AS'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>AS</rdfs:label>
      <rdfs:comment>American Samoa</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AZ'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#AZ'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>AZ</rdfs:label>
      <rdfs:comment>Arizona</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#AR'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>AR</rdfs:label>
      <rdfs:comment>Arkansas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#CA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>CA</rdfs:label>
      <rdfs:comment>California</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CO'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#CO'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>CO</rdfs:label>
      <rdfs:comment>Colorado</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#CT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>CT</rdfs:label>
      <rdfs:comment>Connecticut</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#DE'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>DE</rdfs:label>
      <rdfs:comment>Delaware</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#DC'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>DC</rdfs:label>
      <rdfs:comment>District of Columbia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#FM'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>FM</rdfs:label>
      <rdfs:comment>Federated States of Micronesia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#FL'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>FL</rdfs:label>
      <rdfs:comment>Florida</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#GA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>GA</rdfs:label>
      <rdfs:comment>Georgia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GU'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#GU'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>GU</rdfs:label>
      <rdfs:comment>Guam</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='HI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#HI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>HI</rdfs:label>
      <rdfs:comment>Hawaii</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ID'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#ID'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>ID</rdfs:label>
      <rdfs:comment>Idaho</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IL'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#IL'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>IL</rdfs:label>
      <rdfs:comment>Illinois</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#IN'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>IN</rdfs:label>
      <rdfs:comment>Indiana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#IA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>IA</rdfs:label>
      <rdfs:comment>Iowa</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#KS'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>KS</rdfs:label>
      <rdfs:comment>Kansas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#KY'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>KY</rdfs:label>
      <rdfs:comment>Kentucky</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='LA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#LA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>LA</rdfs:label>
      <rdfs:comment>Louisiana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ME'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#ME'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>ME</rdfs:label>
      <rdfs:comment>Maine</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#MH'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>MH</rdfs:label>
      <rdfs:comment>Marshall Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MD'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#MD'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>MD</rdfs:label>
      <rdfs:comment>Maryland</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#MA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>MA</rdfs:label>
      <rdfs:comment>Massachusetts</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#MI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>MI</rdfs:label>
      <rdfs:comment>Michigan</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#MN'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>MN</rdfs:label>
      <rdfs:comment>Minnesota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MS'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#MS'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>MS</rdfs:label>
      <rdfs:comment>Mississippi</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MO'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#MO'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>MO</rdfs:label>
      <rdfs:comment>Missouri</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#MT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>MT</rdfs:label>
      <rdfs:comment>Montana</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#NE'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>NE</rdfs:label>
      <rdfs:comment>Nebraska</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NV'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#NV'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>NV</rdfs:label>
      <rdfs:comment>Nevada</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#NH'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>NH</rdfs:label>
      <rdfs:comment>New Hampshire</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NJ'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#NJ'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>NJ</rdfs:label>
      <rdfs:comment>New Jersey</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#NM'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>NM</rdfs:label>
      <rdfs:comment>New Mexico</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#NY'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>NY</rdfs:label>
      <rdfs:comment>New York</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#NC'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>NC</rdfs:label>
      <rdfs:comment>North Carolina</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ND'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#ND'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>ND</rdfs:label>
      <rdfs:comment>North Dakota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MP'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#MP'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>MP</rdfs:label>
      <rdfs:comment>Northern Mariana Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CM'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#CM'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>CM</rdfs:label>
      <rdfs:comment>Northern Mariana Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OH'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#OH'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>OH</rdfs:label>
      <rdfs:comment>Ohio</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OK'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#OK'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>OK</rdfs:label>
      <rdfs:comment>Oklahoma</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#OR'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>OR</rdfs:label>
      <rdfs:comment>Oregon</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#PA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>PA</rdfs:label>
      <rdfs:comment>Pennsylvania</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PR'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#PR'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>PR</rdfs:label>
      <rdfs:comment>Puerto Rico</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='RI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#RI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>RI</rdfs:label>
      <rdfs:comment>Rhode Island</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SC'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#SC'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>SC</rdfs:label>
      <rdfs:comment>South Carolina</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SD'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#SD'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>SD</rdfs:label>
      <rdfs:comment>South Dakota</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TN'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#TN'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>TN</rdfs:label>
      <rdfs:comment>Tennessee</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TX'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#TX'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>TX</rdfs:label>
      <rdfs:comment>Texas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#TT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>TT</rdfs:label>
      <rdfs:comment>Trust Territory of the Pacific Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#AA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>AA</rdfs:label>
      <rdfs:comment>U.S. Armed Forces – Americas</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AE'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#AE'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>AE</rdfs:label>
      <rdfs:comment>U.S. Armed Forces – Europe</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AP'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#AP'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>AP</rdfs:label>
      <rdfs:comment>U.S. Armed Forces – Pacific</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='UT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#UT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>UT</rdfs:label>
      <rdfs:comment>Utah</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VT'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#VT'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>VT</rdfs:label>
      <rdfs:comment>Vermont</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#VI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>VI</rdfs:label>
      <rdfs:comment>Virgin Islands</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#VA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>VA</rdfs:label>
      <rdfs:comment>Virginia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WA'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#WA'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>WA</rdfs:label>
      <rdfs:comment>Washington</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WV'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#WV'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>WV</rdfs:label>
      <rdfs:comment>West Virginia</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WI'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#WI'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>WI</rdfs:label>
      <rdfs:comment>Wisconsin</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WY'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb#WY'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/>
      <rdfs:label>WY</rdfs:label>
      <rdfs:comment>Wyoming</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-b6c0cbb4-6fed-4172-a470-53dca59eba58' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-b6c0cbb4-6fed-4172-a470-53dca59eba58'/>
  <xs:complexType name='pcm-b6c0cbb4-6fed-4172-a470-53dca59eba58'> <!-- Adapter for: State Abbreviation (USPS)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-cb869c75-dfbe-46c4-b355-3fe2369a1adb'/> <!-- Reference to: State Abbreviation (USPS)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-4616d2bf-9ba2-4293-aed3-ab97eec933f9' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A single line US Street number and name. The typical format is:
123 Main St. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-4616d2bf-9ba2-4293-aed3-ab97eec933f9'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Street Number and Name (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Street Number and Name (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-7065c308-842d-4cd6-a041-374367dc1246' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-7065c308-842d-4cd6-a041-374367dc1246'/>
  <xs:complexType name='pcm-7065c308-842d-4cd6-a041-374367dc1246'> <!-- Adapter for: Street Number and Name (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-4616d2bf-9ba2-4293-aed3-ab97eec933f9'/> <!-- Reference to: Street Number and Name (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-be4fce18-2fab-4716-a956-5fb0d857b0a7' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A US telephone number. Exactly 12 characters; 111-111-1111 with a pattern match of "[0-9]{3}-[0-9]{3}-[0-9]{4}" 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-be4fce18-2fab-4716-a956-5fb0d857b0a7'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Telephone Number (US)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Telephone Number (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string' default='111-111-1111'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '[0-9]{3}-[0-9]{3}-[0-9]{4}')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-64508ffb-066f-406f-9d8e-093417103eb4' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-64508ffb-066f-406f-9d8e-093417103eb4'/>
  <xs:complexType name='pcm-64508ffb-066f-406f-9d8e-093417103eb4'> <!-- Adapter for: Telephone Number (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-be4fce18-2fab-4716-a956-5fb0d857b0a7'/> <!-- Reference to: Telephone Number (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-9280457b-eff5-491a-9137-f3899c33a053' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Used in address cluster for US Zip (postal) Codes. Minimum of 5 characters with a maximum of 10 characters. Accommodates the older 5 character codes or the Zip+4 with the additional 4 characters following a dash. 

Examples:
12345
12345-0987 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-9280457b-eff5-491a-9137-f3899c33a053'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Zip Code (US)  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='https%3A//www.usps.com/'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Zip Code (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^\d{5}([\-]?\d{4})?$')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-1fb5aee4-dcb6-460c-888c-251573b557b5' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-1fb5aee4-dcb6-460c-888c-251573b557b5'/>
  <xs:complexType name='pcm-1fb5aee4-dcb6-460c-888c-251573b557b5'> <!-- Adapter for: Zip Code (US)  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-9280457b-eff5-491a-9137-f3899c33a053'/> <!-- Reference to: Zip Code (US)  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-d7b5ceb8-a76d-49a6-9dcc-ae6c8df7581b' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-d7b5ceb8-a76d-49a6-9dcc-ae6c8df7581b'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Entry Provider (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-ab5606be-82d7-4b6d-82aa-7f9352677906'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-72c8396a-4a73-4348-a5e7-eaea2fd243db' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Entry Participation
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-72c8396a-4a73-4348-a5e7-eaea2fd243db'>
    <rdfs:subClassOf rdf:resource='mlhim2:ParticipationType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ParticipationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Entry Participation  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='performer' type='mlhim2:pcm-0e089c36-c8f4-4f82-9638-239c7bc9264d'/>
          <xs:element maxOccurs='1' minOccurs='0' name='function' type='mlhim2:pcm-02eee140-964c-43b2-be7e-f13e9f56e5ed'/>
          <xs:element maxOccurs='1' minOccurs='0' name='mode' type='mlhim2:pcm-9a9778a1-9675-4b3b-a230-57634955082f'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='start' type='xs:dateTimeStamp'/>
          <xs:element maxOccurs='1' minOccurs='0' name='end' type='xs:dateTimeStamp'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-0e089c36-c8f4-4f82-9638-239c7bc9264d' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-0e089c36-c8f4-4f82-9638-239c7bc9264d'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Participation Performer  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-ab5606be-82d7-4b6d-82aa-7f9352677906'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-02eee140-964c-43b2-be7e-f13e9f56e5ed' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Participation Function
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-02eee140-964c-43b2-be7e-f13e9f56e5ed'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Participation Function - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//xmlns.com/foaf/spec/%23glance'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Participation Function - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='This'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-02eee140-964c-43b2-be7e-f13e9f56e5ed#This'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-02eee140-964c-43b2-be7e-f13e9f56e5ed'/>
      <rdfs:label>This</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/function#This</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='That'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-02eee140-964c-43b2-be7e-f13e9f56e5ed#That'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-02eee140-964c-43b2-be7e-f13e9f56e5ed'/>
      <rdfs:label>That</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/function#That</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Other Thing'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-02eee140-964c-43b2-be7e-f13e9f56e5ed#Other Thing'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-02eee140-964c-43b2-be7e-f13e9f56e5ed'/>
      <rdfs:label>Other Thing</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/function#OtherThing</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-9a9778a1-9675-4b3b-a230-57634955082f' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic definition that the participation mode is some type of agent. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-9a9778a1-9675-4b3b-a230-57634955082f'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Participation Mode - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Participation Mode - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Doctor'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-9a9778a1-9675-4b3b-a230-57634955082f#Doctor'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-9a9778a1-9675-4b3b-a230-57634955082f'/>
      <rdfs:label>Doctor</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/mode#Doctor</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='Baker'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-9a9778a1-9675-4b3b-a230-57634955082f#Baker'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-9a9778a1-9675-4b3b-a230-57634955082f'/>
      <rdfs:label>Baker</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/mode#Baker</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CandlestickMaker'>
                  <xs:annotation>
                    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:pcm-9a9778a1-9675-4b3b-a230-57634955082f#CandlestickMaker'>
      <rdfs:subPropertyOf rdf:resource='s3m:pcm-9a9778a1-9675-4b3b-a230-57634955082f'/>
      <rdfs:label>CandlestickMaker</rdfs:label>
      <rdfs:comment>http://www.mlhim.org/mode#CandlestickMaker</rdfs:comment>    </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-b83c7c80-1022-48d8-b72f-de4fecdffb5b' xml:lang='pt-BR'> 
    <xs:annotation>
    <xs:documentation>
      Outros
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-b83c7c80-1022-48d8-b72f-de4fecdffb5b'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Outros</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Outros"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='pt-BR'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-ced24000-62f1-442a-a5b5-3cc1c4d51077' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      The link points to the workflow definition
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-ced24000-62f1-442a-a5b5-3cc1c4d51077'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvLinkType'/>
    <rdfs:label>Workflow ID  - Testing Only</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/IAO_0000178'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvLinkType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Workflow ID  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='link' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='material information bearer'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation-uri' type='xs:anyURI' fixed='Needs a URI'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-66f86a76-360a-4952-999c-4b1c1b5f0a59' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      Test audit for  - Testing Only
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-66f86a76-360a-4952-999c-4b1c1b5f0a59'>
    <rdfs:subClassOf rdf:resource='mlhim2:AuditType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AuditType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Audit Test  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='1' name='system-id' type='mlhim2:pcm-607c6f29-49ce-4dee-8a8f-51401144dd4e'/>
          <xs:element maxOccurs='1' minOccurs='0' name='system-user' type='mlhim2:pcm-f182befe-7392-48e6-af28-4822688049d1'/>
          <xs:element maxOccurs='1' minOccurs='0' name='location' type='mlhim2:pcm-7724e9f7-293a-4c40-98c2-df568aab6e76'/>
          <xs:element maxOccurs='1' minOccurs='1' name='timestamp' type='xs:dateTimeStamp'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-607c6f29-49ce-4dee-8a8f-51401144dd4e' xml:lang='pt-BR'> 
    <xs:annotation>
    <xs:documentation>
      Outras Neoplasias
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-607c6f29-49ce-4dee-8a8f-51401144dd4e'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>Outras Neoplasias</rdfs:label>
    <rdfs:isDefinedBy rdf:resource='ftp%3A//ftp.datasus.gov.br/siscam/siscolo/Manual_SisColo4_Coordenacao.zip'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Outras Neoplasias"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='pt-BR'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-f182befe-7392-48e6-af28-4822688049d1' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-f182befe-7392-48e6-af28-4822688049d1'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Audit Details Provider (US)  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-ab5606be-82d7-4b6d-82aa-7f9352677906'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-7724e9f7-293a-4c40-98c2-df568aab6e76'> 
    <xs:annotation>
    <xs:documentation>
      Generic location structure. Uses decimal format WGS84 lat/lon coordinates.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-7724e9f7-293a-4c40-98c2-df568aab6e76'>
    <rdfs:subClassOf rdf:resource='mlhim2:ClusterType'/>
    <rdfs:label>Latitude/Longitude Location (WGS84)  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Latitude/Longitude Location (WGS84)  - Testing Only"/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-494fc0e0-0977-4523-9272-fec73912a4e7'/>
      <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:pcs-680d23bb-eacd-4308-a272-315ccdd68b3f'/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name='pcm-5bc6e2e3-1ed7-4624-b71c-0279dd07b960' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Matches a latitude in the range of -90 to 90 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-5bc6e2e3-1ed7-4624-b71c-0279dd07b960'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>System Location Latitude  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="System Location Latitude  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^-?([1-8]?[0-9]\.{1}\d{1,6}$|90\.{1}0{1,6}$)')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-494fc0e0-0977-4523-9272-fec73912a4e7' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-494fc0e0-0977-4523-9272-fec73912a4e7'/>
  <xs:complexType name='pcm-494fc0e0-0977-4523-9272-fec73912a4e7'> <!-- Adapter for: System Location Latitude  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-5bc6e2e3-1ed7-4624-b71c-0279dd07b960'/> <!-- Reference to: System Location Latitude  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='pcm-c4481c64-c28e-40cd-8a39-45b8f0a9b1cd' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      Matches a longitude in the range of -180 to 180 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-c4481c64-c28e-40cd-8a39-45b8f0a9b1cd'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvStringType'/>
    <rdfs:label>System Location Longitude  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="System Location Longitude  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='dvstring-value' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvstring-language' type='xs:language' default='en-US'/>
          </xs:sequence>
          <xs:assert test="matches(dvstring-value, '^-?((([1]?[0-7][0-9]|[1-9]?[0-9])\.{1}\d{1,6}$)|[1]?[1-8][0]\.{1}0{1,6}$)')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='pcs-680d23bb-eacd-4308-a272-315ccdd68b3f' substitutionGroup='mlhim2:Items' type='mlhim2:pcm-680d23bb-eacd-4308-a272-315ccdd68b3f'/>
  <xs:complexType name='pcm-680d23bb-eacd-4308-a272-315ccdd68b3f'> <!-- Adapter for: System Location Longitude  - Testing Only -->
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvAdapterType'>
        <xs:sequence>
          <xs:element  maxOccurs='unbounded' minOccurs='0' ref='mlhim2:pcs-c4481c64-c28e-40cd-8a39-45b8f0a9b1cd'/> <!-- Reference to: System Location Longitude  - Testing Only -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='pcm-95fc355e-50c7-4434-9c06-2a983e8bb13e' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic attestation. 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-95fc355e-50c7-4434-9c06-2a983e8bb13e'>
    <rdfs:subClassOf rdf:resource='mlhim2:AttestationType'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AttestationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='view' type='mlhim2:pcm-2cd70ea9-6d12-4fbc-af7c-ed7e90ba9d07'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='proof' type='mlhim2:pcm-687bb47c-374e-47eb-8cc7-08b963b84d03'/> 
          <xs:element maxOccurs='1' minOccurs='0' name='committer' type='mlhim2:pcm-03cf529e-9ba6-4d78-80de-2c89a7a8c4c9'/>
          <xs:element maxOccurs='1' minOccurs='0' name='committed' type='xs:dateTimeStamp'/>
          <xs:element maxOccurs='1' minOccurs='1' default='true' name='pending' type='xs:boolean'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-2cd70ea9-6d12-4fbc-af7c-ed7e90ba9d07' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation view.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-2cd70ea9-6d12-4fbc-af7c-ed7e90ba9d07'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvFileType'/>
    <rdfs:label>Attestation View  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvFileType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation View  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvfile-language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='formalism' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' name='media-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='compression-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-result' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-function' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='alt-txt' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' name='media-content' type='xs:base64Binary'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-687bb47c-374e-47eb-8cc7-08b963b84d03' xml:lang='en-US'>
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation proof document.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-687bb47c-374e-47eb-8cc7-08b963b84d03'>
    <rdfs:subClassOf rdf:resource='mlhim2:DvFileType'/>
    <rdfs:label>Proof  - Testing Only</rdfs:label>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvFileType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Proof  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vtb' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='vte' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='dvfile-language' type='xs:language' default='en-US'/>
          <xs:element maxOccurs='1' minOccurs='0' name='formalism' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' name='media-type'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='text/html'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='compression-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-result' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-function' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='alt-txt' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='1' name='text-content' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='pcm-03cf529e-9ba6-4d78-80de-2c89a7a8c4c9' xml:lang='en-US'> 
    <xs:annotation>
    <xs:documentation>
      A generic Entry provider.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='http://www.mlhim.org/ns/mlhim2:pcm-03cf529e-9ba6-4d78-80de-2c89a7a8c4c9'>
    <rdfs:subClassOf rdf:resource='mlhim2:PartyType'/>
    <rdfs:isDefinedBy rdf:resource='http%3A//www.mlhim.org/generic_pcts'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='label' type='xs:string' fixed="Attestation Committer  - Testing Only"/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='party-details' type='mlhim2:pcm-ab5606be-82d7-4b6d-82aa-7f9352677906'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>


<!-- Substitution Groups -->
  <xs:element name="pcs-8c917c63-9bfd-4913-96e6-11678968d308" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-8c917c63-9bfd-4913-96e6-11678968d308"/>
  <xs:element name="pcs-4616d2bf-9ba2-4293-aed3-ab97eec933f9" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-4616d2bf-9ba2-4293-aed3-ab97eec933f9"/>
  <xs:element name="pcs-2d7a26bc-9ad0-46a1-817c-6005cd335db0" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-2d7a26bc-9ad0-46a1-817c-6005cd335db0"/>
  <xs:element name="pcs-6f6bb8d8-2f5f-4e97-bdd5-ef9a2eb24ba6" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-6f6bb8d8-2f5f-4e97-bdd5-ef9a2eb24ba6"/>
  <xs:element name="pcs-72c8396a-4a73-4348-a5e7-eaea2fd243db" substitutionGroup="mlhim2:Participation" type="mlhim2:pcm-72c8396a-4a73-4348-a5e7-eaea2fd243db"/>
  <xs:element name="pcs-8f2c1ad0-ff42-4c40-a57c-9917532c7262" substitutionGroup="mlhim2:Item" type="mlhim2:pcm-8f2c1ad0-ff42-4c40-a57c-9917532c7262"/>
  <xs:element name="pcs-acf24b5c-7973-4337-976d-1f84ef38ff92" substitutionGroup="mlhim2:Definition" type="mlhim2:pcm-acf24b5c-7973-4337-976d-1f84ef38ff92"/>
  <xs:element name="pcs-9280457b-eff5-491a-9137-f3899c33a053" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-9280457b-eff5-491a-9137-f3899c33a053"/>
  <xs:element name="pcs-634143df-bff2-42b5-84d6-a20040fcda22" substitutionGroup="mlhim2:DvLink" type="mlhim2:pcm-634143df-bff2-42b5-84d6-a20040fcda22"/>
  <xs:element name="pcs-5bc6e2e3-1ed7-4624-b71c-0279dd07b960" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-5bc6e2e3-1ed7-4624-b71c-0279dd07b960"/>
  <xs:element name="pcs-c4481c64-c28e-40cd-8a39-45b8f0a9b1cd" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-c4481c64-c28e-40cd-8a39-45b8f0a9b1cd"/>
  <xs:element name="pcs-30cba7ce-d56e-491a-ab92-076cfe52e2b0" substitutionGroup="mlhim2:DvLink" type="mlhim2:pcm-30cba7ce-d56e-491a-ab92-076cfe52e2b0"/>
  <xs:element name="pcs-be4fce18-2fab-4716-a956-5fb0d857b0a7" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-be4fce18-2fab-4716-a956-5fb0d857b0a7"/>
  <xs:element name="pcs-cb869c75-dfbe-46c4-b355-3fe2369a1adb" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-cb869c75-dfbe-46c4-b355-3fe2369a1adb"/>
  <xs:element name="pcs-e30b92ce-2a07-4429-8759-964cb349c026" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-e30b92ce-2a07-4429-8759-964cb349c026"/>
  <xs:element name="pcs-fc20baeb-cde1-4e48-a435-8cbdd0744c05" substitutionGroup="mlhim2:DvAdapter-value" type="mlhim2:pcm-fc20baeb-cde1-4e48-a435-8cbdd0744c05"/>

</xs:schema>
